---
// const {}
---


<section class="fab-hero splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide fab-hero-slide">
                  <figure>
                    <picture>
                      <source srcset="/img/hero/package/1.jpg" media="(max-width: 767.99px)">
                      <source srcset="/img/hero/package/1.jpg" media="(min-width: 768)">
                      <img src="/img/hero/package/1.jpg" alt="Абстрактное изображение">
                    </picture>
                    <figcaption>
                        <h2>Упаковка крышка-дно</h2>
                        <p>Упаковка состоит из нижней части-дна и крышки, которая скрывает содержимое коробки. Подходит для подарочных и сувенирных наборов, косметики, товаров ручной работы, шоколада, кондитерской продукции и тому подобных.</p>
                    </figcaption>
                  </figure>
                </li>
            </ul>
    </div>
</section>
<style lang="scss">
    .fab-hero {
      @media (max-width:797.99px) {
        grid-column: full-width;
      }
    }
    .splide__pagination__page {
        border-radius: 0;
    }
    .fab-hero-slide {
      position: relative;
      & figcaption {
        display: flex;
        flex-direction: column;
        row-gap: .7rem;
        padding: .7rem .7rem 1rem;
        position: absolute;
        left: 4rem;
        top: 50%;
        transform: translateY(-50%);
        max-width: 35rem;
        & h2 {
          font-size: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
        }
        & p {
          font-size: .85rem;
          font-weight: 700;
          @media (min-width: 768px) {
            font-size: 1.25rem;
            font-weight: 400;
          }
        }

        @media (min-width: 768px) {
          row-gap: 2rem;
          padding: 2rem 2rem 2.25rem;
        }

        @media (max-width: 991.99px) {
          left: 2rem;
          right: 2rem;
          max-width: inherit;
        }
      }
    }
</style>
<script src="./splide.min.js" is:inline></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var splide = new Splide(".fab-hero", {
      type: "fade",
      rewind: true,
      arrows: false,
      autoplay: true,
      interval: 4000,
      lazyLoad: "nearby",
      pagination: true,
    });
    splide.mount();
    // document
    //   .querySelector(".cb-hero-pagitation")
    //   .style.setProperty("--count", splide.length);

    // splide.on("move", function (e) {
    //   document
    //     .querySelector(".cb-hero-pagitation")
    //     .style.setProperty("--position", e + 1);
    // });
  });
</script>