---
import Icon from "../Icon.astro";
import StageWorkItem from "./StageWorkItem.astro";
---

<section class="fab-steps-works">
    <h2>Этапы работ</h2>
    <div class="fab-steps-works-row fab-scrollbar">
        <StageWorkItem src="https://static0.wow2print.com/storage/119/content/image/16521613176851042e922e21.21495673.jpg"
            title="Разработка конструкции и макета"
            description="Создаем «беляк» — пробную коробку. Готовим чертежи и макет, по которым будет производиться упаковка."
        />
        <Icon id="arrow-step" width="72" height="28" />
        <StageWorkItem src="https://static0.wow2print.com/storage/119/content/image/5553947796851042ed8b4f9.25488035.jpg"
            title="Согласование и расчет"
            description="Обсуждаем финальную конструкцию, считаем стоимость. Заключаем договор, вы получаете образец в тиражных материалах"
        />
        <Icon id="arrow-step" width="72" height="28" />
        <StageWorkItem src="https://static0.wow2print.com/storage/119/content/image/4981454846851042f1b26d1.13984111.jpg"
            title="Производство и отгрузка"
            description="Закупаем материалы, готовим оборудование. Запускаем тираж, проверяем качество, собираем и упаковываем. Отгружаем в срок"
        />
    </div>
</section>

<style lang="scss" is:global>
    .fab-steps-works svg {
        min-width: clamp(3rem, 2.4718rem + 2.2535vw, 4.5rem);
        margin: 4rem 0 0;
    }
    .fab-steps-works-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        column-gap: 1rem;
        overflow-x: auto;
        
    }
</style>