---
import replaceSpacesAfterPrepositions from "../../scripts/words";

const { src, title, description, num } = Astro.props;
---

<div class="cb-fab-card">
    <img src={src} alt="">
    <div class="cb-card-wrap">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>

<style lang="scss" is:global>
    .cb-fab-card {
        // width: clamp(12.5rem, 11.3571rem + 5.7143vw, 16.5rem);
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        & h3 {
            font-size: var(--size-h3);
        }

        & p {

        }

        & :is(h3, p) {
            color: var(--color-black);
        }

        & img {
            display: block;
            // aspect-ratio: 1/1;
            object-fit: cover;
        }
        @media (max-width: 991.99px) {
            min-width: clamp(12.5rem, 11.3571rem + 5.7143vw, 16.5rem);
        }
    }

    .cb-card-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        flex: 1;
        padding: 1.5rem!important;
        border: 1px solid var(--color-gray-2);
    }
</style>