<link href="/css/landing-package-v2.css" rel="stylesheet" />
<link href="/css/custom-grid.css" rel="stylesheet" />
<link href="/splide.min.css" rel="stylesheet" />
<style>
  .fab-ready-works .splide__arrow {
    background: transparent;
    outline: none;
    border: none;
  }
</style>
<style>
  .fab-card {
    background-color: var(--color-gray-2);
  }
  .fab-card-foil {
    border-radius: 999px;
    transform: scale(0.6);
  }
  .fab-card-foil {
    background-color: var(--color-white);
  }
  .cb-card-wrap {
    background-color: var(--color-white);
  }
</style>
<div class="fab-page">
  <h1 class="visually-hidden">Отделка</h1>
  <div class="content-grid">
    <div
      class="one-hero-banner"
      data-id="construction-1"
      style="
                --mobile-background: url(https://static0.wow2print.com/storage/119/content/image/495508657684fd482e38c20.39913330.webp);
                --desktop-background: url(https://static0.wow2print.com/storage/119/content/image/866875136688cc14ad95620.74124472.webp);
                --background-size: 190%;
                --background-position: 30% 80%;
              "
    >
      <div class="one-hero-banner-text">
        <strong class="h1">Тиснение</strong>
        <p>
          Это декоративный визуальный эффект, особенные ощущения, тактильный
          опыт, который создает глубокую эмоциональную связь с продуктом
        </p>
      </div>
    </div>
    <div
      class="one-hero-banner"
      data-id="construction-2"
      hidden
      style="
                --mobile-background: url(https://static0.wow2print.com/storage/119/content/image/495508657684fd482e38c20.39913330.webp);
                --desktop-background: url(https://static0.wow2print.com/storage/119/content/image/866875136688cc14ad95620.74124472.webp);
                --background-size: 190%;
                --background-position: 30% 80%;
              "
    >
      <div class="one-hero-banner-text">
        <strong class="h1">3D-фольга</strong>
        <p>
          Технология цифровой отделки для декорирования полиграфической
          продукции, которая позволяет достичь визуального эффекта объёмной
          фольги на конкретных участках дизайнерского макета. Даёт возможность
          почувствовать рельефную текстуру на ощупь, делая поверхность тактильно
          привлекательной; также позволяет акцентировать внимание на отдельных
          деталях благодаря усиленному блеску и мерцанию
        </p>
      </div>
    </div>
    <div
      class="one-hero-banner"
      data-id="construction-3"
      hidden
      style="
                --mobile-background: url(https://static0.wow2print.com/storage/119/content/image/495508657684fd482e38c20.39913330.webp);
                --desktop-background: url(https://static0.wow2print.com/storage/119/content/image/866875136688cc14ad95620.74124472.webp);
                --background-size: 190%;
                --background-position: 30% 80%;
              "
    >
      <div class="one-hero-banner-text">
        <strong class="h1">3D-лак</strong>
        <p>
          3D-лак представляет собой объёмную структуру сложной формы,
          напоминающую "каплю". Свет, отражаясь от неё, рассеивается в различных
          направлениях. Это технология цифрового выборочного лакирования,
          в данном случае без изготовления дополнительных форм и клише
        </p>
      </div>
    </div>
    <div
      class="one-hero-banner"
      data-id="construction-4"
      hidden
      style="
                --mobile-background: url(https://static0.wow2print.com/storage/119/content/image/495508657684fd482e38c20.39913330.webp);
                --desktop-background: url(https://static0.wow2print.com/storage/119/content/image/866875136688cc14ad95620.74124472.webp);
                --background-size: 190%;
                --background-position: 30% 80%;
              "
    >
      <div class="one-hero-banner-text">
        <strong class="h1">Шелкотрафарет</strong>
        <p>
          Метод нанесения оттисков посредством продавливания краски
          через трафарет с мелкими ячейками. Эта технология находит широкое
          применение в изготовлении небольших тиражей рекламной продукции, а
          также при создании упаковки и прочих изделий
        </p>
      </div>
    </div>
    <div
      class="one-hero-banner"
      data-id="construction-5"
      hidden
      style="
                --mobile-background: url(https://static0.wow2print.com/storage/119/content/image/495508657684fd482e38c20.39913330.webp);
                --desktop-background: url(https://static0.wow2print.com/storage/119/content/image/866875136688cc14ad95620.74124472.webp);
                --background-size: 190%;
                --background-position: 30% 80%;
              "
    >
      <div class="one-hero-banner-text">
        <strong class="h1">Ламинирование</strong>
        <p>
          Процесс покрытия печатной продукции защитной плёнкой, улучшает внешний
          вид, предохраняет изделие от внешних воздействий. Плёнка служит
          барьером против влаги, царапин, износа, загрязнений и увеличивает
          долговечность продукции
        </p>
      </div>
    </div>
    <div
      class="one-hero-banner"
      data-id="construction-6"
      hidden
      style="
                --mobile-background: url(https://static0.wow2print.com/storage/119/content/image/495508657684fd482e38c20.39913330.webp);
                --desktop-background: url(https://static0.wow2print.com/storage/119/content/image/866875136688cc14ad95620.74124472.webp);
                --background-size: 190%;
                --background-position: 30% 80%;
              "
    >
      <div class="one-hero-banner-text">
        <strong class="h1">УФ‑лак выборочный</strong>
        <p>
          Процесс нанесения специального лака с ультрафиолетовым воздействием
          на конкретные области печатного изделия
        </p>
      </div>
    </div>
    <!-- <code>
    {JSON.stringify(packageTypes)}
</code> -->
    <section class="constructions-switch">
      <h2>Виды отделки</h2>
      <div class="constructions-switch-wrap fab-scrollbar">
        <label for="construction-1"
          ><input
            type="radio"
            id="construction-1"
            name="construction"
            checked
            data-tag="embossing"
            hidden
          />
          <div data-tab="embossing" class="construction-item">
            <img
              height="130"
              src="https://static0.wow2print.com/storage/119/content/image/1657458182688877f15f6f91.88189097.webp"
            /><span>Тиснение</span>
          </div></label
        ><label for="construction-2"
          ><input
            type="radio"
            id="construction-2"
            name="construction"
            data-tag="3d-foil"
            hidden
          />
          <div data-tab="3d-foil" class="construction-item">
            <img
              height="130"
              src="https://static0.wow2print.com/storage/119/content/image/1814726638688877f25c23d1.91560427.webp"
            /><span>3D-фольга</span>
          </div></label
        ><label for="construction-3"
          ><input
            type="radio"
            id="construction-3"
            name="construction"
            data-tag="3d-varnish"
            hidden
          />
          <div data-tab="3d-varnish" class="construction-item">
            <img
              height="130"
              src="https://static0.wow2print.com/storage/119/content/image/2081834511688877f2959715.27094022.webp"
            /><span>3D-лак</span>
          </div></label
        ><label for="construction-4"
          ><input
            type="radio"
            id="construction-4"
            name="construction"
            data-tag="silk-screen-printing"
            hidden
          />
          <div data-tab="silk-screen-printing" class="construction-item">
            <img
              height="130"
              src="https://static0.wow2print.com/storage/119/content/image/1424356858688877f2ebf949.72079557.webp"
            /><span>Шелкотрафарет</span>
          </div></label
        ><label for="construction-5"
          ><input
            type="radio"
            id="construction-5"
            name="construction"
            data-tab="lamination"
            hidden
          />
          <div data-tab="lamination" class="construction-item">
            <img
              height="130"
              src="https://static0.wow2print.com/storage/119/content/image/1158446297688877f3328e29.35818594.webp"
            /><span>Ламинирование</span>
          </div></label
        ><label for="construction-6"
          ><input
            type="radio"
            id="construction-6"
            name="construction"
            data-tag="uv-varnish"
            hidden
          />
          <div data-tab="uv-varnish" class="construction-item">
            <img
              height="130"
              src="https://static0.wow2print.com/storage/119/content/image/1345911202688877f37609c9.15217908.webp"
            /><span>Выборочный УФ-лак</span>
          </div></label
        >
      </div>
    </section>

    <div
      class="fab-announce"
      data-id="construction-1"
      style="
                --max-width: 32.25rem;
                --margin-block: 0 auto;
                --font-size: 1.5rem;
              "
    >
      <h2>
        Тиснение и сочетание текстур придают изделию статусность, премиальность
         и роскошь
      </h2>
    </div>
    <div
      class="fab-announce"
      data-id="construction-2"
      hidden
      style="
                --max-width: 32.25rem;
                --margin-block: 0 auto;
                --font-size: 1.5rem;
              "
    >
      <h2>
        Шик, блеск, красота. Особая технология для реализации самых сложных
        дизайнерских решений
      </h2>
    </div>
    <div
      class="fab-announce"
      data-id="construction-3"
      hidden
      style="
                --max-width: 32.25rem;
                --margin-block: 0 auto;
                --font-size: 1.5rem;
              "
    >
      <h2>
        Блестящее воплощение любых идей. Разнообразные техники для впечатляющих
        акцентов
      </h2>
    </div>
    <div
      class="fab-announce"
      data-id="construction-4"
      hidden
      style="
                --max-width: 32.25rem;
                --margin-block: 0 auto;
                --font-size: 1.5rem;
              "
    >
      <h2>
        Насыщенные цвета, разнообразие фактур для создания адаптивного  и
        многофункционального дизайна
      </h2>
    </div>
    <div
      class="fab-announce"
      data-id="construction-5"
      hidden
      style="
                --max-width: 32.25rem;
                --margin-block: 0 auto;
                --font-size: 1.5rem;
              "
    >
      <h2>Декоративный эффект  и тактильные ощущения</h2>
    </div>
    <div
      class="fab-announce"
      data-id="construction-6"
      hidden
      style="
                --max-width: 32.25rem;
                --margin-block: 0 auto;
                --font-size: 1.5rem;
              "
    >
      <h2>Блеск и глянец на любых формах и поверхностях</h2>
    </div>
    <section>
      <h2>Реализованные проекты</h2>
      <section class="fab-ready-works splide" data-id="construction-1">
        <div class="fab-ready-works-row splide__track">
          <div class="splide__list">
            <a class="splide__slide" href="/miuzsticker">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/353666225642572fdcc5bd1.56716283.jpg"
                alt="Упаковка Московского ювелирного завода"
              />
            </a><a class="splide__slide" href="/upakovka-lamoda-2">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/9894610295ef5f58ff226c3.54946196.jpg"
                alt="Упаковка Lamoda 2"
              />
            </a><a class="splide__slide" href="/upakovka-sublime">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/7368859825ef4ac27d49aa4.38509122.jpg"
                alt="Упаковка Sublime"
              />
            </a><a class="splide__slide" href="/regaleali">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/14619967206425714d0007a5.10689396.jpg"
                alt="Упаковка для вина Regaleali"
              />
            </a>
          </div>
        </div>
        <div class="splide__arrows splide__arrows--ltr">
          <button
            class="splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
          <button
            class="splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
        </div>
      </section>
      <section class="fab-ready-works splide" data-id="construction-2" hidden>
        <div class="fab-ready-works-row splide__track">
          <div class="splide__list">
            <a class="splide__slide" href="/fso">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/1196195398642573446247f5.80410510.jpg"
                alt="Упаковка для сувениров"
              />
            </a><a class="splide__slide" href="/publicsgroupe">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/2000444715622b2e07613026.45615947.jpg"
                alt="Упаковка Publicis Groupe"
              />
            </a><a class="splide__slide" href="/cellooe_cart">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/139389396642d5b0a53d3a6.89492899.jpg"
                alt="Упаковка CellooE"
              />
            </a><a class="splide__slide" href="/bosco-cafe-small">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/123201399864340fe5da98f6.01987862.jpg"
                alt="Упаковка Bosco Cafe"
              />
            </a>
          </div>
        </div>
        <div class="splide__arrows splide__arrows--ltr">
          <button
            class="splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
          <button
            class="splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
        </div>
      </section>

      <section class="fab-ready-works splide" data-id="construction-3" hidden>
        <div class="fab-ready-works-row splide__track">
          <div class="splide__list">
            <a class="splide__slide" href="/upakovka-5">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/16486856495eecc096f0b2a3.96256599.jpg"
                alt="Упаковка для вина 5"
              />
            </a><a class="splide__slide" href="/upakovka-pherolab">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/9188266375f47c3ac2881b2.84561360.jpg"
                alt="Упаковка Pherolab"
              />
            </a><a class="splide__slide" href="/auchetoshan1">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/140527759864257167568a78.97552302.jpg"
                alt="Упаковка для виски 1"
              />
            </a><a class="splide__slide" href="/upakovka-skinceuticals-2">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/4193518255ef4b731b9e597.86896328.jpg"
                alt="Упаковка Skinceuticals 2"
              />
            </a>
          </div>
        </div>
        <div class="splide__arrows splide__arrows--ltr">
          <button
            class="splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
          <button
            class="splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
        </div>
      </section>

      <section class="fab-ready-works splide" data-id="construction-4" hidden>
        <div class="fab-ready-works-row splide__track">
          <div class="splide__list">
            <a class="splide__slide" href="/newyearpack">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/19005715365efee119220bb6.53133790.jpg"
                alt="Упаковка для новогоднего подарка"
              />
            </a><a class="splide__slide" href="/vine-no-lable">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/2156882405eecc0aa8163d2.48047057.jpg"
                alt="Упаковка No Label"
              />
            </a><a class="splide__slide" href="/upakovka-vtb-5">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/9072156225f042b98986c42.17496810.jpg"
                alt="Упаковка ВТБ"
              />
            </a><a class="splide__slide" href="/upakovka-isaia">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/990115805efd990a9b1f36.97404976.jpg"
                alt="Упаковка Isaia"
              />
            </a>
          </div>
        </div>
        <div class="splide__arrows splide__arrows--ltr">
          <button
            class="splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
          <button
            class="splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
        </div>
      </section>

      <section class="fab-ready-works splide" data-id="construction-5" hidden>
        <div class="fab-ready-works-row splide__track">
          <div class="splide__list">
            <a class="splide__slide" href="/upakovka-montcarotte">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/10822318445efee5587d3c02.98447196.jpg"
                alt="Упаковка Montcarotte"
              />
            </a><a class="splide__slide" href="/montcarotte-seria">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/9752082435f17f0b00f99f2.78320761.jpg"
                alt="Упаковка Montcarotte"
              />
            </a><a class="splide__slide" href="/upakovka-skinceuticals-2">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/4193518255ef4b731b9e597.86896328.jpg"
                alt="Упаковка Skinceuticals 2"
              />
            </a><a class="splide__slide" href="/smartpro">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/6157009155efb4e92e580e4.42252550.jpg"
                alt="Упаковка SmartPro"
              />
            </a>
          </div>
        </div>
        <div class="splide__arrows splide__arrows--ltr">
          <button
            class="splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
          <button
            class="splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
        </div>
      </section>

      <section class="fab-ready-works splide" data-id="construction-6" hidden>
        <div class="fab-ready-works-row splide__track">
          <div class="splide__list">
            <a class="splide__slide" href="/upakovka-logic-3">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/18998625175ef5b5899bf7b0.49811981.jpg"
                alt="Упаковка Logic"
              />
            </a><a class="splide__slide" href="/upakovka-pherolab">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/9188266375f47c3ac2881b2.84561360.jpg"
                alt="Упаковка Pherolab"
              />
            </a><a class="splide__slide" href="/upakovka-army-clutch">
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/5112892825f5b49a30bce77.77363647.jpg"
                alt="Упаковка Army"
              />
            </a><a
              class="splide__slide"
              href="/packing-transformer-for-givenchy"
            >
              <img
                data-splide-lazy="https://static0.wow2print.com/storage/119/content/image/1427851382642d849c8d6691.88071695.jpg"
                alt="Упаковка Givenchy"
              />
            </a>
          </div>
        </div>
        <div class="splide__arrows splide__arrows--ltr">
          <button
            class="splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
          <button
            class="splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
            <svg class="icon undefined" width="20" height="40">
              <use xlink:href="#arrow-slider"></use>
            </svg>
          </button>
        </div>
      </section>
    </section>
    <div data-id="construction-1">
      <div
        class="fab-custom-grid"
        style="
                  --grid-template-columns: repeat(2, 1fr);
                  margin: undefined;
                  padding: undefined;
                "
      >
        <div>
          <h2>Тиснение</h2>
          <p>
            Это эффектный способ придать продукции стильный и дорогой вид.
            Золото, серебро, металлики и цветные оттенки делают дизайн акцентным
            и выразительным.  Рельефное тиснение приятно на ощупь и добавляет
            премиальности и тактичности. Сочетание слоев фольги и рельефных форм
            создают уникальные и сложные эффекты и глубину.  Широкий выбор
            матовой, глянцевой, голографичесой, текстурной фольги на любой
            вкус.Собственный запас фольги разных цветов и фактур — это ускоряет
            производство и дает клиентам больше возможностей для креатива
          </p>
        </div>
        <div>
          <h2>Как происходит процесс</h2>
          <p>
            Создание изображения на бумаге, картоне или полимерном материале
            методом давления штампа при нагреве. Тиснение осуществляют в
            основном на декора упаковки, переплетных крышках, открытках,
            приглашениях
          </p>
        </div>
      </div>
    </div>
    <section data-id="construction-1">
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Виды тиснения</h2>
        </div>
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/120947797684d1c5518a616.05036591.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Тиснение фольгой</h3>
              <p>
                Создание изображения на бумаге, картоне или полимерном материале
                методом давления штампа при нагреве. Тиснение осуществляют
                в основном на переплетных крышках, открытках, приглашениях
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1222277665688782a67551f4.16525046.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Блинтовое тиснение</h3>
              <p>
                Тиснение плоским штампом без краски и фольги с нагревом или без
                него. Обычно используется для оформления переплетных крышек
                изданий, открыток, пригласительных билетов
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1274129740688782a69d5199.58777239.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Конгревное с фольгой</h3>
              <p>
                Эффектное сочетание, при котором изображение имеет рельеф
                и объем, но и приобретает металлический блеск или цветное
                покрытие
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              src="https://static0.wow2print.com/storage/119/content/image/20389090266890d2d942cad9.21225222.webp"
              class="lazy-img"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Конгревное тиснение</h3>
              <p>
                Получение рельефного изображения без краски и фольги
                при локальном сжатии детали между нагретыми штампом
                и контрштампом (пуансоном и матрицей). Является эффектным
                приемом декора
              </p>
            </div>
          </div>
        </div>
      </div>
      <script type="module">
        document.querySelectorAll(".fab-accordion-header").forEach((o) => {
          o.addEventListener("click", () => {
            const c = o
                .closest(".fab-accordion")
                .querySelector(".fab-accordion-wrap"),
              a = o.querySelector(".icon");
            c.classList.toggle("open"),
              a.classList.toggle("open"),
              c.classList.contains("open") && r(c);
          });
        });
        function r(o) {
          o.querySelectorAll("img[data-card-src]").forEach((c) => {
            if (!c.src && c.dataset.cardSrc) {
              const a = c.dataset.cardSrc,
                s = new Image();
              (s.onload = () => {
                (c.src = a), c.classList.add("loaded");
              }),
                (s.src = a);
            }
          });
        }
      </script>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Виды клише</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/270480082688782a6d0f767.71053207.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Латунное</h3>
              <p>
                Профессиональная печатная форма из латуни, используется
                для различных видов тиснения. Позволяет наносить сложные
                рельефные изображения. Обладает высокой точностью,
                долговечностью. Выполняются на фрезерно-гравировальном
                оборудовании
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/779591607688782a732bdc8.74517406.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Магниевое</h3>
              <p>
                Специальная металлическая форма из магния для тиснения на мягких
                материалах. Имеет невысокую стоимость, быстро в изготовлении
                и имеет лёгкий вес
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Виды фольги</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/191979267688782a75f15e7.06417061.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Металлизированная</h3>
              <p>
                Фольга золотых, серебряных и цветных оттенков и цветов,
                глянцевая и матовая с металлическим блеском. Обладает
                универсальными кроющими характеристиками,  применяется
                в полиграфии при работе с разными переплетными материалами
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/583837325688782a78c3bf9.64901678.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Пигментная</h3>
              <p>
                Имеет множество цветов и оттенков, без блеска. Широко
                применяется в полиграфии при работе с разными переплетными
                материалами
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Материалы для тиснения</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2084893495688c4c8cc0fe20.12639057.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованный картон</h3>
              <p>
                Целлюлозный  многослойный материал, со специальным мелованным
                покрытием, обладает белизной, имеет глянцевый или матовый
                эффект. Отличают картон с односторонним и двухсторонним
                покрытием
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/505272379684d1c51520974.78287903.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованная бумага</h3>
              <p>
                Бумага с ровной, гладкой поверхностью и белизной. Матовая
                или глянцевая. Плотность — от 90 до 250 г/м². Обеспечивает
                четкую печать и насыщенные цвета. Используется для обложек,
                вкладышей, лайнеров
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/346096955684d1c51b40126.29634729.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Дизайнерская бумага</h3>
              <p>
                Материал из чистой целлюлозы, окрашенной в массе. Имеет
                различные цвета и текстуры, плотность от 115 до 350 г/м2
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2126390496684d1c5265e7b4.12899894.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Переплетный материал</h3>
              <p>
                Тканевые, флокированные, синтетические и бумажные покрытия
                с плотной фактурой. Используются для упаковки и переплета.
                Придают премиальность, хорошо работают в сочетании с тиснением
                и фольгой
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div hidden data-id="construction-2">
      <div
        class="fab-custom-grid"
        style="
                  --grid-template-columns: repeat(2, 1fr);
                  margin: undefined;
                  padding: undefined;
                "
      >
        <div>
          <h2>3D-фольгирование</h2>
          <p>
            Цифровая технология в полиграфии, которая предполагает нанесение
            специального лака и фольги на отдельные участки материала, формируя
            объемные изображения, достигающие толщины до 0,15 мм. Основная
            задача – придать продукции выразительный визуальный объем и
            дополнительную привлекательность. Для печати используют мелованную
            бумагу с ламинированный поверхностью или дизайнерскую бумагу с
            текстурой Soft touch. Технология 3D-фольгирование – отличный выбор
            для проектов, где важно подчеркнуть роскошь и индивидуальность
          </p>
        </div>
        <div>
          <h2>Как происходит процесс</h2>
          <p>
            На печатный оттиск на специализированным оборудованием наносится
            лаковая основа, согласно дизайн-макету. Затем, под воздействием
            высокой температуры, происходит перенос фольги. Возможно
            многократное нанесение фольги различных цветов, включая
            голографическую, на один и тот же оттиск. Данная технология
            позволяет имитировать различные текстуры и выполнять мелкие элементы
            дизайна. Основное отличие процесса является отсутствие необходимости
            в создании клише, так как нанесение лака происходит за один проход
            оборудования
          </p>
        </div>
      </div>
    </div>
    <section hidden data-id="construction-2">
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Виды 3D-фольги</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1499911686688782a5e19d58.26753502.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Green 336</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2111997827688782a5b74670.05390483.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Blue 391</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1694567692688782a4d9b085.77014869.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Red 392</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/870997941688782a555e888.27519676.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Gold 220</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/204528867688782a6177a07.33073818.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Gold 385</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/422847824688782a57d9d94.30721688.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Gold 428</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1234608121688782a51e9a97.89391833.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Line Laser</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1894420574688782a4a73110.12085711.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Allufin Special</h3></div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/240949416688782a3c51d93.78240381.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Luxor Light Brown 355</h3>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="fab-card-foil"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1263113490688782a3eba6d1.45252992.webp"
              alt=""
            />
            <div class="cb-card-wrap"><h3>Luxor Orange 396</h3></div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Материалы для упаковки</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2084893495688c4c8cc0fe20.12639057.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованный картон</h3>
              <p>
                Целлюлозный  многослойный материал, со специальным мелованным
                покрытием, обладает белизной, имеет глянцевый или матовый
                эффект. Отличают картон с односторонним и двухсторонним
                покрытием
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/505272379684d1c51520974.78287903.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованная бумага</h3>
              <p>
                Бумага с ровной, гладкой поверхностью и белизной. Матовая
                или глянцевая. Плотность — от 90 до 250 г/м². Обеспечивает
                четкую печать и насыщенные цвета. Используется для обложек,
                вкладышей, лайнеров
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/346096955684d1c51b40126.29634729.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Дизайнерские софт тач бумаги</h3>
              <p>
                Специализированные бумаги с покрытием Софт тач плотностью 120 –
                150 гр/м2
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div hidden data-id="construction-3">
      <div
        class="fab-custom-grid"
        style="
                  --grid-template-columns: repeat(2, 1fr);
                  margin: undefined;
                  padding: undefined;
                "
      >
        <div>
          <h2>3D-лакирование</h2>
          <p>
            Это цифровая технология отделки печатной продукции, когда на
            печатный материал наносится специальный лак, с объёмным эффектом.
            Главное отличие 3D-лакирования — объёмный выпуклый лак, как капля
            воды. Изображение становится более выразительным, появляются тени и
            контрасты. 3D-лакирование применяется в полиграфии для выделения
            надписей, логотипов, отдельных элементов продукции, в том числе
            подарочной упаковки. Помимо внешней привлекательности, 3D-лак
            повышает тактильные свойства. Упаковку с таким эффектом приятно
            держать в руках, она “играет” на свету
          </p>
        </div>
        <div>
          <h2>Как происходит процесс</h2>
          <p>
            Технология предполагает покрытие бумажного лайнера прозрачным лаком
            с последующей сушкой ультрафиолетовыми лучами на специальном
            оборудовании. В итоге формируется рельефный узор или орнамент,
            улучшающий визуальное восприятие изображения или текста,
            увеличивается его контрастность, а цвета становятся более яркими и
            насыщенными. 3D-лакирование с объёмным эффектом востребовано для
            финишной отделки полиграфической продукции, подарочной и картонной
            упаковки
          </p>
        </div>
      </div>
    </div>
    <section hidden data-id="construction-3">
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Уровни 3D-лака</h2>
        </div>
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img class="lazy-img" alt="" />
            <div class="cb-card-wrap">
              <h3>От 28 мкм</h3>
              <p>
                Слой в 28 микрон одна из доступных опций при выборе толщины
                лакового покрытия для создания объемных эффектов
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img class="lazy-img" alt="" />
            <div class="cb-card-wrap">
              <h3>80 мкм</h3>
              <p>
                Слой в 80 микрон одна из доступных опций при выборе толщины
                лакового покрытия для создания объемных эффектов
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img class="lazy-img" alt="" />
            <div class="cb-card-wrap">
              <h3>230 мкм</h3>
              <p>
                Слой в 230 микрон одна из доступных опций при выборе толщины
                лакового покрытия для создания объемных эффектов
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Материалы для упаковки</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2084893495688c4c8cc0fe20.12639057.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованный картон</h3>
              <p>
                Целлюлозный  многослойный материал, со специальным мелованным
                покрытием, обладает белизной, имеет глянцевый или матовый
                эффект. Отличают картон с односторонним и двухсторонним
                покрытием
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/505272379684d1c51520974.78287903.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованная бумага</h3>
              <p>
                Бумага с ровной, гладкой поверхностью и белизной. Матовая
                или глянцевая. Плотность — от 90 до 250 г/м². Обеспечивает
                четкую печать и насыщенные цвета. Используется для обложек,
                вкладышей, лайнеров
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/346096955684d1c51b40126.29634729.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Дизайнерские софт тач бумаги</h3>
              <p>
                Специализированные бумаги с покрытием Софт тач плотностью 120 –
                150 гр/м2
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div hidden data-id="construction-4">
      <div
        class="fab-custom-grid"
        style="
                  --grid-template-columns: repeat(2, 1fr);
                  margin: undefined;
                  padding: undefined;
                "
      >
        <div>
          <h2>Шелкотрафарет</h2>
          <p>
            Трафаретная печать, известная как шелкография, обеспечивает
            нанесение насыщенных и стойких рисунков на различные поверхности:
            бумагу, ткани, полимерные изделия и другие. Ключевые достоинства
            данного метода заключаются в следующем: широкий спектр используемых
            материалов, высокая износостойкость нанесенного изображения,
            умеренный расход краски, а также технологический потенциал для
            реализации разнообразных дизайнерских задумок. Этот метод печати
            позволяет получать красочные оттиски с высокой степенью
            износостойкости
          </p>
        </div>
        <div>
          <h2>Как происходит процесс</h2>
          <p>
            Первоначально изготавливается форма и формируется экран. На этот
            экран наносится специализированный фоточувствительный состав. Под
            воздействием УФ-излучения он затвердевает, блокируя все области,
            кроме тех, что соответствуют эскизу. Затем, краска переносится на
            материал. Ткань закрепляется на рабочей поверхности или раме, а
            поверх неё располагается подготовленный тра фарет. Красящее вещество
            проходит сквозь трафарет на ткань, заполняя открытые участки. Таким
            образом, пигмент передаётся на материал, создавая желаемый
            отпечаток. Заключительный этап – фиксация изображения. После
            нанесения изделие подвергается термической обработке для закрепления
            пигмента, что обеспечивает стойкость рисунка
          </p>
        </div>
      </div>
    </div>
    <section hidden data-id="construction-4">
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Виды</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1332920401688782a430dab4.51287578.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Pantone</h3>
              <p>
                Унифицированная система идентификации цветов, использующая
                цифровые коды для каждого оттенка
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1990681651684d1c545506b9.37794140.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>УФ-лак частичный</h3>
              <p>
                Выборочное нанесение ультрафиолетового лака для выделения
                определенных частей продукта
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/633409148688782a45ee933.10369130.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Объемный лак</h3>
              <p>
                Объемный или рельефный лак представляет собой специализированное
                покрытие. Применяют для выборочного нанесения на определенные
                участки печатного изделия для создания тактильно ощутимого
                рельефа и придание особого глянцевого блеска этим участкам
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Материалы для тиснения</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2084893495688c4c8cc0fe20.12639057.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованный картон</h3>
              <p>
                Целлюлозный  многослойный материал, со специальным мелованным
                покрытием, обладает белизной, имеет глянцевый или матовый
                эффект. Отличают картон с односторонним и двухсторонним
                покрытием
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/505272379684d1c51520974.78287903.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованная бумага</h3>
              <p>
                Бумага с ровной, гладкой поверхностью и белизной. Матовая
                или глянцевая. Плотность — от 90 до 250 г/м². Обеспечивает
                четкую печать и насыщенные цвета. Используется для обложек,
                вкладышей, лайнеров
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/346096955684d1c51b40126.29634729.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Дизайнерская бумага</h3>
              <p>
                Материал из чистой целлюлозы, окрашенной в массе. Имеет
                различные цвета и текстуры, плотность от 115 до 350 г/м2
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2126390496684d1c5265e7b4.12899894.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Переплетный материал</h3>
              <p>
                Тканевые, флокированные, синтетические и бумажные покрытия
                с плотной фактурой. Используются для упаковки и переплета.
                Придают премиальность, хорошо работают в сочетании с тиснением
                и фольгой
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div hidden data-id="construction-5">
      <div
        class="fab-custom-grid"
        style="
                  --grid-template-columns: repeat(2, 1fr);
                  margin: undefined;
                  padding: undefined;
                "
      >
        <div>
          <h2>Ламинирование</h2>
          <p>
            В полиграфии ламинирование представляет собой процедуру покрытия
            напечатанного изделия особой плёнкой, обеспечивающей защиту. Эта
            плёнка служит не только для украшения, но и для предохранения от
            сырости, царапин, износа, а также грязи, тем самым увеличивая
            долговечность продукции.
          </p>
          <p>
            Существуют различные методы ламинирования в полиграфии, среди
            которых выделяются: Термическое ламинирование, при котором плёнка
            нагревается до высоких температур и прикрепляется к поверхности под
            воздействием давления. Безнагревное ламинирование, где клей
            активируется посредством механического сжатия без применения тепла
          </p>
        </div>
        <div>
          <h2>Как происходит процесс</h2>
          <p>
            Процесс ламинирования осуществляется посредством специализированного
            оборудования – ламинатора. Отпечатанный материал располагается между
            двумя листами матовой пленки, после чего пропускается через секции
            нагрева и прессования, где происходит прочное соединение пленки с
            поверхностью изделия. Это многоступенчатый процесс, состоящий из
            нескольких этапов: Предварительная обработка материала. Отпечатанные
            изделия обязательно должны быть абсолютно сухими.  Подбор плёнки.
            Для ламинирования применяются плёнки в рулонах или листах, выбор
            зависит от задач и оборудования. Покрытие поверхности. Плёнка
            фиксируется на поверхности либо под воздействием высокой
            температуры, либо методом холодного приклеивания
          </p>
        </div>
      </div>
    </div>
    <section hidden data-id="construction-5">
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Виды ламинации</h2>
        </div>
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1980342835688cc764d83417.55478077.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Матовая</h3>
              <p>
                Специальная защитная плёнка, которая имеет мягкое защитное
                покрытие, без блеска
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/322830001688cc762ac0c68.98679985.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Глянцевая</h3>
              <p>Специальная плёнка с глянцевым блеском и защитной функцией</p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1980342835688cc764d83417.55478077.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Софт тач (Soft Touch)</h3>
              <p>
                Представляет собой технологию финишной  обработки
                полиграфических изделий, наделяющую их уникальной текстурой
                с прорезиненной текстурой
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1980342835688cc764d83417.55478077.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Антискафф (Anti Scuff)</h3>
              <p>
                Технология обработки полиграфической продукции, где применяется
                матовая плёнка, которая обладает усиленной устойчивостью
                к внешним воздействиям
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Материалы для упаковки</h2>
        </div>
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2084893495688c4c8cc0fe20.12639057.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованный картон</h3>
              <p>
                Целлюлозный  многослойный материал, со специальным мелованным
                покрытием, обладает белизной, имеет глянцевый или матовый
                эффект. Отличают картон с односторонним и двухсторонним
                покрытием
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/505272379684d1c51520974.78287903.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованная бумага</h3>
              <p>
                Бумага с ровной, гладкой поверхностью и белизной. Матовая
                или глянцевая. Плотность — от 90 до 250 г/м². Обеспечивает
                четкую печать и насыщенные цвета. Используется для обложек,
                вкладышей, лайнеров
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Хорошо сочетается с технологиями</h2>
        </div>
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/205276977688782a642a104.83227956.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Тиснение</h3>
              <p>
                Метод декорировния изделия, выполняются путем давления штампа
                на покрывной материал. Различают блинтовое (слепое), конгревное,
                блинтовое с фольгой
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/1591159669684d1c54bbb176.69727058.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>3D-фольга</h3>
              <p>
                Метод нанесения фольги на цифровой машине на ламинированной
                поверхности. Возможность нанесения тонких линий до 0,3 мм. Более
                10 цветов фольги
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/282995366688afdbe50fda6.68814630.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>3D-лакирование</h3>
              <p>
                Метод нанесения объемного УФ-лак на цифровой машине, имеет более
                глянцевую фактуру, эффект термоподъема до 232 мкм*
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div hidden hidden data-id="construction-6">
      <div
        class="fab-custom-grid"
        style="
                  --grid-template-columns: repeat(2, 1fr);
                  margin: undefined;
                  padding: undefined;
                "
      >
        <div>
          <h2>Выборочный УФ-лак</h2>
          <p>
            УФ-лак или ультрафиолетовый лак, представляет собой покрытие,
            которое изготавливается из жидких полимеров и акриловых смол,
            затвердевает под воздействием ультрафиолетового излучения. Этот лак
            не обладает токсичными веществами, безопасен как для человека и
            экологии, а также не теряет цвет со временем, затвердевая всего за
            несколько секунд под воздействием ультрафиолета. В отличие от
            сплошного лака, который наносится на всю печатную область, с помощью
            выборочного УФ-лака можно выделить определенные детали: логотипы,
            изображения, текстовые элементы или даже сложные орнаменты
          </p>
        </div>
        <div>
          <h2>Как происходит процесс</h2>
          <p>
            Покрытие лаком осуществляется на специализированном оборудовании. в
            соответствии с утвержденным дизайн-проектом. Под воздействием
            ультрафиолетового излучения лак полимеризуется, формируя прозрачное,
            блестящее (или неблестящее) покрытие. Преимущества УФ-лакирования:
            ярко выраженный декоративный эффект, возможность создания объемных
            декоративных элементов, возможность нанесения УФ-лаков с
            разнообразными эффектами: перламутровыми, глиттерными, рельефными,
            возможность совместного использования других технологий
            послепечатной обработки (тиснение, биговка, фальцовка и т.д.),
            возможность производства небольших тиражей
          </p>
        </div>
      </div>
    </div>
    <section hidden data-id="construction-6">
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Материалы для упаковки</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2084893495688c4c8cc0fe20.12639057.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованный картон</h3>
              <p>
                Целлюлозный  многослойный материал, со специальным мелованным
                покрытием, обладает белизной, имеет глянцевый или матовый
                эффект. Отличают картон с односторонним и двухсторонним
                покрытием
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/505272379684d1c51520974.78287903.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованная бумага</h3>
              <p>
                Бумага с ровной, гладкой поверхностью и белизной. Матовая
                или глянцевая. Плотность — от 90 до 250 г/м². Обеспечивает
                четкую печать и насыщенные цвета. Используется для обложек,
                вкладышей, лайнеров
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fab-accordion">
        <div class="fab-accordion-header">
          <svg class="icon undefined" width="24" height="24">
            <use xlink:href="#arrow"></use>
          </svg>
          <h2>Материалы для тиснения</h2>
        </div>
        <!-- <code>
      {
        JSON.stringify(cardsList)
      }
    </code> -->
        <div class="fab-accordion-wrap fab-scrollbar">
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/2084893495688c4c8cc0fe20.12639057.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованный картон</h3>
              <p>
                Целлюлозный  многослойный материал, со специальным мелованным
                покрытием, обладает белизной, имеет глянцевый или матовый
                эффект. Отличают картон с односторонним и двухсторонним
                покрытием
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/505272379684d1c51520974.78287903.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Мелованная бумага</h3>
              <p>
                Бумага с ровной, гладкой поверхностью и белизной. Матовая
                или глянцевая. Плотность — от 90 до 250 г/м². Обеспечивает
                четкую печать и насыщенные цвета. Используется для обложек,
                вкладышей, лайнеров
              </p>
            </div>
          </div>
          <div class="fab-card">
            <img
              class="lazy-img"
              data-card-src="https://static0.wow2print.com/storage/119/content/image/346096955684d1c51b40126.29634729.webp"
              alt=""
            />
            <div class="cb-card-wrap">
              <h3>Дизайнерская бумага</h3>
              <p>
                Материал из чистой целлюлозы, окрашенной в массе. Имеет
                различные цвета и текстуры, плотность от 115 до 350 г/м2
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="widget-container" data-hash="468927227279fed2067e7c1fee9e29cd">
      Форма подписки (v2)
    </div>
    <div class="fab-seo-block" data-id="construction-1">
      <div class="fab-seo-block-wrap">
        <div class="fab-seo-block-column">
          <h2>Современные типы отделки полиграфии</h2>
          <p>
            Для начала отметим, что любая печатная и постпечатная доработка
            призвана не только улучшить внешний вид полиграфического изделия, он
            и повысить его износоустойчивость и долговечность. Любой процесс,
            независимо от того, о чем конкретно идет речь, увеличит стоимость
            печати тиража, поэтому важно выбирать оптимальный вариант
            конкретно для своей ситуации. Наиболее популярными на сегодня
            остаются тиснение и лакирование. Но даже они могут быть осуществлены
            разными способами.
          </p>
          <h2>Блинтовое тиснение</h2>
          <p>
            Бескрасочное тиснение, как часто называют эту технологию,
            представляет собой процесс создания рельефа за счет прижимания
            пресса-клише к материалу. Такой способ обработки прост и эффективен,
            особенно, если в основе полиграфического изделия натуральная кожа
            или кожзам. С плотной бумагой или картоном такую доработку проводить
            тоже можно, но итоговый результат будет не столь ярким, как хотелось
            бы.
          </p>
          <p>
            Используют методику при создании блокнотов, папок, открыток,
            пригласительных билетов, фотокниг и для разных видов упаковки. На
            полиграфическое изделие наносятся логотип компании, название, другие
            элементы брендирования — заказывается специальное клише, с помощью
            которого элемент изображения вдавливаются в поверхность. И во время
            обработки не используется краска или фольга, внешний вид продукта
            остается неизменным на протяжении длительного времени.
          </p>
          <h2>Конгревное тиснение</h2>
          <p>
            Конгрев, в отличие от блинтования, осуществляется с помощью штампа
            и контрштампа, между которыми помещается полиграфическое изделие.
            Технология хороша тем, что позволяет оттеснять рисунки даже
            с мелкими деталями, не говоря уже о возможности добавления цвета
            или блеска. Хотя достаточно часто такая обработка обходится без
            фольгирования.
          </p>
          <p>
            Конгревное тиснение часто используется при создании разных
            типов упаковок: подарочных и сувенирных пакетов,
            коробок и так далее, но не реже его можно встретить
            и при изготовлении классической канцелярии, такой как визитки,
            внутренние бланки компании. Главная задача полиграфической
            обработки в этом случае — визуально повысить стоимость, заставить
            клиентов и контрагентов запомнить бренд.
          </p>
        </div>
        <div class="fab-seo-block-column">
          <h2>Тиснение фольгой</h2>
          <p>
            Фольгирование позволяет нанести на основу полиграфического изделия
            приятный металлический блеск. Сама технология мало чем отличается
            от конгрева или блинтования. Только между штампом и полиграфическим
            изделием в этом случае размещается фольга, которая и обеспечивает
            серебряный или золотой оттиск.
          </p>
          <p>
            Тиснение фольгой может быть горячим или холодным. В первом случае,
            как не трудно догадаться, заготовка нагревается до высоких
            температур. Во втором – главной действующей силой становится мощный
            пресс, буквально вдавливающий фольгу в основу полиграфического
            изделия.
          </p>
          <p>
            Выбор между горячим и холодным тиснением зависит от того, насколько
            ровная поверхность у продукта. Если материал шероховатый или на нем
            присутствуют выпуклости, горячее фольгирование будет более
            предпочтительным. В любом случае лучше проконсультироваться со
            специалистами типографии полного цикла FINEARTBOX до того,
            как принять окончательное решение.
          </p>
          <h2>Преимущества заказа отделки от FINEARTBOX</h2>
          <p>
            Типография полного цикла FINEARTBOX отличается
            своими широкими возможностями. Высокий профессионализм
            сотрудников и наличие мощного современного оборудования даст вам
            возможность заказать любое полиграфическое изделие. При этом работа
            ведется как с маленькими, так и с крупными тиражами, так что вам не
            придется заказывать лишние изделия, растрачивая бюджет фирмы.
          </p>
          <p>
            Готовые полиграфические продукты отправляются в любой город страны
            транспортной компанией. Оформить заказ на изготовление
            можно удаленно – заполнив заявку на сайте компании. Это значит, что
            вам совсем не обязательно ехать в наш офис, чтобы решить важные
            вопросы. Но если они все же возникнут, связаться
            с экспертами типографии можно по телефону +7(495)215-08-77 или электронной
            почте sale@fineartbox.ru.
          </p>
          <p>
            Полиграфическая отделка – важный технологический процесс, способный
            повысить продажи, узнаваемость бренда, расширение рынка. Не
            откладывайте решение о печати или послепечатной обработке. Свяжитесь
            с нами прямо сейчас, и мы подберем для вашей компании оптимальный
            вариант, подходящий по цене. Сложные маркетинговые задачи – больше
            не ваша проблема. Доверьте их профессионалам, чтобы наслаждаться
            результатом в ближайшее время.
          </p>
        </div>
      </div>
      <label class="fab-seo-toggle" for="seo-toggle-1">
        <input hidden type="checkbox" name="" id="seo-toggle-1" />
        <svg class="icon undefined" width="24" height="24">
          <use xlink:href="#arrow"></use>
        </svg>
      </label>
    </div>
    <div class="fab-seo-block" data-id="construction-2" hidden>
      <div class="fab-seo-block-wrap">
        <div class="fab-seo-block-column">
          <h2>3D-фольгирование и 3D-лакирование</h2>
          <p>
            Уникальные технологии, позволяющие наносить на поверхность материала
            трехмерные изображения с толщиной до 100 мкм. Они привлекательны
            внешне и приятны на ощупь, а помимо этого зрительно повышают
            стоимость полиграфического изделия.
          </p>
          <p>
            Отпечатки наносятся с помощью специального дорогостоящего
            оборудования, в которое буквально “помещается” файл с рисунком. На
            его основе на поверхность наносится частичный лак, а затем
            и разогретая фольга. Несмотря на рельефность, изображение получается
            четким и выразительным.
          </p>
        </div>
        <div class="fab-seo-block-column">
          <h2>Преимущества заказа отделки от FINEARTBOX</h2>
          <p>
            Типография полного цикла FINEARTBOX отличается
            своими широкими возможностями. Высокий профессионализм
            сотрудников и наличие мощного современного оборудования даст вам
            возможность заказать любое полиграфическое изделие. При этом работа
            ведется как с маленькими, так и с крупными тиражами, так что вам не
            придется заказывать лишние изделия, растрачивая бюджет фирмы.
          </p>
          <p>
            Готовые полиграфические продукты отправляются в любой город страны
            транспортной компанией. Оформить заказ на изготовление
            можно удаленно – заполнив заявку на сайте компании. Это значит, что
            вам совсем не обязательно ехать в наш офис, чтобы решить важные
            вопросы. Но если они все же возникнут, связаться
            с экспертами типографии можно по телефону +7(495)215-08-77 или электронной
            почте sale@fineartbox.ru.
          </p>
          <p>
            Полиграфическая отделка – важный технологический процесс, способный
            повысить продажи, узнаваемость бренда, расширение рынка. Не
            откладывайте решение о печати или послепечатной обработке. Свяжитесь
            с нами прямо сейчас, и мы подберем для вашей компании оптимальный
            вариант, подходящий по цене. Сложные маркетинговые задачи – больше
            не ваша проблема. Доверьте их профессионалам, чтобы наслаждаться
            результатом в ближайшее время.
          </p>
        </div>
      </div>
      <label class="fab-seo-toggle" for="seo-toggle-2">
        <input hidden type="checkbox" name="" id="seo-toggle-2" />
        <svg class="icon undefined" width="24" height="24">
          <use xlink:href="#arrow"></use>
        </svg>
      </label>
    </div>
    <div class="fab-seo-block" data-id="construction-3" hidden>
      <div class="fab-seo-block-wrap">
        <div class="fab-seo-block-column">
          <h2>3D-фольгирование и 3D-лакирование</h2>
          <p>
            Уникальные технологии, позволяющие наносить на поверхность материала
            трехмерные изображения с толщиной до 100 мкм. Они привлекательны
            внешне и приятны на ощупь, а помимо этого зрительно повышают
            стоимость полиграфического изделия.
          </p>
          <p>
            Отпечатки наносятся с помощью специального дорогостоящего
            оборудования, в которое буквально “помещается” файл с рисунком. На
            его основе на поверхность наносится частичный лак, а затем
            и разогретая фольга. Несмотря на рельефность, изображение получается
            четким и выразительным.
          </p>
        </div>
        <div class="fab-seo-block-column">
          <h2>Преимущества заказа отделки от FINEARTBOX</h2>
          <p>
            Типография полного цикла FINEARTBOX отличается
            своими широкими возможностями. Высокий профессионализм
            сотрудников и наличие мощного современного оборудования даст вам
            возможность заказать любое полиграфическое изделие. При этом работа
            ведется как с маленькими, так и с крупными тиражами, так что вам не
            придется заказывать лишние изделия, растрачивая бюджет фирмы.
          </p>
          <p>
            Готовые полиграфические продукты отправляются в любой город страны
            транспортной компанией. Оформить заказ на изготовление
            можно удаленно – заполнив заявку на сайте компании. Это значит, что
            вам совсем не обязательно ехать в наш офис, чтобы решить важные
            вопросы. Но если они все же возникнут, связаться
            с экспертами типографии можно по телефону +7(495)215-08-77 или электронной
            почте sale@fineartbox.ru.
          </p>
          <p>
            Полиграфическая отделка – важный технологический процесс, способный
            повысить продажи, узнаваемость бренда, расширение рынка. Не
            откладывайте решение о печати или послепечатной обработке. Свяжитесь
            с нами прямо сейчас, и мы подберем для вашей компании оптимальный
            вариант, подходящий по цене. Сложные маркетинговые задачи – больше
            не ваша проблема. Доверьте их профессионалам, чтобы наслаждаться
            результатом в ближайшее время.
          </p>
        </div>
      </div>
      <label class="fab-seo-toggle" for="seo-toggle-3">
        <input hidden type="checkbox" name="" id="seo-toggle-3" />
        <svg class="icon undefined" width="24" height="24">
          <use xlink:href="#arrow"></use>
        </svg>
      </label>
    </div>
    <div class="fab-seo-block" data-id="construction-4" hidden>
      <div class="fab-seo-block-wrap">
        <div class="fab-seo-block-column">
          <h2>Шелкотрафарет</h2>
          <p>
            Шелкография, или трафаретная печать – это способ переноса
            изображений на поверхность, использующий трафарет и мелкоячеистую
            сетку. Данная техника позволяет получать насыщенные и стойкие
            отпечатки, выдерживающие многочисленные стирки. Процедура
            трафаретной печати включает в себя ряд шагов:
          </p>
          <ul>
            <li>
              cоздание трафарета. На сетчатую основу наносят фоточувствительный
              состав, который затвердевает под воздействием ультрафиолета,
              оставляя свободными области, повторяющие контур изображения. В
              этих местах краска будет проникать на материал;
            </li>
            <li>
              нанесение красителя. Текстильное изделие закрепляют на столе
              или раме, а сверху располагают сетку с подготовленным трафаретом.
              Затем краску равномерно распределяют по сетке, продавливая её
              через открытые участки трафарета на ткань. Таким образом,
              пигментированный состав переносится на материал, формируя желаемый
              рисунок;
            </li>
            <li>
              многослойность и цветовое воспроизведение. Для создания сложных,
              многоцветных изображений применяют несколько трафаретов, каждый
              из которых отвечает за свой цвет. Каждый слой краски наносится
              обособленно, с обязательной просушкой предыдущего слоя
              для предотвращения размытия;
            </li>
            <li>
              термическая обработка и фиксация. После нанесения краске
              необходимо закрепиться на ткани. Изделие подвергают сушке
              при повышенной температуре, что позволяет зафиксировать красящий
              пигмент и сделать отпечаток устойчивым к стирке и механическому
              воздействию;
            </li>
            <li>
              финальный контроль. Осуществляется проверка качества печати, чтобы
              убедиться в равномерности нанесения краски, отсутствии дефектов,
              таких как пятна и сдвиги.
            </li>
          </ul>
        </div>
        <div class="fab-seo-block-column">
          <h2>Преимущества заказа отделки от FINEARTBOX</h2>
          <p>
            Типография полного цикла FINEARTBOX отличается
            своими широкими возможностями. Высокий профессионализм
            сотрудников и наличие мощного современного оборудования даст вам
            возможность заказать любое полиграфическое изделие. При этом работа
            ведется как с маленькими, так и с крупными тиражами, так что вам не
            придется заказывать лишние изделия, растрачивая бюджет фирмы.
          </p>
          <p>
            Готовые полиграфические продукты отправляются в любой город страны
            транспортной компанией. Оформить заказ на изготовление
            можно удаленно – заполнив заявку на сайте компании. Это значит, что
            вам совсем не обязательно ехать в наш офис, чтобы решить важные
            вопросы. Но если они все же возникнут, связаться
            с экспертами типографии можно по телефону +7(495)215-08-77 или электронной
            почте sale@fineartbox.ru.
          </p>
          <p>
            Полиграфическая отделка – важный технологический процесс, способный
            повысить продажи, узнаваемость бренда, расширение рынка. Не
            откладывайте решение о печати или послепечатной обработке. Свяжитесь
            с нами прямо сейчас, и мы подберем для вашей компании оптимальный
            вариант, подходящий по цене. Сложные маркетинговые задачи – больше
            не ваша проблема. Доверьте их профессионалам, чтобы наслаждаться
            результатом в ближайшее время.
          </p>
        </div>
      </div>
      <label class="fab-seo-toggle" for="seo-toggle-4">
        <input hidden type="checkbox" name="" id="seo-toggle-4" />
        <svg class="icon undefined" width="24" height="24">
          <use xlink:href="#arrow"></use>
        </svg>
      </label>
    </div>
    <div class="fab-seo-block" data-id="construction-5" hidden>
      <div class="fab-seo-block-wrap">
        <div class="fab-seo-block-column">
          <h2>Ламинирование</h2>
          <p>
            Долговечность типографских изделий значительно снижается
            под влиянием внешних воздействий, поэтому для продления срока службы
            печатных документов, визитных карт, удостоверений личности и т.п. их
            покрывают защитной плёнкой. Таким образом можно не только защитить
            изделие от влаги, трения, попадания солнечных лучей и прочих
            негативных факторов, но и придать ему более солидный вид.
          </p>
          <p>
            Плёнка может состоять из нескольких типов полимеров, например,
            поливинилхлорида или полиэстера. Ламинирование полиграфической
            продукции подразумевает наложение слоя материала толщиной от 25 до
            250 мкн с одной или двух сторон. Нанесение плёнки осуществляется
            при помощи специального оборудования - ламинаторов, оснащённых
            несколькими валами в зависимости от конструкции. Различаются 2
            разновидности подобного оборудования:
          </p>
          <ul>
            <li>
              Холодная ламинация – для нее используются пленки с ПВХ (PVC),
              плотностью 60, 80, 200 мкм (глянец, мат, вельвет). Они имеют
              высокую эластичность и не требуют нагрева, что позволяет
              ламинировать синтетические материалы, чувствительные
              к температуре, а также материалы с гладкой, не впитывающей
              поверхностью.
            </li>
            <li>
              Горячая ламинация– Пленки для данной ламинации состоят
              из высокотемпературного материала и выдерживают температуру от 110
              до 160 градусов, что позволяет ламинировать без деформации.
            </li>
          </ul>
          <p>
            Помимо этого, ламинатор может быть рулонным или конвертным.
            Различаются они по технологическому процессу. Рулонные аппараты
            оптимальны при работе с большими партиями полиграфической
            продукции или с нестандартными форматами.
          </p>
          <p>Существует несколько разновидностей материала:</p>
          <ul>
            <li>
              Матовая. Это оптимальный вариант для покрытия
              документов и стандартной полиграфической продукции. В декоративных
              целях он используется реже, так как немного приглушает яркость
              цветов. Но для документов это обстоятельство неважно. Ещё одним
              достоинством матовой поверхности является отсутствие бликов, что
              упрощает просмотр напечатанного текста.
            </li>
            <li>
              Глянцевая. Оптимально подойдёт для ламинации изображений
              как в глянцевом журнале. Эта плёнка позволяет подчеркнуть
              насыщенность палитры и обеспечит надёжную защиту памятного фото
              или открытки.
            </li>
            <li>
              Текстурированная. Востребована в сфере создания рекламных изделий
              и сувенирной полиграфической продукции. Дополнительная фактура
              позволит сделать брошюру или книгу оригинальной и сохранит
              защитные свойства продукции.
            </li>
            <li>
              Soft Touch. Плёнка премиум класса, предназначенная для тех же
              целей, что и предыдущая, но отличается приятной на ощупь
              бархатистой поверхностью. Например, такое покрытие на визитной
              карточке сразу же позволит понять, что её обладатель имеет
              определенный статус. С помощью такой плёнки можно придать
              «богатый» вид даже самой простой бумаге.
            </li>
          </ul>
        </div>
        <div class="fab-seo-block-column">
          <h2>Преимущества заказа отделки от FINEARTBOX</h2>
          <p>
            Типография полного цикла FINEARTBOX отличается
            своими широкими возможностями. Высокий профессионализм
            сотрудников и наличие мощного современного оборудования даст вам
            возможность заказать любое полиграфическое изделие. При этом работа
            ведется как с маленькими, так и с крупными тиражами, так что вам не
            придется заказывать лишние изделия, растрачивая бюджет фирмы.
          </p>
          <p>
            Готовые полиграфические продукты отправляются в любой город страны
            транспортной компанией. Оформить заказ на изготовление
            можно удаленно – заполнив заявку на сайте компании. Это значит, что
            вам совсем не обязательно ехать в наш офис, чтобы решить важные
            вопросы. Но если они все же возникнут, связаться
            с экспертами типографии можно по телефону +7(495)215-08-77 или электронной
            почте sale@fineartbox.ru.
          </p>
          <p>
            Полиграфическая отделка – важный технологический процесс, способный
            повысить продажи, узнаваемость бренда, расширение рынка. Не
            откладывайте решение о печати или послепечатной обработке. Свяжитесь
            с нами прямо сейчас, и мы подберем для вашей компании оптимальный
            вариант, подходящий по цене. Сложные маркетинговые задачи – больше
            не ваша проблема. Доверьте их профессионалам, чтобы наслаждаться
            результатом в ближайшее время.
          </p>
        </div>
      </div>
      <label class="fab-seo-toggle" for="seo-toggle-5">
        <input hidden type="checkbox" name="" id="seo-toggle-5" />
        <svg class="icon undefined" width="24" height="24">
          <use xlink:href="#arrow"></use>
        </svg>
      </label>
    </div>
    <div class="fab-seo-block" data-id="construction-6" hidden>
      <div class="fab-seo-block-wrap">
        <div class="fab-seo-block-column">
          <h2>Выборочный УФ-лак</h2>
          <p>
            Технология выборочного лакирования предполагает, что уже готовое
            полиграфическое изделие частично покрывается глянцевым лаком,
            например, чтобы выделить логотип, название бренда, важные элементы
            рисунка. В комплексе с качественным материалом, из которого
            изготавливается продукт, такая обработка позволяет
            зрительно увеличить стоимость, сделать внешний вид привлекательным,
            ярким, уникальным.
          </p>
          <p>
            Выборочный лак хорошо смотрится на рекламных POS-материалах, таких
            как воблеры, шелфтокеры, стопперы, а также на бумажных пакетах
            и коробках и так далее. Отдельное внимание выборочному лаку следует
            уделить при создании упаковки для товара. Парфюмерия, косметика,
            бренды одежды — везде технология будет смотреться
            приятно и эффективно.
          </p>
        </div>
        <div class="fab-seo-block-column">
          <h2>Преимущества заказа отделки от FINEARTBOX</h2>
          <p>
            Типография полного цикла FINEARTBOX отличается
            своими широкими возможностями. Высокий профессионализм
            сотрудников и наличие мощного современного оборудования даст вам
            возможность заказать любое полиграфическое изделие. При этом работа
            ведется как с маленькими, так и с крупными тиражами, так что вам не
            придется заказывать лишние изделия, растрачивая бюджет фирмы.
          </p>
          <p>
            Готовые полиграфические продукты отправляются в любой город страны
            транспортной компанией. Оформить заказ на изготовление
            можно удаленно – заполнив заявку на сайте компании. Это значит, что
            вам совсем не обязательно ехать в наш офис, чтобы решить важные
            вопросы. Но если они все же возникнут, связаться
            с экспертами типографии можно по телефону +7(495)215-08-77 или электронной
            почте sale@fineartbox.ru.
          </p>
          <p>
            Полиграфическая отделка – важный технологический процесс, способный
            повысить продажи, узнаваемость бренда, расширение рынка. Не
            откладывайте решение о печати или послепечатной обработке. Свяжитесь
            с нами прямо сейчас, и мы подберем для вашей компании оптимальный
            вариант, подходящий по цене. Сложные маркетинговые задачи – больше
            не ваша проблема. Доверьте их профессионалам, чтобы наслаждаться
            результатом в ближайшее время.
          </p>
        </div>
      </div>
      <label class="fab-seo-toggle" for="seo-toggle-6">
        <input hidden type="checkbox" name="" id="seo-toggle-6" />
        <svg class="icon undefined" width="24" height="24">
          <use xlink:href="#arrow"></use>
        </svg>
      </label>
    </div>
  </div>
</div>
<svg width="0" height="0" class="hidden">
  <symbol
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 40"
    id="arrow-slider"
  >
    <path
      d="M0.33325 4.6328L0.33325 2.52157L4.37622 0.951629L19.3809 18.4293L19.3809 21.5692L4.37622 39.0469L0.333252 37.4769L0.333252 35.3657L12.7142 19.9993L0.33325 4.6328Z"
      fill="#767373"></path>
    <path
      d="M0.33325 4.6328L0.33325 2.52157L4.37622 0.951629L19.3809 18.4293L19.3809 21.5692L4.37622 39.0469L0.333252 37.4769L0.333252 35.3657L12.7142 19.9993L0.33325 4.6328Z"
      fill="black"
      fill-opacity="0.2"></path>
    <path
      d="M0.33325 4.6328L0.33325 2.52157L4.37622 0.951629L19.3809 18.4293L19.3809 21.5692L4.37622 39.0469L0.333252 37.4769L0.333252 35.3657L12.7142 19.9993L0.33325 4.6328Z"
      fill="black"
      fill-opacity="0.2"></path>
  </symbol>
</svg>
<style>
  .d-none,
  .hidden,
  .hidden > * {
    display: block !important;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".fab-ready-works").forEach((block) => {
      let splide = new Splide(block, {
        arrows: true,
        autoplay: false,
        lazyLoad: "nearby",
        pagination: false,
        updateOnMove: !0,
        perPage: 4,
        breakpoints: {
          992: {
            perPage: 3,
            fixedWidth: "clamp(12.5rem, 10.3571rem + 10.7143vw, 20rem)",
          },
          767: { perPage: 2 },
          540: { perPage: 1 },
        },
      });
      splide.mount();
    });
  });
</script>
<!-- <script src="/js/construction-filter.js"></script>
<script src="/js/filter-tag.js"></script> -->
