---
import AchivementBanner from "../components/AchivementBanner.astro";
import Announce from "../components/Announce.astro";
import BlogRoot from "../components/Blog/BlogRoot.astro";
import CustomGrid from "../components/CustomGrid.astro";
import FeaturesRoot from "../components/Features/FeaturesRoot.astro";
import Icon from "../components/Icon.astro";
import OneHero from "../components/OneHero.astro";
import StageWorkRoot from "../components/StagesWorks/StageWorkRoot.astro";
import TestAdaptiveBanner from "../components/TestAdaptiveBanner.astro";
import YandexWidget from "../components/YandexWidget.astro";
import Layout from "../layout.astro";
import insertNbspAfterPrepositions from "../scripts/testwords";
import SpriteFeature from "../SpriteFeature.astro";

const Banner = {
    slide: {
        backgoundDesktop: "https://static0.wow2print.com/storage/119/content/image/1736823257688731b917b6e9.67109619.webp",
        backgroundMobile: "https://static0.wow2print.com/storage/119/content/image/1940737784688731b8a06086.29529607.webp",
        backgroundSize: 125
    }
}
---

<Layout title="О компании">
    <div class="fab-page">
        <div class="content-grid">
            <TestAdaptiveBanner {...Banner}  />
            <!-- <OneHero {...Banner} /> -->
            <h1>О компании</h1>
            <section>
                <h2>Кто мы</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>FINEARTBOX был основан в 2016 году как проект, специализирующийся на создании упаковки любой сложности и тиражности, включая эксклюзивные малотиражные варианты с персонализацией. Являясь частью группы компаний FINEARTPRINT, проект FINEARTBOX предлагает полный спектр услуг, от разработки дизайна и конструирования до производства упаковки и коробок на собственном высокотехнологичном предприятии в Москве.</p>
                        <p>Наша цель – создание уникальной упаковки, способной впечатлить как заказчика, так и его целевую аудиторию. Статистика показывает, что продуманная конструкция упаковки способна увеличить потребительский интерес к продукту более чем на 30%. Мы придаем особое значение практичности, эргономичности, эстетической привлекательности и визуальной привлекательности упаковки.</p>
                    </div>
                    <div>
                        <p>Наше производство осуществляет строгий контроль качества на каждом этапе: от разработки конструкции и подготовки макетов до печати тиража, послепечатной обработки и доставки. Благодаря накопленному опыту и высокому профессионализму, мы предлагаем клиентам комплексный подход, включающий инновационные идеи, качественную печать по европейским стандартам, современные технологии отделки и логистические решения.</p>
                        <p>Все это позволяет повысить узнаваемость бренда, эффективно продвигать продукцию на рынке и стимулировать рост продаж.</p>
                    </div>
                </CustomGrid>
            </section>
            <Announce
                maxWidthBlock={`32rem`}
                colorMark="var(--color-orange)"
                fontSize="1.5rem"
                marginBlock="0 auto"
                text={insertNbspAfterPrepositions(`<h2>Fineartbox — упакуем ваши идеи</h2>`)}
            />
            <StageWorkRoot />
            <FeaturesRoot />
            <section>
                <h2>Почему выгодно работать с нами</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>
                            Мы экономим время и усилия клиента.<br />
                            Мы предлагаем решения, а не детализируем брифы.<br />
                            Мы внима тельно относимся к айдентике бренда.<br />
                            Мы гарантируем качество продукции.<br />
                            От формата до управления цветом – все в строгом соответствии с корпоративным стилем.<br />
                            Мы экономим бюджет клиента.<br />
                    </div>
                    <div>
                        <p>Свидетельства нашей способности решать любые задачи – современное оборудование, программы повышения квалификации персонала, опыт работы на высококонкурентном рынке, лояльные клиенты в лице глобальных корпораций.</p>
                    </div>
                </CustomGrid>
            </section>
            <section>
                <h2>Разработка конструкций</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>Клиенты высоко ценят наш конструкторский отдел, который постоянно экспериментируют в работе с материалами и конструктивными решениями. Мы оперативно создадим чертежи и изготовим пилотный образец упаковки для вашего проекта. Можно увидеть реализованную конструкцию в объеме – это  важно для восприятия конструкции упаковки в объеме. Затем в пилотный образец конструкции можно корректировать и устранять недочеты до запуска финального тиража в производство.</p>
                        <p>Также мы предлагаем разработку конструкции упаковки с вашим дизайном. К примеру, креативное бюро либо дизайн-агентство предоставляет нам оригинальную идею продукта, а мы в свою очередь предлагаем несколько вариантов конструкций с выбором переплетных материалов. Пилотный образец будет создан с учетом всех технологических деталей, необходимых для РЕАЛЬНОГО производства упаковки. Для нас разработка новых конструкций – ежедневная любимая работа. Мы активно развиваем конструкторский отдел и накапливаем опыт.</p>
                    </div>
                    <div>
                        <p>Проект FineArtBox решает следующие задачи: конструирование упаковки, подбор технологии изготовления, предложение различных материалов для упаковки и ложемента, оперативное изготовление пилотных образцов упаковки для утверждения конструкции и материалов. У нас отработан стандартный процесс, при котором новый тираж нестандартной упаковки не запускается в производство до тех пор, пока не утвержден пилотный образец. Это значит, что все наши «коробочки» легко собираются и закрываются, все изделия, где используется ложемент, хорошо зафиксированы и их удобно извлекать.</p>
                        <p>Мы сконструируем и изготовим нетиповую премиальную продукцию. Конечно, стоимость нестандартной подарочной упаковки всегда выше, чем цена типовой упаковки, но и результат сравнивать нельзя!</p>
                    </div>
                </CustomGrid>
            </section>
            <CustomGrid columns="2">
                <YandexWidget />
                <BlogRoot />
            </CustomGrid>
            <section>
                <CustomGrid columns="4">
                    <img style="grid-area: span 2" src="https://static0.wow2print.com/storage/119/content/image/2053087665688385943704d8.78085245.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/6164268426883859554a0d8.25115563.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/25834392368838595d50381.68536226.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/176045869268838595880e70.12556903.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/1170778549688385951965e5.32919228.webp" alt="" />
                    <img style="grid-area: auto / span 2" src="https://static0.wow2print.com/storage/119/content/image/206146467168838594a31fc6.27164288.webp" alt="" />
                </CustomGrid>
            </section>
            <AchivementBanner />
            <ul class="fab-faq-block" id="order">
        <li>
          <ul>
            <!-- <li class="fab-faq-item">
              <label class="fab-faq-item-head">
                <h3>Кто мы</h3>
                <input type="checkbox">
                <Icon width="24" height="24" id="arrow" />
              </label>
              <div class="fab-faq-item-answer">
                <div class="fab-faq-item-answer-inner">
                  <p>Проект FINEARTBOX создан в 2016 году. Наш проект FINEARTBOX занимается разработкой и изготовлением упаковки различной сложности, в том числе, персонализированной малотиражной упаковкой. Проект FINEARTBOX входит в группу компаний FINEARTPRINT. Он принадлежит группе компаний: ООО АртСервис-Дизайн и ООО «ТиДжиПак», которые были образованы в 2005 году. Спектор наших услуг большой: дизайн-студия, конструкторское бюро и собственное производство. Мы создадим для вас уникальный продукт, который удивит всех – вас, ваших клиентов и партнеров. Удачная конструкция упаковки повышает интерес потребителя к товару более чем на 30%. При этом мы исходим из того, что упаковка должна быть удобной, эргономичной, эстетичной, привлекающей внимание. Собственное производство позволяет нам контролировать каждый этап качества продукции – от разработки конструкции и подготовки макетов до логистики. Накопленный опыт и профессионализм сотрудников позволяют FineArtBox предоставить клиентам полный комплекс услуг – инновационные дизайнерские идеи, качественную печать европейского уровня, а также самые актуальные и востребованные на рынке технологии послепечатной обработки. Это поможет вам повысить узнаваемость собственного бренда, успешно продвигать свой продукт на рынке, увеличивать объемы продаж.</p>
                </div>
              </div>
            </li> -->
            <li class="fab-faq-item">
              <label class="fab-faq-item-head">
                <h3>Почему выгодно работать с нами</h3>
                <input type="checkbox">
                <Icon width="24" height="24" id="arrow" />
              </label>
              <div class="fab-faq-item-answer">
                <div class="fab-faq-item-answer-inner">
                    <ul>
                        <li>Мы экономим время и усилия клиента.</li>
                        <li>Мы предлагаем решения, а не детализируем брифы.</li>
                        <li>Мы внимательно относимся к айдентике бренда.</li>
                        <li>Мы гарантируем качество продукции.</li>
                        <li>От формата до управления цветом – все в строгом соответствии с корпоративным стилем.</li>
                        <li>Мы экономим бюджет клиента.</li>
                    </ul>
                    <p>Свидетельства нашей способности решать любые задачи – современное оборудование, программы повышения квалификации персонала, опыт работы на высококонкурентном рынке, лояльные клиенты в лице глобальных корпораций.</p> 
                </div>
              </div>
            </li>
            <li class="fab-faq-item">
              <label class="fab-faq-item-head">
                <h3>Как мы работаем?</h3>
                <input type="checkbox">
                <Icon width="24" height="24" id="arrow" />
              </label>
              <div class="fab-faq-item-answer">
                <div class="fab-faq-item-answer-inner">
                  <p>Каждый проект подразумевает определенный алгоритм. Сначала – определение потребностей клиента, подбор конструкций упаковки и переплетных материалов. Далее мы конструируем упаковку, изготавливаем пилотные образцы, вносим правки, утверждаем финальную конструкцию. Следующий этап: подготовка проекта для запуска в производство (покупка материалов, изготовление штампов, клише и т.д.). Собственное производство позволяет нам контролировать и оптимизировать каждый этап проекта – печать, послепечатную обработку, отделку (ламинация, лак, тиснение, вырубка), сборку упаковки, отгрузку готовой продукции клиенту. Мы стараемся быстро и точно определять потребности своих клиентов, оперативно изготавливать пилотные образцы упаковки перед запуском в производство.</p>
                </div>
              </div>
            </li>
            <li class="fab-faq-item">
              <label class="fab-faq-item-head">
                <h3>Разработка конструкций</h3>
                <input type="checkbox">
                <Icon width="24" height="24" id="arrow" />
              </label>
              <div class="fab-faq-item-answer">
                <div class="fab-faq-item-answer-inner">
                    <p>Клиенты высоко ценят наш конструкторский отдел. Его сотрудники это заслужили – они постоянно экспериментируют в работе с материалами и конструктивными решениями. Мы оперативно создадим чертежи и изготовим пилотный образец упаковки для вашего проекта. Вы сможете увидеть реализованную конструкцию в объеме – это очень важно для зрительного восприятия конструкции упаковки. Затем в пилотный образец конструкции можно будет вносить корректировки и устранять недочеты до запуска финального тиража в производство.</p>
                    <p>Также мы предлагаем вам разработку конструкции упаковки с вашей дизайнерской идей. К примеру, креативное бюро либо дизайн-агентство предоставляет нам оригинальную идею продукта, а мы в свою очередь предлагаем несколько вариантов конструкций с выбором переплетных материалов. Пилотный образец будет создан с учетом всех технологических деталей, необходимых для РЕАЛЬНОГО производства упаковки. Для нас разработка новых конструкций –ежедневная любимая работа. Мы активно развиваем конструкторский отдел и накапливаем опыт.</p>
                    <p>FineArtBox решает следующие задачи клиента: конструирование упаковки, подбор технологии изготовления, предложение разных переплетных материалов для упаковки и ложемента, оперативное изготовление пилотных образцов упаковки для утверждения конструкции и материалов. У нас отработан стандартный процесс, при котором новый тираж нестандартной упаковки не запускается в производство до тех пор, пока не утвержден пилотный образец. Это значит, что все наши «коробочки» легко собираются и закрываются, все изделия, где используется ложемент, хорошо зафиксированы и их удобно извлекать.</p>
                    <p>Мы сконструируем и изготовим для вас нетиповую премиальную продукцию. Конечно, стоимость нестандартной подарочной упаковки всегда выше, чем цена типовой упаковки, но и результат сравнивать нельзя!</p>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>

        </div>
    </div>
    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" width="100" height="72" viewBox="0 0 100 72" fill="none" id="achievement">
            <path d="M72 37.15L0 0V34.77L72.15 72H100V51.6L72 37.15Z" fill="#F3F0F0"/>
            <path d="M0 34.77L8 38.9V4.13L0 0V34.77Z" fill="#F15A2A"/>
            <path d="M86 8V64H14V8H86ZM24.585 12.8555C24.0289 12.8555 23.562 13.319 23.5918 13.873C23.701 15.9784 22.0525 17.7314 19.9971 17.7314H19.749C19.223 17.7316 18.8058 18.1945 18.8057 18.7383V53.2617C18.8058 53.8055 19.223 54.2684 19.749 54.2686H19.9971C22.0525 54.2686 23.701 56.0216 23.5918 58.127C23.562 58.6911 24.0389 59.1445 24.585 59.1445H75.4248C75.9809 59.1445 76.4478 58.681 76.418 58.127C76.3088 56.0216 77.9573 54.2686 80.0127 54.2686H80.2607C80.7869 54.2685 81.2039 53.8055 81.2041 53.2617H81.1943V18.7383C81.1942 18.1945 80.777 17.7316 80.251 17.7314H80.0029C77.9475 17.7314 76.299 15.9784 76.4082 13.873C76.438 13.3089 75.9611 12.8555 75.415 12.8555H24.585ZM73.3701 16.8301C73.7201 17.73 74.2499 18.5703 74.9199 19.2803C75.6999 20.0902 76.64 20.7199 77.6699 21.1299V50.4502C76.64 50.8502 75.6899 51.4799 74.9199 52.2998C74.2499 53.0098 73.7201 53.85 73.3701 54.75H27.1299C26.7799 53.85 26.2501 53.0098 25.5801 52.2998C24.8001 51.4899 23.86 50.8602 22.8301 50.4502V21.1299C23.86 20.7299 24.8101 20.1002 25.5801 19.2803C26.2501 18.5703 26.7799 17.73 27.1299 16.8301H73.3701ZM30.1797 43.3799V47.3799H50.3799V43.3799H30.1797ZM58.3398 43.3799V47.3799H70.3398V43.3799H58.3398ZM50.6797 23.1104C50.4897 22.7504 49.98 22.7504 49.79 23.1104L48.2305 26.1201C48.1605 26.2601 48.03 26.3499 47.8701 26.3799L44.5303 26.9297C44.1304 26.9897 43.9802 27.4795 44.2598 27.7695L46.6396 30.1797C46.7496 30.2997 46.8003 30.4504 46.7803 30.6104L46.2695 33.96C46.2095 34.36 46.6302 34.6605 46.9902 34.4805L50.0195 32.96C50.1595 32.89 50.3298 32.8901 50.4697 32.96L53.5 34.4805C53.86 34.6603 54.2797 34.3599 54.2197 33.96L53.71 30.6104C53.69 30.4504 53.7396 30.2897 53.8496 30.1797L56.2305 27.7695H56.21C56.4996 27.4896 56.34 26.9999 55.9404 26.9297L52.5996 26.3799C52.4498 26.3598 52.3102 26.2599 52.2402 26.1201L50.6797 23.1104ZM67 23.1104C66.81 22.7504 66.3004 22.7504 66.1104 23.1104L64.5498 26.1201C64.4799 26.2599 64.3502 26.3498 64.1904 26.3799L60.8496 26.9297C60.4499 26.9899 60.3004 27.4796 60.5801 27.7695L62.96 30.1797C63.07 30.2997 63.1196 30.4504 63.0996 30.6104L62.5898 33.96C62.5299 34.3598 62.9497 34.6599 63.3096 34.4805L66.3398 32.96C66.4798 32.89 66.65 32.89 66.79 32.96L69.8203 34.4805C70.1802 34.66 70.6 34.3598 70.54 33.96L70.0303 30.6104C70.0103 30.4504 70.0599 30.2897 70.1699 30.1797L72.5498 27.7695H72.5303C72.8197 27.4895 72.6596 26.9997 72.2598 26.9297L68.9199 26.3799C68.77 26.3599 68.6296 26.2601 68.5596 26.1201L67 23.1104ZM34.3799 23.0996C34.1898 22.7401 33.6803 22.7402 33.4902 23.0996L31.9297 26.1104C31.8597 26.25 31.73 26.3401 31.5703 26.3701L28.2305 26.9199C27.8305 26.9799 27.6702 27.4697 27.96 27.7598L30.3398 30.1699C30.4497 30.2898 30.5003 30.4398 30.4805 30.5996L29.9697 33.9502H29.9502C29.8903 34.3501 30.31 34.6497 30.6699 34.4697L33.7002 32.9502C33.8402 32.8802 34.0104 32.8802 34.1504 32.9502L37.1797 34.4697C37.5396 34.6497 37.9602 34.3501 37.9004 33.9502L37.3896 30.5996C37.3698 30.4398 37.4204 30.2798 37.5303 30.1699L39.9102 27.7598C40.1999 27.4797 40.0396 26.9899 39.6396 26.9199L36.2998 26.3701C36.15 26.3501 36.0105 26.2501 35.9404 26.1104L34.3799 23.0996Z" fill="#A09C9D"/>
        </symbol>
    </svg>
</Layout>

<style lang="scss" is:global>
    .fab-faq-item {
    position: relative;
    padding: 1em 0;
    // border-bottom: 1px solid var(--color-medium-gray);
    list-style-type: none!important;
  }
  .fab-faq-item ul > li {
    list-style-type: disc!important;
  }
  .fab-faq-item ol > li {
    list-style-type: decimal!important;
  }
  .fab-faq-item h3 {
    font-size: 1.25rem;
    color: var(--color-primary);
    margin: 0 0 0.5em;
    font-weight: 500;
  }
  .fab-faq-item:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-2);
  }
  .fab-faq-item-head {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
    cursor: pointer;
  }
  .fab-faq-item-head input {
    display: none;
    appearance: none;
  }
  .fab-faq-item-head input {
    display: inline-block;
  }
  .fab-faq-item-head input + svg {
    transition: var(--transition-default);
  }
  .fab-faq-item-head input + svg {
    transform: rotate(90deg);
    filter: invert(0);
  }
  .fab-faq-item-head input:checked + svg {
    transform: rotate(0deg);
    filter: invert(1);
  }
  .fab-faq-item-head:has(input:not(:checked)) h3 {
    margin: 0;
  }
  .fab-faq-item-head h3 {
    transition: var(--transition-default);
    font-family: var(--font-family);
    font-size: 1.25rem;
  }
  .fab-faq-item-head:has(input:checked) + .fab-faq-item-answer {
    grid-template-rows: 1fr;
  }
  .fab-faq-item-answer {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.5s;
    transition-property: grid-template-rows, padding;
    width: 100%;
    padding: 0;
  }
  .fab-faq-item-answer-inner {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    overflow: hidden;
  }
  .fab-faq-item-answer-inner p {
    line-height: 1.6em;
    margin: 0;
  }
  .fab-faq-item-answer-inner ul,
  .fab-faq-item-answer-inner ol {
    padding: 0 0 0 1.2em;
  }
  .fab-faq-block {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .fab-faq-block h2 {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-primary);
  }
  .fab-faq-block > li > ul {
    padding: 0;
  }
  .fab-faq-block:before {
    content: "";
    display: block;
    height: var(--anchor-margin);
    margin-top: calc(-1 * var(--anchor-margin));
  }
  html {
    scroll-behavior: smooth;
  }
  :root {
    --anchor-margin: 64px;
    --title-faq-offset-top: 0;
    --anchors-faq-offset: 61px;
  }
  .fab-faq-page {
    grid-template-areas: "t" "anc" "cont";
    gap: 1.42rem;
    margin: 2rem 0;
  }
  .fab-faq-page :is(h1, h2, h3) {
    text-transform: none !important;
    margin: 0 0 0.5em;
  }
  @media (min-width: 768px) {
    .fab-faq-page {
      display: grid;
      grid-template-areas: "anc anc anc t t t t t t t t t" "anc anc anc cont cont cont cont cont cont cont cont cont";
      grid-template-columns: repeat(12, 1fr);
    }
  }
  .fab-faq-page :is(h1, .fab-faq-page__anchors) {
    background-color: #fff;
  }
  .fab-faq-page h1 {
    padding: 1rem 0;
    margin: 0;
    background-color: var(--color-white);
    grid-area: t;
    z-index: 1;
  }
  @media (max-width: 767.99px) {
    .fab-faq-page h1 {
      position: sticky;
      top: var(--title-faq-offset-top);
    }
  }
  @media (min-width: 768px) {
    .fab-faq-page h1 {
      padding: 0;
    }
  }
  .fab-faq-page__anchors {
    position: sticky;
    display: flex;
    gap: 1.25rem;
    background-color: #fff;
    grid-area: anc;
    overflow: auto;
    gap: 1em;
    list-style-type: none;
    padding: 0;
  }
  .fab-faq-page__anchors a {
    display: block;
    text-align: center;
  }
  .fab-faq-page__anchors a.active {
    background-color: var(--color-black);
    color: var(--color-bright-white);
  }
  @media (max-width: 767.99px) {
    .fab-faq-page__anchors {
      white-space: nowrap;
      padding: 0 0 1rem;
      z-index: 1;
      position: sticky;
      top: var(--anchors-faq-offset);
    }
  }
  @media (min-width: 768px) {
    .fab-faq-page__anchors {
      flex-direction: column;
      position: sticky;
      top: var(--anchor-margin);
      align-self: start;
    }
  }
  .fab-faq-page-content {
    grid-area: cont;
  }
  .fab-faq-page-content > ul:last-child > li > ul > li:last-child {
    border: none;
  }
  .fab-faq-item-answer {
    grid-area: cont;
    line-height: 1.6;
  }
  .fab-faq-item-answer ul {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }
  
  .fab-faq-page__anchors a {
    padding: 0.7em 1em;
    font-size: 0.875rem;
    font-weight: 400;
    // background-color: var(--color-gray-2);
    color: var(--color-black);
  }
  .fab-faq-page__anchors a:hover,
  .fab-faq-page__anchors a.active {
    background-color: var(--color-black);
    color: var(--color-bright-white);
    font-weight: 500;
    opacity: 1;
  }
</style>
