---
import Announce from "../components/Announce.astro";
import BlogRoot from "../components/Blog/BlogRoot.astro";
import CustomGrid from "../components/CustomGrid.astro";
import FeaturesRoot from "../components/Features/FeaturesRoot.astro";
import StageWorkRoot from "../components/StagesWorks/StageWorkRoot.astro";
import YandexWidget from "../components/YandexWidget.astro";
import Layout from "../layout.astro";
import insertNbspAfterPrepositions from "../scripts/testwords";
import SpriteFeature from "../SpriteFeature.astro";
---

<Layout title="О компании">
    <div class="fab-page">
        <div class="content-grid">
            <h1>О компании</h1>
            <section>
                <h2>Кто мы</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>FINEARTBOX был основан в 2016 году как проект, специализирующийся на создании упаковки любой сложности и тиражности, включая эксклюзивные малотиражные варианты с персонализацией. Являясь частью группы компаний FINEARTPRINT, проект FINEARTBOX предлагает полный спектр услуг, от разработки дизайна и конструирования до производства упаковки и коробок на собственном высокотехнологичном предприятии в Москве.</p>
                        <p>Наша цель – создание уникальной упаковки, способной впечатлить как заказчика, так и его целевую аудиторию. Статистика показывает, что продуманная конструкция упаковки способна увеличить потребительский интерес к продукту более чем на 30%. Мы придаем особое значение практичности, эргономичности, эстетической привлекательности и визуальной привлекательности упаковки.</p>
                    </div>
                    <div>
                        <p>Наше производство осуществляет строгий контроль качества на каждом этапе: от разработки конструкции и подготовки макетов до печати тиража, послепечатной обработки и доставки. Благодаря накопленному опыту и высокому профессионализму, мы предлагаем клиентам комплексный подход, включающий инновационные идеи, качественную печать по европейским стандартам, современные технологии отделки и логистические решения.</p>
                        <p>Все это позволяет повысить узнаваемость бренда, эффективно продвигать продукцию на рынке и стимулировать рост продаж.</p>
                    </div>
                </CustomGrid>
            </section>
            <Announce
                maxWidthBlock={`32rem`}
                colorMark="var(--color-orange)"
                fontSize="1.5rem"
                marginBlock="0 auto"
                text={insertNbspAfterPrepositions(`<h2>Fineartbox — упакуем ваши идеи</h2>`)}
            />
            <StageWorkRoot />
            <FeaturesRoot />
            <section>
                <h2>Почему выгодно работать с нами</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>
                            Мы экономим время и усилия клиента.<br />
                            Мы предлагаем решения, а не детализируем брифы.<br />
                            Мы внима тельно относимся к айдентике бренда.<br />
                            Мы гарантируем качество продукции.<br />
                            От формата до управления цветом – все в строгом соответствии с корпоративным стилем.<br />
                            Мы экономим бюджет клиента.<br />
                    </div>
                    <div>
                        <p>Свидетельства нашей способности решать любые задачи – современное оборудование, программы повышения квалификации персонала, опыт работы на высококонкурентном рынке, лояльные клиенты в лице глобальных корпораций.</p>
                    </div>
                </CustomGrid>
            </section>
            <section>
                <h2>Разработка конструкций</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>Клиенты высоко ценят наш конструкторский отдел, который постоянно экспериментируют в работе с материалами и конструктивными решениями. Мы оперативно создадим чертежи и изготовим пилотный образец упаковки для вашего проекта. Можно увидеть реализованную конструкцию в объеме – это  важно для восприятия конструкции упаковки в объеме. Затем в пилотный образец конструкции можно корректировать и устранять недочеты до запуска финального тиража в производство.</p>
                        <p>Также мы предлагаем разработку конструкции упаковки с вашим дизайном. К примеру, креативное бюро либо дизайн-агентство предоставляет нам оригинальную идею продукта, а мы в свою очередь предлагаем несколько вариантов конструкций с выбором переплетных материалов. Пилотный образец будет создан с учетом всех технологических деталей, необходимых для РЕАЛЬНОГО производства упаковки. Для нас разработка новых конструкций – ежедневная любимая работа. Мы активно развиваем конструкторский отдел и накапливаем опыт.</p>
                    </div>
                    <div>
                        <p>Проект FineArtBox решает следующие задачи: конструирование упаковки, подбор технологии изготовления, предложение различных материалов для упаковки и ложемента, оперативное изготовление пилотных образцов упаковки для утверждения конструкции и материалов. У нас отработан стандартный процесс, при котором новый тираж нестандартной упаковки не запускается в производство до тех пор, пока не утвержден пилотный образец. Это значит, что все наши «коробочки» легко собираются и закрываются, все изделия, где используется ложемент, хорошо зафиксированы и их удобно извлекать.</p>
                        <p>Мы сконструируем и изготовим нетиповую премиальную продукцию. Конечно, стоимость нестандартной подарочной упаковки всегда выше, чем цена типовой упаковки, но и результат сравнивать нельзя!</p>
                    </div>
                </CustomGrid>
            </section>
            <CustomGrid columns="2">
                <YandexWidget />
                <BlogRoot />
            </CustomGrid>
            <section>
                <CustomGrid columns="4">
                    <img style="grid-area: span 2" src="https://static0.wow2print.com/storage/119/content/image/2053087665688385943704d8.78085245.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/6164268426883859554a0d8.25115563.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/25834392368838595d50381.68536226.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/176045869268838595880e70.12556903.webp" alt="" />
                    <img style="grid-area: auto" src="https://static0.wow2print.com/storage/119/content/image/1170778549688385951965e5.32919228.webp" alt="" />
                    <img style="grid-area: span 2 / span 2" src="https://static0.wow2print.com/storage/119/content/image/206146467168838594a31fc6.27164288.webp" alt="" />
                </CustomGrid>
            </section>
        </div>
    </div>
    <SpriteFeature />
</Layout>