---
import CustomGrid from "../components/CustomGrid.astro";
import Layout from "../layout.astro";
---

<Layout>
    <section>

    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/fineartbox/84116757109/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">FineArtBox</a><a href="https://yandex.ru/maps/213/moscow/category/packing_materials/184106936/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Тара и упаковочные материалы в Москве</a><a href="https://yandex.ru/maps/213/moscow/category/printing_house/184107134/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Типография в Москве</a><iframe src="https://yandex.ru/map-widget/v1/?ll=37.513079%2C55.783687&mode=search&oid=84116757109&ol=biz&sctx=ZAAAAAgBEAAaKAoSCZ5eKcsQz0JAEdOgaB7A4EtAEhIJycuaWOBr%2FT8RZTiez4B64z8iBgABAgMEBSgKOABAppIHSAFiGnJlbGV2X2huc3dfbWVyZ2VfcmVzdWx0cz0wYi5idXNpbmVzc191c2VfZXhwZXJpbWVudGFsX29yZ2FuaWNfaG5zd19pbmRleD0xagJydZ0BzczMPaABAKgBAL0BiUg7v8IBBvW0%2F625AoICCmZpbmVhcnRib3iKAgCSAgCaAgxkZXNrdG9wLW1hcHM%3D&sll=37.513079%2C55.783687&sspn=0.020037%2C0.006628&text=fineartbox&z=16.52" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;border:none"></iframe></div>
        <section>
            <h1>Контактная информация</h1>
            <CustomGrid columns="2">
                    <div class="fab-contacts-block">
                        <h3>Есть вопросы? Свяжиесь с нами!</h3>
                        <p>Звоните: <a href="tel:+74952150977">+7 495 215-09-77</a><br />
                            Пишите: <a href="mailto:sale@fineartbox.ru">sale@fineartbox.ru</a></p>
                    </div>
                    <div class="fab-contacts-block">
                        <h3>Или приезжайте</h3>
                        <p><a href="https://yandex.ru/maps/-/CHccFSNQ">Метро МЦК Зорге, ул. Зорге 15к1,  офис 404, Москва, 125252</a></p>
                        <p>Ждём вас по будням (пн–пт) с 10:00 до 19:00</p>
                        <p>В офисе можно посмотреть широкий ассортимент и различные виды упаковки и полиграфической продукции, проконсультироваться с менеджерами по техническим моментам.</p>
                    </div>
            </CustomGrid>
        </section>
    
</section>
</Layout>
