---
import Announce from "../components/Announce.astro";
import CustomGrid from "../components/CustomGrid.astro";
import TestAdaptiveBanner from "../components/TestAdaptiveBanner.astro";
import Layout from "../layout.astro";
---

<Layout title="Ложементы">
    <!-- <TestAdaptiveBanner hidden={id > 0 ? true : false } dataId={`construction-${id+1}`} {...packagesType} /> -->
     <div class="fab-page">
        <div class="content-grid">
            <CustomGrid columns="2">
                <div>
                    <h2>Зачем нужен ложемент?</h2>
                    <p>Главная цель создания упаковки любого вида — защита её содержимого. Поэтому каждый ложемент должен выполнять следующие задачи:</p>
                    <ul>
                        <li>Надежная фиксация товара в таре</li>
                        <li>Амортизация ударов, тряски, вибрации при транспортировке</li>
                        <li>Разделение содержимого для исключения соударений, сколов</li>
                        <li>Комфортное хранение и использование товара</li>
                        <li>Защита от влаги, плесени, перепадов температур</li>
                    </ul>
                </div>
            </CustomGrid>
            <section>
                <h2>Виды</h2>
                <CustomGrid columns="2">
                    <div>
                        <h3>Рекламный ложемент</h3>
                        <img src="" alt="">
                        <p>В зависимости от конструкции, материала, назначения, вкладыши бывают упаковочные и рекламные. Упаковочные фиксируют товар при перевозке или хранении, разделяют внутренние элементы, берегут их от ударов, условий окружающей среды.</p>
                    </div>
                    <div>
                        <h3>Упаковочный ложемент</h3>
                        <img src="" alt="">
                        <p>В зависимости от конструкции, материала, назначения, вкладыши бывают упаковочные и рекламные. Упаковочные фиксируют товар при перевозке или хранении, разделяют внутренние элементы, берегут их от ударов, условий окружающей среды.</p>
                    </div>
                </CustomGrid>
            
            </section>
            <section>
                <h2>Ложементы для картонной упаковки</h2>
                <CustomGrid classes="fab-scrollbar" columns="3">
                    <div>
                        <h3>Картон</h3>
                        <p>Ложемент из картона отличает недорогая себестоимость, легкий вес, универсальность. Обычно используются МГК, с печатью, дизайнерский, переплетный картоны</p>
                    </div>
                    <div>
                        <h3>Микрогофрокартон / парфюмерный</h3>
                        <p>Ложемент из картона отличает недорогая себестоимость, легкий вес, универсальность. Обычно используются МГК, с печатью, дизайнерский, переплетный картоны</p>
                    </div>
                    <div>
                        <h3>Слимованый картон</h3>
                        <p>Ложемент из картона отличает недорогая себестоимость, легкий вес, универсальность. Обычно используются МГК, с печатью, дизайнерский, переплетный картоны</p>
                    </div>
                </CustomGrid>
                
            </section>
            {
            pageData?.packageTypes?.length > 0 &&
                <section class="fab-ready-works-section">
                    <h2>Реализованные проекты картонной упаковки</h2>
                        {
                            pageData?.packageTypes?.map( (packagesType, id) => 
                                <>
                                    {
                                        <ReadyWorks {...packagesType} id={id+1} />
                                    }
                                </>
                            )
                        }
                </section>
            }
            <Announce
                maxWidthBlock={pageData.announceMaxWidth}
                colorMark="var(--color-orange)"
                marginBlock="0 auto"
                text={insertNbspAfterPrepositions(cleanHtml(pageData?.announce))}
            />
            
        </div>
     </div>
</Layout>