---
import CustomGrid from "../components/CustomGrid.astro";
import OneHero from "../components/OneHero.astro";
import Layout from "../layout.astro";
const Banner = {
    Banner: {
        backgoundDesktop: "https://static0.wow2print.com/storage/119/content/image/1345117144685e4e06316485.63666809.webp",
        backgroundMobile: "https://static0.wow2print.com/storage/119/content/image/1345117144685e4e06316485.63666809.webp"
    }
}

---

<Layout title="Словарь терминов">
  <div class="fab-page">
    <div class="content-grid">
      <OneHero {...Banner}  />
      <h1>Словарь терминов</h1>
      <section class="fab-terms-block">
        <h2 class="h3">Что нужно знать?</h2>
        <CustomGrid columns="2">
          <div>
            <dl>
              <dt>Параметры</dt><dd>
                нужно определиться с параметрами изделия и сообщить: формат,
                красочность, способ скрепления и спецэффекты, которые вы хотели
                бы видеть.
              </dd>
            </dl>
            <dl>
              <dt>Допечатные процессы</dt><dd>
                стадии полиграфической технологии, которые связаны с подготовкой
                издания к печати. . Как правило, это набор, цветоделение,
                обработка текста и изображения, верстка полос издания, монтаж и
                раскладка полос на печатном листе. А также изготовление печатной
                формы.
              </dd>
            </dl>
            <dl>
              <dt>Верстка</dt><dd>
                монтаж полос издания заданного размера из составных элементов:
                наборных строк текста, заголовков, формул, таблиц, репродукций
                иллюстраций, украшений, колонцифр, колонтитулов и т.д.
              </dd>
            </dl>
            <dl><dt>Тираж</dt><dd>общее число экземпляров издания.</dd> —</dl>
            <dl>
              <dt>Спецэффекты</dt><dd>
                например, ваше изделие можно дополнительно покрыть лаком или
                прозрачной пленкой. Сроки будут зависеть от количества
                послепечатных операций.
              </dd>
            </dl>
            <dl>
              <dt>Формат</dt><dd>
                линейные размеры (длина, ширина или высота) печатной формы,
                листа бумаги, книжного блока и т.п. выраженные в метрических или
                типометрических единицах. Стандартная система обозначения
                форматов – А5, А4, А3 и т.д.
              </dd>
            </dl>
            <dl>
              <dt>Полоса</dt><dd>
                запечатанная площадь страницы издания. Понятие страницы в
                полиграфии заменяет «полоса». Полоса в полиграфии — это то же
                самое, что и страница. Например, если мы говорим, что в брошюре
                100 полос — это значит 100 страниц.
              </dd>
            </dl>
            <dl>
              <dt>Разворот</dt><dd>
                это две полосы (страницы) одна рядом с другой.
              </dd>
            </dl>
            <dl>
              <dt>Лист</dt><dd>
                это две полосы (страницы), расположенные на одном листе: одна —
                с одной стороны листа, другая – с другой. В полиграфии принято
                указывать форматы материалов в сложенном виде, а не в развороте
                (в раскрытом виде). Например, если формат буклета в развороте —
                А4, в сложенном (закрытом) виде – А5, то правильное название
                формата для данного материала будет «буклет А5». Правильным
                считается указание формата в такой последовательности: сначала
                размер по горизонтали, потом — по вертикали. Размеры в
                полиграфии обычно указываются в мм.
              </dd>
            </dl>
          </div>
          <div>
            <dl>
              <dt>Макет</dt><dd>
                это пример, по которому делают верстку полос издания и монтаж.
                Макет выполняется в специальных дизайнерских программах (Adobe
                InDesing – indd и др.).
              </dd>
            </dl>
            <dl>
              <dt>Макетирование</dt><dd>
                чтобы макет был исполнен быстро и качественно, дизайнер должен
                получить подробное и четкое задание. Чем больше пожеланий и
                деталей вы укажете, тем быстрее и качественнее будет сделан
                макет. Все фото должны быть в хорошем разрешении. Текст
                необходим в формате Word в максимально финализированном виде.
              </dd>
            </dl>
            <dl>
              <dt>Кривые</dt><dd>
                это специальный электронный формат представления графики и
                текста, который необходим для печати издания.
              </dd>
            </dl>
            <p>
              Выполняя верстку, дизайнер переводит текст, который вы
              предоставляете в Word, в кривые, т.е. каждое слово переводится в
              векторный контур с контрольными точками, соединяющимися между
              собой.
            </p>
            <p>
              После перевода текста в кривые любые изменения по тексту занимают
              очень много времени. Именно поэтому текст лучше всегда
              редактировать в Word и предоставлять дизайнеру уже в конечном
              виде. Так верстка займетминимум времени.
            </p>
            <dl>
              <dt>Верстка</dt><dd>
                это процесс создания электронного файла с макетом, с которого
                потом будет осуществляться печать.
              </dd>
            </dl>
            <dl>
              <dt>Исходные материалы</dt><dd>
                это материалы, с помощью которых будет осуществляться создание
                или верстка макета. С текстом все просто, его достаточно
                предоставить в формате Word. Все фотоимиджи нужны обязательно
                отдельно в хорошем разрешении, иначе при печати они получатся
                расплывчатыми. Если верстка уже есть, но ее нужно доработать или
                перевести на русский язык, то необходимо предоставить файл
                верстки в дизайнерском формате (ai, indd).
              </dd>
            </dl>
            <dl>
              <dt>Растровые изображения высокого разрешения</dt> – <dd>
                это фотоимиджи в разрешении, требующиеся для данного макета.
                Размер разрешения, который необходим, зависит от размера
                фотоизображения, которое будет размещено в материале.
              </dd>
            </dl>
          </div>
        </CustomGrid>
      </section>
      <section class="fab-terms-block">
        <h2 class="h3">Печатные материалы</h2>
        <CustomGrid columns="2">
          <div>
            <dl>
              <dt>Параметры</dt>
              <dd>
                нужно определиться с параметрами изделия и сообщить: формат,
                красочность, способ скрепления и спецэффекты, которые вы хотели
                бы видеть.
              </dd>
            </dl>
            <dl>
              <dt>Допечатные процессы</dt>
              <dd>
                стадии полиграфической технологии, которые связаны с подготовкой
                издания к печати. Как правило, это набор, цветоделение,
                обработка текста и изображения, верстка полос издания, монтаж и
                раскладка полос на печатном листе. А также изготовление печатной
                формы.
              </dd>
            </dl>
            <dl>
              <dt>Верстка</dt>
              <dd>
                монтаж полос издания заданного размера из составных элементов:
                наборных строк текста, заголовков, формул, таблиц, репродукций
                иллюстраций, украшений, колонцифр, колонтитулов и т.д
              </dd>
            </dl>
            <dl>
              <dt>Тираж</dt>
              <dd>общее число экземпляров издания.</dd>
            </dl>
            <dl>
              <dt>Спецэффекты</dt>
              <dd>
                например, ваше изделие можно дополнительно покрыть лаком или
                прозрачной пленкой. Сроки будут зависеть от количества
                послепечатных операций.
              </dd>
            </dl>
            <dl>
              <dt>Формат</dt>
              <dd>
                линейные размеры (длина, ширина или высота) печатной формы,
                листа бумаги, книжного блока и т.п. выраженные в метрических или
                типометрических единицах. Стандартная система обозначения
                форматов – А5, А4, А3 и т.д.
              </dd>
            </dl>
          </div>
          <div>
            <dl>
              <dt>Полоса</dt>
              <dd>
                запечатанная площадь страницы издания. Понятие страницы в
                полиграфии заменяет «полоса». Полоса в полиграфии — это то же
                самое, что и страница. Например, если мы говорим, что в брошюре
                100 полос — это значит 100 страниц.
              </dd>
            </dl>
            <dl>
              <dt>Разворот</dt>
              <dd>это две полосы (страницы) одна рядом с другой.</dd>
            </dl>
            <dl>
              <dt>Лист</dt>
              <dd>
                это две полосы (страницы), расположенные на одном листе: одна —
                с одной стороны листа, другая – с другой. В полиграфии принято
                указывать форматы материалов в сложенном виде, а не в развороте
                (в раскрытом виде). Например, если формат буклета в развороте —
                А4,в сложенном (закрытом) виде – А5, то правильное название
                формата для данного материала будет «буклет А5». Правильным
                считается указание формата в такой последовательности: сначала
                размер по горизонтали, потом — по вертикали. Размеры в
                полиграфии обычно указываются в мм.
              </dd>
            </dl>
            <dl>
              <dt>Макет</dt>
              <dd>
                это пример, по которому делают верстку полос изданияи монтаж.
                Макет выполняется в специальных дизайнерских программах (Adobe
                InDesing – indd и др.).
              </dd>
            </dl>
            <dl>
              <dt>Макетирование</dt>
              <dd>
                чтобы макет был исполнен быстро и качественно, дизайнер должен
                получить подробное и четкое задание. Чем больше пожеланий и
                деталей вы укажете, тем быстрее и качественнее будет сделан
                макет. Все фото должны быть в хорошем разрешении. Текст
                необходим в формате Word в максимально финализированном виде.
              </dd>
            </dl>
          </div>
        </CustomGrid>
      </section>
    </div>
  </div>
</Layout>

<style lang="scss" is:global>
  .fab-terms-block {
    position: relative;
    font-size: 1rem;
    & :is(dt, dd) {
      display: inline;
      margin: 0;
    }
    & dl {
      margin: 0;
    }
    & dd {
      font-weight: 400;
    }
    & dd::before {
      content: " — ";
    }
    & dt {
      font-weight: 700;
    }
  }
</style>
