---
import AchievementsItem from "./Item.astro";
---

<section class="fab-achievements">
    <h2>Нажи достижения</h2>
    <div class="fab-achievements-grid fab-scrollbar">
        <AchievementsItem title="Рост производительности на&nbsp;30%" description="Внедрение автоматизированной линии сократило сроки производства и увеличило объёмы выпуска" src="https://static0.wow2print.com/storage/119/content/image/7629170616851046b92a138.93762658.jpg"/>
        <AchievementsItem title="Выход на новые региональные&nbsp;рынки" description="Успешные поставки в другие регионы расширили географию продаж на 5 новых направлений" src="https://static0.wow2print.com/storage/119/content/image/6785264206851046bdc23a8.60249981.jpg" />
        <AchievementsItem title="Экологичная упаковка нового&nbsp;поколения" description="Разработка и сертификация перерабатываемых материалов в соответствии с международными стандартами" src="https://static0.wow2print.com/storage/119/content/image/19365773106851046c2f2f10.93561156.jpg" />
        <AchievementsItem title="Онлайн-конструктор — рост продаж на&nbsp;40%" description="Интерактивный сервис для клиентов увеличил количество заказов и упростил персонализацию упаковки" src="https://static0.wow2print.com/storage/119/content/image/5018343556851046c6b0301.50392848.jpg" />
    </div>
    
</section>

<style lang="scss">
    .fab-achievements-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        @media (min-width: 992px) {
            gap: 3rem 4rem;
        }
    }

</style>