---
import Mark from "./Mark.astro";
const {maxWidthBlock, fontSize, marginBlock, text} = Astro.props;
---

<div class="fab-announce" style={`--max-width: ${maxWidthBlock}; --margin-block: ${marginBlock}; --font-size: ${fontSize}`} set:html={text}>
</div>

<style lang="scss" is:global>
    .fab-announce {
        
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--global-gap);
        max-width: var(--max-width);
        margin: var(--margin-block)!important;
        font-family: var(--font-family);


        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(-1* var(--padding-level-one));
            width: 14px;
            height: 100%;
            min-height: 2rem;
            background: var(--color-orange);
            clip-path: polygon(100% 0, 100% calc(100% - 14px), 0 100%, 0% 14px);
        }

        & h2 {
            --margin-title: 2rem;
            padding: 0 0 0 var(--margin-title);
            font-size: var(--font-size);
        }

        @media (min-width: 992px) {
            // grid-area: auto / span 6;
        }


    }
</style>