
<input hidden type="checkbox" class="fab-toggle-menu" id="toggle-menu" />
<label for="toggle-menu" class="burger-btn">
  <span class="bar"></span>
  <span class="bar"></span>
</label>


<style lang="scss" is:global>
    // Переменные настройки
$bar-width: 18px;
$bar-height: 3px;
$bar-spacing: 8px;
$transition-speed: 0.2s;

.burger-btn {
    display: inline-block;
  position: relative;
  width: $bar-width;
  height: ($bar-height * 2) + $bar-spacing;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;

  .bar {
    position: absolute;
    width: $bar-width;
    height: $bar-height;
    background-color: var(--color-gray-5);
    border-radius: 2px;
    transition: all $transition-speed ease-in-out;
    
    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      bottom: 0;
    }
  }

  // Активный режим (крестик)
  &.active {
    
  }
}

body:has( .fab-toggle-menu:checked) {
  overflow-y: hidden;
}

@media (max-width: 991.99px) {
  .fab-header:has( .fab-toggle-menu:checked) .fab-menu-section {
    transform: translateX(0);
    opacity: 1;
  }
}


.fab-toggle-menu:checked ~ .burger-btn {
    .bar:nth-child(1) {
      transform: rotate(45deg);
      top: 50%;
      margin-top: calc(-0.5 * $bar-height);
    }

    .bar:nth-child(2) {
      transform: rotate(-45deg);
      bottom: 50%;
      margin-bottom: calc(-0.5 * $bar-height);
    }
  }
</style>