---
import Icon from "./Icon.astro";
---

<div class="fab-faq-item">
    <Icon id="arrow" width="24" height="24" />
    <h2>Конструкционные особенности</h2>
    <div class="fab-faq-item-wrap">

    </div>
</div>

<style>
    .fab-faq-item {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
</style>