---
import Icon from "./Icon.astro";
---


    <footer class="fab-footer">
        <ul class="fab-footer-menu">
            <li><a href="">Подарочная упаковка</a></li>
            <li><a href="">Картонные коробки</a></li>
            <li><a href="">Пакеты</a></li>
            <li><a href="">Ложементы</a></li>
            <li><a href="">Отделки</a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="">Портфолио</a></li>
            <li><a href="">Клиенту</a></li>
            <li><a href="">Блог</a></li>
        </ul>
        <hr/>
        <small class="fab-copyright">&copy; 2005–2025 FINEARTBOX</small>
        <ul class="fab-social-networks">
            <li>
                <a rel="nofollow" href="https://vk.com/fineartbox">
                    <Icon id="vk" width="16" height="16" />
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://t.me/fineartbox">
                    <Icon id="tg" width="16" height="16" />
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.instagram.com/fineartbox/">
                    <Icon id="inst" width="16" height="16" />
                </a>
            </li>
            
            
            
        </ul>
        <ul class="fab-legacy-content">
            <li>
                <a href="#" class="link--gray">Карта сайта</a>
            </li>
            <li>
                <a href="/agreement" class="link--gray">Политика конфиденциальности</a>
            </li>
            
            
        </ul>
    </footer>


<style lang="scss" is:global>

    .fab-footer {
        grid-area: footer;
        display: grid;
        padding: 0 var(--global-gap);
        gap: calc(0.3 * var(--global-gap));
        grid-template-areas: "cop net"
                             "leg leg";



        & ul {
            display: flex;
            align-items: center;
            gap: .5em 1em;
            // justify-content: space-between;
        }

        // & .fab-social-networks, .fab-legacy-content {
            

        // }
        .fab-footer-menu {
            justify-content: space-between;
        }

        & .fab-social-networks {
            gap: 1.5rem;
            justify-content: flex-end;
            @media (min-width: 768px) {
                justify-content: inherit;
            }
        }

        & .fab-legacy-content {
            gap: 1.5rem;
            justify-content: space-between;
            @media (min-width: 768px) {
                justify-content: flex-end;
            }
        }

        & a {
            text-decoration: none;
        }

        & hr {
            @media (max-width: 767.99px) {
                display: none;
            }
        }

        @media (min-width: 768px) {
            grid-template-areas: "list list list list"
                        "line line line line"
                        "cop net . leg";
            gap: var(--global-gap);
        }

    }

    .fab-footer-menu { grid-area: list;}
    .fab-footer hr { grid-area: line;}
    .fab-copyright { grid-area: cop;}
    .fab-social-networks { grid-area: net;}
    .fab-legacy-content {grid-area: leg;}

    .fab-footer-menu {
        flex-wrap: wrap;
        @media (max-width:797.99px) {
            display: none!important;
        }
    }

    .fab-copyright {
        margin: 0 1.5em 0 0;
    }



</style>