---
import Copyright from "./Footer/Copyright.astro";
import LegacyContent from "./Footer/LegacyContent.astro";
import SocialNetworks from "./Footer/SocialNetworks.astro";
import Icon from "./Icon.astro";
import Sitemap from "./Sitemap.astro";
---


    <footer>
        <div class="fab-footer">
            <ul class="fab-footer-menu">
                <li><a href="/projects_category/box-cover-bottom-laminated">Подарочная упаковка</a></li>
                <li><a href="/projects_category/cardboard-boxes">Картонные коробки</a></li>
                <li><a href="/projects_category/packages">Бумажные пакеты</a></li>
                <li><a href="/projects_category/type-of-lodgement">Ложементы</a></li>
                <li><a href="/materials/finish">Виды отделки</a></li>
                <li><a href="/design_and_layout">Услуги</a></li>
                <li><a href="/portfolio">Портфолио</a></li>
                <li><a href="/term_of_use/payment">Клиентам</a></li>
                <li><a href="/blog">Блог</a></li>
            </ul>
            <hr/>
            <Copyright />
            <SocialNetworks />
            <LegacyContent />
        </div>
    </footer>
    <Sitemap />


<style lang="scss" is:global>

    footer {
        background-color: var(--width-page);
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: var(--global-template-columns);
            grid-template-areas: ". f . .";
        }
    }

    .fab-footer {
        position: relative;
        grid-area: f;
        display: grid;
        padding: 2rem clamp(1.7rem, 0.6479rem + 1.3146vw, 2rem);
        margin: 0 1.5rem 0 0;
        gap: calc(0.3 * var(--global-gap));
        grid-template-areas: "cop net"
                             "leg leg";



        & ul {
            display: flex;
            align-items: flex-start;
            gap: .5em 1em;
        }
        .fab-footer-menu {
            justify-content: space-between;
        }

        & .fab-legacy-content {
            gap: 1.5rem;
            justify-content: space-between;
            @media (min-width: 768px) {
                justify-content: flex-end;
            }
        }

        & a {
            text-decoration: none;
        }

        & hr {
            @media (max-width: 767.99px) {
                display: none;
            }
        }

        @media (min-width: 768px) {
            grid-template-areas: "list list list list"
                                "line line line line"
                                "cop net . leg";
            gap: var(--global-gap);
        }

    }

    .fab-footer-menu { grid-area: list;}
    .fab-footer hr { grid-area: line;}
    .fab-copyright { grid-area: cop;}
    .fab-social-networks { grid-area: net;}
    .fab-legacy-content {grid-area: leg;}

    .fab-footer-menu {
        flex-wrap: wrap;
        padding: 0;
        @media (max-width:797.99px) {
            display: none!important;
            margin: 0;
        }
    }

    .fab-copyright {
        margin: 0 1.5em 0 0;
        font-size: .85rem;
        color: var(--color-gray-4);
    }



</style>