<!-- <link href="./849f13b96ce26f3361dc6d1e99666159.css" rel="stylesheet" /> -->
<form class="calculation-module" data-product="15644" method="post">
  <div class="front-calculation-module" name="17430"></div><div
    class="front-calculation-module"
    name="1410"
  >
    <div
      class="calculation-module-attribute calculation-module-attribute-input calculation-module-attribute-stepping"
    >
      <div class="label-name block-title text-gray-700">Тираж</div>
      <div class="d-flex field__set_change">
        <input
          class="form-control product-calc-circulation product-calc-check-value form-control-height-4 stepping-input input-integer mr-2"
          data-min="300"
          data-max="3000"
          data-multiplicity="1"
          type="text"
          value="300"
          name="ProductCalculationModule[1410]"
          id="ProductCalculationModule_1410"
        />
        <div class="calculation-stepping d-flex">
          <button
            type="button"
            class="calculation-stepping-icon calculation-stepping-icon_minus disabled"
            style="opacity: 0.5;"
            disabled="disabled"
          >
            <svg class="svg-icon" viewBox="0 0 48 48"
              ><path d="M7.953 22.5h32.071v3H7.953z"></path></svg
            >
          </button>
          <button
            type="button"
            class="calculation-stepping-icon calculation-stepping-icon_plus"
            style="opacity: 1;"
          >
            <svg class="svg-icon" viewBox="0 0 48 48"
              ><path
                d="M39.984 22.5H25.5V8.016h-3V22.5H8.016v3H22.5v14.484h3V25.5h14.484v-3z"
              ></path></svg
            >
          </button>
        </div>
      </div>
    </div>
  </div><div
    class="front-calculation-module front-calculation-module-1410"
    name="1413"
  >
    <div
      class="calculation-module-attribute production-time-calc-module"
      data-cheapest=""
      data-is-rounded=""
    >
      <div class="production-time-grid production-time-page-grid">
        <div class="row production-time-grid-header text-gray-600 small-text">
          <div class="col-3 production-time-grid-number" data-grid="3">
            Тираж (шт)
          </div>
          <div
            class="col production-time-grid-day popover-help"
            data-grid="3"
            data-charge="10"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="bottom"
            data-html="1"
            data-content='<div style="font-family: FontSemiBold">Ориентировочная дата готовности.</div>'
            data-container="body"
            data-original-title=""
            title=""
          >
            <div
              class="production-time-header flex-column align-items-end justify-content-center selected"
              data-day="0"
            >
              <div class="text-gray-500 extra-small-text">Срок изгот.</div>
              <input
                value="0"
                type="radio"
                name="ProductCalculationModule[1413]"
              />
              <div class="production-day">10.10.25</div>
            </div>
          </div>
          <div
            class="col production-time-grid-day popover-help"
            data-grid="3"
            data-charge="25"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="bottom"
            data-html="1"
            data-content='<div style="font-family: FontSemiBold">Ориентировочная дата готовности.</div>'
            data-container="body"
            data-original-title=""
            title=""
          >
            <div
              class="production-time-header flex-column align-items-end justify-content-center"
              data-day="1"
            >
              <div class="text-gray-500 extra-small-text">Срок изгот.</div>
              <input
                value="1"
                type="radio"
                name="ProductCalculationModule[1413]"
              />
              <div class="production-day">06.10.25</div>
            </div>
          </div>
          <div
            class="col production-time-grid-day popover-help"
            data-grid="3"
            data-charge="40"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="bottom"
            data-html="1"
            data-content='<div style="font-family: FontSemiBold">Ориентировочная дата готовности.</div>'
            data-container="body"
            data-original-title=""
            title=""
          >
            <div
              class="production-time-header flex-column align-items-end justify-content-center"
              data-day="2"
            >
              <div class="text-gray-500 extra-small-text">Срок изгот.</div>
              <input
                value="2"
                type="radio"
                name="ProductCalculationModule[1413]"
              />
              <div class="production-day">02.10.25</div>
            </div>
          </div>
        </div>
        <div class="production-time-variants">
          <div class="row selected">
            <div class="col-3 production-time-number-wrapper">
              <div
                class="production-time-number production-time-number-300"
                data-number="300"
              >
                300
              </div>
            </div><div class="production-time-price-wrapper col">
              <div
                class="production-time-price selected bg-selected"
                data-number="300"
                data-production-day="18"
                data-production-date="undefined"
                data-value="47041.5"
                data-currency="руб."
                data-day="0"
                data-bonus="0"
                data-weight=""
                data-price-label=""
                data-cost-price="0"
                style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;"
              >
                <span class="text-2"
                  >47 041.50 <span
                    class="w2p-icon-currency-rub2 currency-icon-type-2 d-inline"
                  ></span></span>
              </div>
            </div><div class="production-time-price-wrapper col">
              <div
                class="production-time-price"
                data-number="300"
                data-production-day="14"
                data-production-date="undefined"
                data-value="53457"
                data-currency="руб."
                data-day="1"
                data-bonus="0"
                data-weight=""
                data-price-label=""
                data-cost-price="0"
                style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;"
              >
                <span class="text-2"
                  >53 457.00 <span
                    class="w2p-icon-currency-rub2 currency-icon-type-2 d-inline"
                  ></span></span>
              </div>
            </div><div class="production-time-price-wrapper col">
              <div
                class="production-time-price disabled"
                data-number="300"
                data-production-day="undefined"
                data-production-date="undefined"
                data-value="undefined"
                data-currency="undefined"
                data-day="2"
                data-bonus="undefined"
                data-weight="undefined"
                data-price-label=""
                data-cost-price="undefined"
                style="border-bottom-right-radius: 8px; border-bottom-left-radius: 0px;"
              >
                -
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade production-time-calc-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Тираж и сроки</h3>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span class="w2p-icon-close2"></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="production-time-select-block d-md-none">
                <label class="text-gray-800">Дата изготовления</label>
                <select class="production-time-select form-control">
                  <option data-day="0" value="0">10.10.25</option><option
                    data-day="1"
                    value="1">06.10.25</option
                  ><option data-day="2" value="2">02.10.25</option>
                </select>
              </div>

              <div class="production-time-grid production-time-modal-grid">
                <div
                  class="row production-time-grid-header text-gray-600 small-text"
                >
                  <div class="col-3 production-time-grid-number" data-grid="3">
                    Тираж (шт)
                  </div>
                  <div
                    class="col production-time-grid-day"
                    data-grid="3"
                    data-charge="10"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="bottom"
                    data-html="1"
                    data-template='<div class="popover popover-danger" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'
                    data-content='<div style="font-family: FontSemiBold">Дата готовности: 10 октября.</div>'
                    data-container="body"
                  >
                    <div
                      class="production-time-header flex-column align-items-end justify-content-center selected"
                      data-day="0"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Ориентировочная дата готовности"
                    >
                      <div class="text-gray-500 extra-small-text">
                        Срок изгот.
                      </div>
                      <input
                        value="0"
                        type="radio"
                        name="ProductCalculationModule[1413]"
                      />
                      <div class="production-day">10.10.25</div>
                    </div>
                  </div>
                  <div
                    class="col production-time-grid-day"
                    data-grid="3"
                    data-charge="25"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="bottom"
                    data-html="1"
                    data-template='<div class="popover popover-danger" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'
                    data-content='<div style="font-family: FontSemiBold">Дата готовности: 06 октября.</div>'
                    data-container="body"
                  >
                    <div
                      class="production-time-header flex-column align-items-end justify-content-center"
                      data-day="1"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Ориентировочная дата готовности"
                    >
                      <div class="text-gray-500 extra-small-text">
                        Срок изгот.
                      </div>
                      <input
                        value="1"
                        type="radio"
                        name="ProductCalculationModule[1413]"
                      />
                      <div class="production-day">06.10.25</div>
                    </div>
                  </div>
                  <div
                    class="col production-time-grid-day"
                    data-grid="3"
                    data-charge="40"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="bottom"
                    data-html="1"
                    data-template='<div class="popover popover-danger" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'
                    data-content='<div style="font-family: FontSemiBold">Дата готовности: 02 октября.</div>'
                    data-container="body"
                  >
                    <div
                      class="production-time-header flex-column align-items-end justify-content-center"
                      data-day="2"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Ориентировочная дата готовности"
                    >
                      <div class="text-gray-500 extra-small-text">
                        Срок изгот.
                      </div>
                      <input
                        value="2"
                        type="radio"
                        name="ProductCalculationModule[1413]"
                      />
                      <div class="production-day">02.10.25</div>
                    </div>
                  </div>
                </div>
                <div class="production-time-variants">
                  <div class="row selected">
                    <div class="col-3 production-time-number-wrapper">
                      <div
                        class="production-time-number production-time-number-300"
                        data-number="300"
                      >
                        300
                      </div>
                    </div><div class="production-time-price-wrapper col">
                      <div
                        class="production-time-price bg-selected"
                        data-number="300"
                        data-production-day="18"
                        data-production-date="undefined"
                        data-value="47041.5"
                        data-currency="руб."
                        data-day="0"
                        data-bonus="0"
                        data-weight=""
                        data-price-label=""
                        data-cost-price="0"
                        style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;"
                      >
                        <span class="text-2"
                          >47 041.50 <span
                            class="w2p-icon-currency-rub2 currency-icon-type-2 d-inline"
                          ></span></span>
                      </div>
                    </div><div class="production-time-price-wrapper col">
                      <div
                        class="production-time-price"
                        data-number="300"
                        data-production-day="14"
                        data-production-date="undefined"
                        data-value="53457"
                        data-currency="руб."
                        data-day="1"
                        data-bonus="0"
                        data-weight=""
                        data-price-label=""
                        data-cost-price="0"
                        style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;"
                      >
                        <span class="text-2"
                          >53 457.00 <span
                            class="w2p-icon-currency-rub2 currency-icon-type-2 d-inline"
                          ></span></span>
                      </div>
                    </div><div class="production-time-price-wrapper col">
                      <div
                        class="production-time-price disabled"
                        data-number="300"
                        data-production-day="undefined"
                        data-production-date="undefined"
                        data-value="undefined"
                        data-currency="undefined"
                        data-day="2"
                        data-bonus="undefined"
                        data-weight="undefined"
                        data-price-label=""
                        data-cost-price="undefined"
                        style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;"
                      >
                        -
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary w-100" data-dismiss="modal"
                >Подтвердить выбор</button
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(function () {
        $(".production-time-calc-modal").on("show.bs.modal", function () {
          setTimeout(function () {
            $(".production-time-calc-modal").append($(".modal-backdrop"));
          }, 1);
        });
      });
    </script>

    <style>
      .production-time-calc-modal .modal-dialog {
        z-index: 1050;
      }
    </style>
  </div><div class="front-calculation-module" name="1411">
    <div class="title-module-container" data-is-collapsed="0">
      <div class="front-calculation-module-title">
        <div class="number-module">1</div>
        <div class="title-module h4">Выберите параметры коробки</div>
      </div>
      <div class="front-calculation-module-desc small-text">
        Коробка "крышка-дно". Укажите основание коробки в мм: ширина (размер А),
        длина (размер В) и выберите доступную высоту (размер С). Обратите
        внимание, что для выбранной коробки высота крышки фиксированная.
      </div>
    </div><div class="calculation-module-attribute product-size-calc-module">
      <div class="form-group">
        <div class="label-name block-title text-gray-700">Ширина</div>
        <div class="calculation-module-select">
          <div
            class="dropdown bootstrap-select form-control change-product-calc product-size-select product-size-width"
          >
            <select
              class="form-control selectpicker change-product-calc product-size-select product-size-width"
              tabindex="-98"
            >
              <option value="60.00">60.00</option>
              <option value="80.00">80.00</option>
              <option value="100.00">100.00</option>
              <option value="150.00">150.00</option>
              <option value="170.00">170.00</option>
            </select><button
              type="button"
              class="btn dropdown-toggle btn-light"
              data-toggle="dropdown"
              role="combobox"
              aria-owns="bs-select-3"
              aria-haspopup="listbox"
              aria-expanded="false"
              title="60.00"
              ><div class="filter-option">
                <div class="filter-option-inner">
                  <div class="filter-option-inner-inner">60.00</div>
                </div>
              </div></button
            ><div class="dropdown-menu">
              <div
                class="inner show"
                role="listbox"
                id="bs-select-3"
                tabindex="-1"
              >
                <ul class="dropdown-menu inner show" role="presentation"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="label-name block-title text-gray-700">Длина</div>
        <div class="calculation-module-select">
          <div
            class="dropdown bootstrap-select form-control change-product-calc product-size-select product-size-height dropup"
          >
            <select
              class="form-control selectpicker change-product-calc product-size-select product-size-height"
              tabindex="-98"
            >
              <option data-width="60.00" value="60.00" style="display: block;">
                60.00
              </option>
              <option data-width="80.00" value="70.00" style="display: none;">
                70.00
              </option>
              <option data-width="80.00" value="80.00" style="display: none;">
                80.00
              </option>
              <option data-width="100.00" value="40.00" style="display: none;">
                40.00
              </option>
              <option data-width="100.00" value="50.00" style="display: none;">
                50.00
              </option>
              <option data-width="150.00" value="70.00" style="display: none;">
                70.00
              </option>
              <option data-width="170.00" value="60.00" style="display: none;">
                60.00
              </option>
            </select><button
              type="button"
              class="btn dropdown-toggle btn-light"
              data-toggle="dropdown"
              role="combobox"
              aria-owns="bs-select-1"
              aria-haspopup="listbox"
              aria-expanded="false"
              title="60.00"
              ><div class="filter-option">
                <div class="filter-option-inner">
                  <div class="filter-option-inner-inner">60.00</div>
                </div>
              </div></button
            ><div
              class="dropdown-menu"
              style="max-height: 618.203px; overflow: hidden; min-height: 107px;"
            >
              <div
                class="inner show"
                role="listbox"
                id="bs-select-1"
                tabindex="-1"
                aria-activedescendant="bs-select-1-0"
                style="max-height: 600.203px; overflow-y: auto; min-height: 89px;"
              >
                <ul
                  class="dropdown-menu inner show"
                  role="presentation"
                  style="margin-top: 0px; margin-bottom: 0px;"
                >
                  <li class="selected active">
                    <a
                      role="option"
                      class="dropdown-item active selected"
                      style="display: block;"
                      id="bs-select-1-0"
                      tabindex="0"
                      aria-setsize="7"
                      aria-posinset="1"
                      aria-selected="true"><span class="text"> 60.00 </span></a>
                  </li><li>
                    <a
                      role="option"
                      class="dropdown-item"
                      style="display: none;"
                      id="bs-select-1-1"
                      tabindex="0"><span class="text"> 70.00 </span></a>
                  </li><li>
                    <a
                      role="option"
                      class="dropdown-item"
                      style="display: none;"
                      id="bs-select-1-2"
                      tabindex="0"><span class="text"> 80.00 </span></a>
                  </li><li>
                    <a
                      role="option"
                      class="dropdown-item"
                      style="display: none;"
                      id="bs-select-1-3"
                      tabindex="0"><span class="text"> 40.00 </span></a>
                  </li><li>
                    <a
                      role="option"
                      class="dropdown-item"
                      style="display: none;"
                      id="bs-select-1-4"
                      tabindex="0"><span class="text"> 50.00 </span></a>
                  </li><li>
                    <a
                      role="option"
                      class="dropdown-item"
                      style="display: none;"
                      id="bs-select-1-5"
                      tabindex="0"><span class="text"> 70.00 </span></a>
                  </li><li>
                    <a
                      role="option"
                      class="dropdown-item"
                      style="display: none;"
                      id="bs-select-1-6"
                      tabindex="0"><span class="text"> 60.00 </span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-modules-container">
        <div class="icon-module-container">
          <div
            class="view-icon-container calculation-label-block product-size-label"
            data-width="60.00"
            data-height="60.00"
            style="width: 217px;"
          >
            <label
              class="background-label view-icon-container selected"
              style="width: 217px;"
            >
              <input
                value="2321"
                class="change-product-calc"
                type="radio"
                name="ProductCalculationModule[1411]"
                id="ProductCalculationModule_1411"
              />
              <div
                class="view-icon"
                style="background-image: url(https://static0.wow2print.com/storage/245/store/productSize/16368453145e6a01573d7386.46235542.png)"
              >
              </div>
              <div class="label-icon text-2 text-center">
                60х60х50 мм, крышка 30 мм
              </div>
            </label>
          </div>
        </div>
        <div class="icon-module-container hidden">
          <div
            class="view-icon-container calculation-label-block product-size-label"
            data-width="80.00"
            data-height="70.00"
            style="width: 217px;"
          >
            <label
              class="background-label view-icon-container"
              style="width: 217px;"
            >
              <input
                value="2322"
                class="change-product-calc"
                type="radio"
                name="ProductCalculationModule[1411]"
                id="ProductCalculationModule_1411"
              />
              <div
                class="view-icon"
                style="background-image: url(https://static0.wow2print.com/storage/245/store/productSize/7154452185e6a015629a576.72422627.png)"
              >
              </div>
              <div class="label-icon text-2 text-center">
                80х70х50 мм, крышка 30 мм
              </div>
            </label>
          </div>
        </div>
        <div class="icon-module-container hidden">
          <div
            class="view-icon-container calculation-label-block product-size-label"
            data-width="80.00"
            data-height="80.00"
            style="width: 217px;"
          >
            <label
              class="background-label view-icon-container"
              style="width: 217px;"
            >
              <input
                value="2323"
                class="change-product-calc"
                type="radio"
                name="ProductCalculationModule[1411]"
                id="ProductCalculationModule_1411"
              />
              <div
                class="view-icon"
                style="background-image: url(https://static0.wow2print.com/storage/245/store/productSize/2247157935e6a01551fa2e8.16135537.png)"
              >
              </div>
              <div class="label-icon text-2 text-center">
                80х80х50 мм, крышка 30 мм
              </div>
            </label>
          </div>
        </div>
        <div class="icon-module-container hidden">
          <div
            class="view-icon-container calculation-label-block product-size-label"
            data-width="100.00"
            data-height="40.00"
            style="width: 217px;"
          >
            <label
              class="background-label view-icon-container"
              style="width: 217px;"
            >
              <input
                value="2324"
                class="change-product-calc"
                type="radio"
                name="ProductCalculationModule[1411]"
                id="ProductCalculationModule_1411"
              />
              <div
                class="view-icon"
                style="background-image: url(https://static0.wow2print.com/storage/245/store/productSize/3465120275e6a01544d4236.44546763.png)"
              >
              </div>
              <div class="label-icon text-2 text-center">
                100х40х50 мм, крышка 30 мм
              </div>
            </label>
          </div>
        </div>
        <div class="icon-module-container hidden">
          <div
            class="view-icon-container calculation-label-block product-size-label"
            data-width="100.00"
            data-height="50.00"
            style="width: 217px;"
          >
            <label
              class="background-label view-icon-container"
              style="width: 217px;"
            >
              <input
                value="2415"
                class="change-product-calc"
                type="radio"
                name="ProductCalculationModule[1411]"
                id="ProductCalculationModule_1411"
              />
              <div
                class="view-icon"
                style="background-image: url(https://static0.wow2print.com/storage/245/store/productSize/20462667525e6a016f636417.11410551.png)"
              >
              </div>
              <div class="label-icon text-2 text-center">
                100х50х50 мм, крышка 30 мм
              </div>
            </label>
          </div>
        </div>
        <div class="icon-module-container hidden">
          <div
            class="view-icon-container calculation-label-block product-size-label"
            data-width="150.00"
            data-height="70.00"
            style="width: 217px;"
          >
            <label
              class="background-label view-icon-container"
              style="width: 217px;"
            >
              <input
                value="2416"
                class="change-product-calc"
                type="radio"
                name="ProductCalculationModule[1411]"
                id="ProductCalculationModule_1411"
              />
              <div
                class="view-icon"
                style="background-image: url(https://static0.wow2print.com/storage/245/store/productSize/5091274345e6a016e9ae796.61982197.png)"
              >
              </div>
              <div class="label-icon text-2 text-center">
                150х70х40 мм, крышка 26 мм
              </div>
            </label>
          </div>
        </div>
        <div class="icon-module-container hidden">
          <div
            class="view-icon-container calculation-label-block product-size-label"
            data-width="170.00"
            data-height="60.00"
            style="width: 217px;"
          >
            <label
              class="background-label view-icon-container"
              style="width: 217px;"
            >
              <input
                value="2417"
                class="change-product-calc"
                type="radio"
                name="ProductCalculationModule[1411]"
                id="ProductCalculationModule_1411"
              />
              <div
                class="view-icon"
                style="background-image: url(https://static0.wow2print.com/storage/245/store/productSize/15117201335e6a016bb88f40.21644000.png)"
              >
              </div>
              <div class="label-icon text-2 text-center">
                170х60х40 мм, крышка 26 мм
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div><div class="front-calculation-module" name="21725">
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[21725]"
        id="ProductCalculationModule_21725"
      />
    </div>
  </div><div class="front-calculation-module" name="9133" data-part="554">
    <div class="calculation-module-attribute product-size-calc-module hidden">
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">Размеры</div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="calculation-module-select field__set_change">
              <div
                class="dropdown bootstrap-select form-control change-product-calc"
              >
                <select
                  class="form-control selectpicker change-product-calc"
                  name="ProductCalculationModule[9133]"
                  data-module="9133"
                  tabindex="-98"
                >
                  <option
                    value="2325"
                    data-label="60х60х50"
                    data-object="0"
                    data-control="0"
                    selected="selected"
                    data-text="60х60х50">60х60х50</option
                  ><option
                    value="2326"
                    data-label="80х70х50"
                    data-object="0"
                    data-control="0"
                    data-text="80х70х50">80х70х50</option
                  ><option
                    value="2327"
                    data-label="100х50х50"
                    data-object="0"
                    data-control="0"
                    data-text="100х50х50">100х50х50</option
                  ><option
                    value="2328"
                    data-label="80х80х50"
                    data-object="0"
                    data-control="0"
                    data-text="80х80х50">80х80х50</option
                  ><option
                    value="2418"
                    data-label="100х40х50"
                    data-object="0"
                    data-control="0"
                    data-text="100х40х50">100х40х50</option
                  ><option
                    value="2419"
                    data-label="100х50х50"
                    data-object="0"
                    data-control="0"
                    data-text="100х50х50">100х50х50</option
                  ><option
                    value="2420"
                    data-label="150х70х40"
                    data-object="0"
                    data-control="0"
                    data-text="150х70х40">150х70х40</option
                  ><option
                    value="2421"
                    data-label="170х60х40"
                    data-object="0"
                    data-control="0"
                    data-text="170х60х40">170х60х40</option
                  >
                </select><button
                  type="button"
                  class="btn dropdown-toggle btn-light"
                  data-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-4"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="60х60х50"
                  ><div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">60х60х50</div>
                    </div>
                  </div></button
                ><div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-4"
                    tabindex="-1"
                  >
                    <ul class="dropdown-menu inner show" role="presentation">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
  </div><div class="front-calculation-module" name="9134" data-part="554">
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9134]"
        id="ProductCalculationModule_9134"
      />
    </div>
  </div><div
    class="front-calculation-module front-calculation-module-9134"
    name="9135"
  >
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping select-material-module"
      data-module="9135"
      data-hidden-child="true"
      data-parent="9134"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">Бумага на крышку</div>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="calculation-module-select field__set_change">
              <div class="dropdown bootstrap-select form-control">
                <select
                  class="form-control selectpicker"
                  name="ProductCalculationModule[9135]"
                  data-module="9135"
                  tabindex="-98"
                >
                  <option
                    value="15675"
                    data-label="Картон мелованный односторонний"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    selected="selected"
                    data-text="Картон мелованный односторонний"
                    >Картон мелованный односторонний</option
                  ><option
                    value="50343"
                    data-label="Картон двустороннего мелования"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    data-text="Картон двустороннего мелования"
                    >Картон двустороннего мелования</option
                  >
                </select><button
                  type="button"
                  class="btn dropdown-toggle btn-light"
                  data-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-5"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="Картон мелованный односторонний"
                  ><div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">
                        Картон мелованный односторонний
                      </div>
                    </div>
                  </div></button
                ><div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-5"
                    tabindex="-1"
                  >
                    <ul class="dropdown-menu inner show" role="presentation">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div class="calculation-module-attribute calculation-module-attribute-9135">
      <div
        class="calc-module-property calc-module-property-15675"
        data-module="9135"
        data-index="15675"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Плотность</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center selected"
                name="32"
                data-desc=""
                data-image=""
              >
                <input
                  value="32"
                  data-module="9135"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="240"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9135][property]"
                />
                <div class="label-icon text-2">240 г</div>
              </label>
            </div>
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="30"
                data-desc=""
                data-image=""
              >
                <input
                  value="30"
                  data-module="9135"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="280"
                  type="radio"
                  name="ProductCalculationModuleParams[9135][property]"
                />
                <div class="label-icon text-2">280 г</div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="calc-module-property calc-module-property-50343 hidden"
        data-module="9135"
        data-index="50343"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Плотность</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="28"
                data-desc=""
                data-image=""
              >
                <input
                  value="28"
                  data-module="9135"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="250"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9135][property]"
                />
                <div class="label-icon text-2">250 г</div>
              </label>
            </div>
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="29"
                data-desc=""
                data-image=""
              >
                <input
                  value="29"
                  data-module="9135"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="270"
                  type="radio"
                  name="ProductCalculationModuleParams[9135][property]"
                />
                <div class="label-icon text-2">270 г</div>
              </label>
            </div>
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="34"
                data-desc=""
                data-image=""
              >
                <input
                  value="34"
                  data-module="9135"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="300"
                  type="radio"
                  name="ProductCalculationModuleParams[9135][property]"
                />
                <div class="label-icon text-2">300 г</div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="front-calculation-module front-calculation-module-9134"
    name="9136"
  >
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping"
      data-orientation="[]"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">
          Красочность крышки
        </div>
        <div class="icon-modules-container">
          <div class="icon-module-container field__set_change">
            <div
              class="view-icon-container calculation-label-block"
              style="width: 138px;"
            >
              <label
                class="background-label selected"
                data-desc="Цветная печать с одной стороны (CMYK)"
                data-image=""
              >
                <input
                  value="15643"
                  class="change-product-calc"
                  data-module="9136"
                  data-object="0"
                  data-manual-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="4+0 (СМУК)"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModule[9136]"
                />
                <div
                  class="view-icon"
                  style="background-image: url('https://static0.wow2print.com/storage/245/store/productModule/9266076635e456c838afc75.30775671.png')"
                  data-icon-default="https://static0.wow2print.com/storage/245/store/productModule/9266076635e456c838afc75.30775671.png"
                  data-icon-horizontal=""
                  data-icon-vertical=""
                  data-icon-square=""
                >
                </div>
                <div class="label-icon text-2 text-center">4+0 (СМУК)</div>
              </label>
            </div>
          </div>
          <div class="icon-module-container field__set_change">
            <div
              class="view-icon-container calculation-label-block"
              style="width: 138px;"
            >
              <label
                class="background-label"
                data-desc="Черно-белая печать с одной стороны (Black)"
                data-image=""
              >
                <input
                  value="15642"
                  class="change-product-calc"
                  data-module="9136"
                  data-object="0"
                  data-manual-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="1+0 (Black)"
                  type="radio"
                  name="ProductCalculationModule[9136]"
                />
                <div
                  class="view-icon"
                  style="background-image: url('https://static0.wow2print.com/storage/245/store/productModule/9314213885e456c72a3f077.42396651.png')"
                  data-icon-default="https://static0.wow2print.com/storage/245/store/productModule/9314213885e456c72a3f077.42396651.png"
                  data-icon-horizontal=""
                  data-icon-vertical=""
                  data-icon-square=""
                >
                </div>
                <div class="label-icon text-2 text-center">1+0 (Black)</div>
              </label>
            </div>
          </div>
          <div class="icon-module-container field__set_change">
            <div
              class="view-icon-container calculation-label-block"
              style="width: 138px;"
            >
              <label
                class="background-label"
                data-desc="Без печати"
                data-image=""
              >
                <input
                  value="15644"
                  class="change-product-calc"
                  data-module="9136"
                  data-object="0"
                  data-manual-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="0+0"
                  type="radio"
                  name="ProductCalculationModule[9136]"
                />
                <div
                  class="view-icon"
                  style="background-image: url('https://static0.wow2print.com/storage/245/store/productModule/2744022215e456c838d0a50.41887362.png')"
                  data-icon-default="https://static0.wow2print.com/storage/245/store/productModule/2744022215e456c838d0a50.41887362.png"
                  data-icon-horizontal=""
                  data-icon-vertical=""
                  data-icon-square=""
                >
                </div>
                <div class="label-icon text-2 text-center">0+0</div>
              </label>
            </div>
          </div>
        </div>
        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div class="calculation-module-label-9136"></div>
  </div><div class="front-calculation-module" name="9137" data-part="554">
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping"
      data-orientation="[]"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">
          Ламинирование крышки
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="calculation-module-select field__set_change">
              <div
                class="dropdown bootstrap-select form-control change-product-calc"
              >
                <select
                  class="form-control selectpicker change-product-calc"
                  name="ProductCalculationModule[9137]"
                  data-module="9137"
                  tabindex="-98"
                >
                  <option
                    value="15647"
                    data-label="Да"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    selected="selected"
                    data-text="Да">Да</option
                  ><option
                    value="15645"
                    data-label="Нет"
                    data-object="0"
                    data-control="0"
                    data-type-input="1"
                    data-text="Нет">Нет</option
                  >
                </select><button
                  type="button"
                  class="btn dropdown-toggle btn-light"
                  data-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-6"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="Да"
                  ><div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">Да</div>
                    </div>
                  </div></button
                ><div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-6"
                    tabindex="-1"
                  >
                    <ul class="dropdown-menu inner show" role="presentation">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div class="calculation-module-label-9137"></div>
  </div><div
    class="front-calculation-module front-calculation-module-9137"
    name="9138"
  >
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping select-material-module"
      data-module="9138"
      data-hidden-child="true"
      data-parent="9137"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">
          Пленка для ламинирования крышки
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="calculation-module-select field__set_change">
              <div class="dropdown bootstrap-select form-control">
                <select
                  class="form-control selectpicker"
                  name="ProductCalculationModule[9138]"
                  data-module="9138"
                  tabindex="-98"
                >
                  <option
                    value="15648"
                    data-label="Матовая"
                    data-desc="Матовая пленка"
                    data-image="https://static0.wow2print.com/storage/245/handbook/material/4378407115ed63d56be6e47.73955529.jpg"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    selected="selected"
                    data-text="Матовая">Матовая</option
                  ><option
                    value="15649"
                    data-label="Глянцевая"
                    data-desc="Глянцевая пленка"
                    data-image="https://static0.wow2print.com/storage/245/handbook/material/11737289625ed63d6516dc87.58828606.jpg"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    data-text="Глянцевая">Глянцевая</option
                  >
                </select><button
                  type="button"
                  class="btn dropdown-toggle btn-light"
                  data-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-7"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="Матовая"
                  ><div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">Матовая</div>
                    </div>
                  </div></button
                ><div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-7"
                    tabindex="-1"
                  >
                    <ul class="dropdown-menu inner show" role="presentation">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div
      class="calculation-module-attribute calculation-module-attribute-9138 hidden"
    >
      <div
        class="calc-module-property calc-module-property-15648"
        data-module="9138"
        data-index="15648"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Толщина</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center selected"
                name="80"
                data-desc=""
                data-image=""
              >
                <input
                  value="80"
                  data-module="9138"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="0.028"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9138][property]"
                />
                <div class="label-icon text-2">0.028 мм</div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="calc-module-property calc-module-property-15649 hidden"
        data-module="9138"
        data-index="15649"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Толщина</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="79"
                data-desc=""
                data-image=""
              >
                <input
                  value="79"
                  data-module="9138"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="0.025"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9138][property]"
                />
                <div class="label-icon text-2">0.025 мм</div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="front-calculation-module front-calculation-module-9137"
    name="9139"
  >
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9139]"
        id="ProductCalculationModule_9139"
      />
    </div>
  </div><div class="front-calculation-module" name="9140" data-part="554">
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9140]"
        id="ProductCalculationModule_9140"
      />
    </div>
  </div><div class="front-calculation-module" name="9141" data-part="554">
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9141]"
        id="ProductCalculationModule_9141"
      />
    </div>
  </div><div class="front-calculation-module" name="9142" data-part="555">
    <div class="calculation-module-attribute product-size-calc-module hidden">
      <div class="calculation-module-row">
        <input
          type="hidden"
          value="0"
          name="ProductCalculationModule[9142]"
          id="ProductCalculationModule_9142"
        />
        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
  </div><div class="front-calculation-module" name="9143" data-part="555">
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9143]"
        id="ProductCalculationModule_9143"
      />
    </div>
  </div><div
    class="front-calculation-module front-calculation-module-9143"
    name="9144"
  >
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping select-material-module"
      data-module="9144"
      data-hidden-child="true"
      data-parent="9143"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">Бумага на дно</div>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="calculation-module-select field__set_change">
              <div class="dropdown bootstrap-select form-control">
                <select
                  class="form-control selectpicker"
                  name="ProductCalculationModule[9144]"
                  data-module="9144"
                  tabindex="-98"
                >
                  <option
                    value="15677"
                    data-label="Картон мелованный односторонний"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    selected="selected"
                    data-text="Картон мелованный односторонний"
                    >Картон мелованный односторонний</option
                  ><option
                    value="15678"
                    data-label="Картон мелованный двусторонний"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    data-text="Картон мелованный двусторонний"
                    >Картон мелованный двусторонний</option
                  >
                </select><button
                  type="button"
                  class="btn dropdown-toggle btn-light"
                  data-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-8"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="Картон мелованный односторонний"
                  ><div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">
                        Картон мелованный односторонний
                      </div>
                    </div>
                  </div></button
                ><div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-8"
                    tabindex="-1"
                  >
                    <ul class="dropdown-menu inner show" role="presentation">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div class="calculation-module-attribute calculation-module-attribute-9144">
      <div
        class="calc-module-property calc-module-property-15677"
        data-module="9144"
        data-index="15677"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Плотность</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center selected"
                name="32"
                data-desc=""
                data-image=""
              >
                <input
                  value="32"
                  data-module="9144"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="240"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9144][property]"
                />
                <div class="label-icon text-2">240 г</div>
              </label>
            </div>
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="30"
                data-desc=""
                data-image=""
              >
                <input
                  value="30"
                  data-module="9144"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="280"
                  type="radio"
                  name="ProductCalculationModuleParams[9144][property]"
                />
                <div class="label-icon text-2">280 г</div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="calc-module-property calc-module-property-15678 hidden"
        data-module="9144"
        data-index="15678"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Плотность</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="32"
                data-desc=""
                data-image=""
              >
                <input
                  value="32"
                  data-module="9144"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="240"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9144][property]"
                />
                <div class="label-icon text-2">240 г</div>
              </label>
            </div>
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="30"
                data-desc=""
                data-image=""
              >
                <input
                  value="30"
                  data-module="9144"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="280"
                  type="radio"
                  name="ProductCalculationModuleParams[9144][property]"
                />
                <div class="label-icon text-2">280 г</div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="front-calculation-module front-calculation-module-9143"
    name="9145"
  >
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping"
      data-orientation="[]"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">Красочность дна</div>
        <div class="icon-modules-container">
          <div class="icon-module-container field__set_change">
            <div
              class="view-icon-container calculation-label-block"
              style="width: 138px;"
            >
              <label
                class="background-label selected"
                data-desc="Цветная печать с одной стороны (CMYK)"
                data-image=""
              >
                <input
                  value="15662"
                  class="change-product-calc"
                  data-module="9145"
                  data-object="0"
                  data-manual-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="4+0 (CMYK)"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModule[9145]"
                />
                <div
                  class="view-icon"
                  style="background-image: url('https://static0.wow2print.com/storage/245/store/productModule/4722954935e456eb3941945.31882068.png')"
                  data-icon-default="https://static0.wow2print.com/storage/245/store/productModule/4722954935e456eb3941945.31882068.png"
                  data-icon-horizontal=""
                  data-icon-vertical=""
                  data-icon-square=""
                >
                </div>
                <div class="label-icon text-2 text-center">4+0 (CMYK)</div>
              </label>
            </div>
          </div>
          <div class="icon-module-container field__set_change">
            <div
              class="view-icon-container calculation-label-block"
              style="width: 138px;"
            >
              <label
                class="background-label"
                data-desc="Черно-белая печать с одной стороны (Black)"
                data-image=""
              >
                <input
                  value="15661"
                  class="change-product-calc"
                  data-module="9145"
                  data-object="0"
                  data-manual-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="1+0 (Black)"
                  type="radio"
                  name="ProductCalculationModule[9145]"
                />
                <div
                  class="view-icon"
                  style="background-image: url('https://static0.wow2print.com/storage/245/store/productModule/20130523485e456eb3971dc7.40447960.png')"
                  data-icon-default="https://static0.wow2print.com/storage/245/store/productModule/20130523485e456eb3971dc7.40447960.png"
                  data-icon-horizontal=""
                  data-icon-vertical=""
                  data-icon-square=""
                >
                </div>
                <div class="label-icon text-2 text-center">1+0 (Black)</div>
              </label>
            </div>
          </div>
          <div class="icon-module-container field__set_change">
            <div
              class="view-icon-container calculation-label-block"
              style="width: 138px;"
            >
              <label
                class="background-label"
                data-desc="Без печати"
                data-image=""
              >
                <input
                  value="15663"
                  class="change-product-calc"
                  data-module="9145"
                  data-object="0"
                  data-manual-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="0+0"
                  type="radio"
                  name="ProductCalculationModule[9145]"
                />
                <div
                  class="view-icon"
                  style="background-image: url('https://static0.wow2print.com/storage/245/store/productModule/13799342915e456eb3991c34.76134029.png')"
                  data-icon-default="https://static0.wow2print.com/storage/245/store/productModule/13799342915e456eb3991c34.76134029.png"
                  data-icon-horizontal=""
                  data-icon-vertical=""
                  data-icon-square=""
                >
                </div>
                <div class="label-icon text-2 text-center">0+0</div>
              </label>
            </div>
          </div>
        </div>
        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div class="calculation-module-label-9145"></div>
  </div><div class="front-calculation-module" name="9146" data-part="555">
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping"
      data-orientation="[]"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">
          Ламинирование дна
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="calculation-module-select field__set_change">
              <div
                class="dropdown bootstrap-select form-control change-product-calc"
              >
                <select
                  class="form-control selectpicker change-product-calc"
                  name="ProductCalculationModule[9146]"
                  data-module="9146"
                  tabindex="-98"
                >
                  <option
                    value="15666"
                    data-label="Да"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    selected="selected"
                    data-text="Да">Да</option
                  ><option
                    value="15664"
                    data-label="Нет"
                    data-object="0"
                    data-control="0"
                    data-type-input="1"
                    data-text="Нет">Нет</option
                  >
                </select><button
                  type="button"
                  class="btn dropdown-toggle btn-light"
                  data-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-9"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="Да"
                  ><div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">Да</div>
                    </div>
                  </div></button
                ><div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-9"
                    tabindex="-1"
                  >
                    <ul class="dropdown-menu inner show" role="presentation">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div class="calculation-module-label-9146"></div>
  </div><div
    class="front-calculation-module front-calculation-module-9146"
    name="9147"
  >
    <div
      class="calculation-module-attribute calculation-module-attribute-grouping select-material-module"
      data-module="9147"
      data-hidden-child="true"
      data-parent="9146"
    >
      <div class="calculation-module-row">
        <div class="label-name block-title text-gray-700">
          Пленка для ламинирования дна
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="calculation-module-select field__set_change">
              <div class="dropdown bootstrap-select form-control">
                <select
                  class="form-control selectpicker"
                  name="ProductCalculationModule[9147]"
                  data-module="9147"
                  tabindex="-98"
                >
                  <option
                    value="15667"
                    data-label="Матовая"
                    data-desc="Матовая пленка"
                    data-image="https://static0.wow2print.com/storage/245/handbook/material/4378407115ed63d56be6e47.73955529.jpg"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    selected="selected"
                    data-text="Матовая">Матовая</option
                  ><option
                    value="15668"
                    data-label="Глянцевая"
                    data-desc="Глянцевая пленка"
                    data-image="https://static0.wow2print.com/storage/245/handbook/material/11737289625ed63d6516dc87.58828606.jpg"
                    data-object="1"
                    data-control="0"
                    data-type-input="1"
                    data-text="Глянцевая">Глянцевая</option
                  >
                </select><button
                  type="button"
                  class="btn dropdown-toggle btn-light"
                  data-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-10"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="Матовая"
                  ><div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">Матовая</div>
                    </div>
                  </div></button
                ><div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-10"
                    tabindex="-1"
                  >
                    <ul class="dropdown-menu inner show" role="presentation">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
          style="display: none"
        >
        </div>
      </div>
    </div>
    <div
      class="calculation-module-attribute calculation-module-attribute-9147 hidden"
    >
      <div
        class="calc-module-property calc-module-property-15667"
        data-module="9147"
        data-index="15667"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Толщина</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center selected"
                name="80"
                data-desc=""
                data-image=""
              >
                <input
                  value="80"
                  data-module="9147"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="0.028"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9147][property]"
                />
                <div class="label-icon text-2">0.028 мм</div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="calc-module-property calc-module-property-15668 hidden"
        data-module="9147"
        data-index="15668"
      >
        <div class="calculation-module-row">
          <div class="label-name block-title text-gray-700">Толщина</div>
          <div class="modules-container radio-modules-container">
            <div
              class="module-container radio-calc-block calculation-label-block field__set_change"
            >
              <label
                class="custom-label custom-label-block background-label text-center"
                name="79"
                data-desc=""
                data-image=""
              >
                <input
                  value="79"
                  data-module="9147"
                  data-object="0"
                  data-control="0"
                  data-exclude=""
                  data-text="0.025"
                  checked="checked"
                  type="radio"
                  name="ProductCalculationModuleParams[9147][property]"
                />
                <div class="label-icon text-2">0.025 мм</div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="front-calculation-module front-calculation-module-9146"
    name="9148"
  >
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9148]"
        id="ProductCalculationModule_9148"
      />
    </div>
  </div><div class="front-calculation-module" name="9777">
    <div class="calculation-module-attributes" style="position: relative">
      <div class="label-name block-title text-gray-700">
        Дополнительные услуги
      </div>
      <div
        class="calculation-module-attribute mb-2"
        style="border: 0; padding: 0; margin: 0;"
      >
        <div
          class="label-not-click"
          data-label="Проверка макета дизайнером"
          data-desc="Ваш макет дополнительно проверит дизайнер для большей надежности"
          data-image=""
        >
          <label
            class="not-click custom-label custom-label-block align-items-start"
          >
            <input
              value="16632"
              class="custom-input change-product-calc additional-services"
              style="display: inline; margin-top: 2px;"
              data-text="Проверка макета дизайнером"
              type="checkbox"
              name="ProductCalculationModule[9777][16632]"
              id="ProductCalculationModule_9777_16632"
            />
            <div>Проверка макета дизайнером</div>
          </label>
          <div
            class="popover calc-popover calc-popover--hidden text-gray-700 small-text"
            style="display: none"
          >
          </div>
        </div>
      </div>
    </div>
  </div><div class="front-calculation-module" name="9149" data-part="555">
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9149]"
        id="ProductCalculationModule_9149"
      />
    </div>
  </div><div class="front-calculation-module" name="9150" data-part="555">
    <div class="hidden">
      <input
        type="text"
        value="0"
        name="ProductCalculationModule[9150]"
        id="ProductCalculationModule_9150"
      />
    </div>
  </div><div class="front-calculation-module" name="9407"></div>
</form>

<div class="product-add-info">
  <div class="h4 product-add-info-title">Итог</div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="calculation-price-container">
        <div class="product-price-without-discount hidden"></div>
        <span
          class="product-add-cart-price product-add-cart-price-without-tax h2 d-block"
          data-percent="20"
          data-divide="120"
        >
          <span class="price-tax">39 201.25</span>
          <span class="w2p-icon-currency-rub2 currency-icon-type-2 d-inline"
          ></span>
        </span>
        <div class="mt-2 small-text">
          <span class="product-add-cart-price">
            <span class="price" data-label="руб.">47 041.50</span> ₽
          </span>
          (с НДС 20%)
          <div
            class="cashback-label text-gray-600"
            style="margin-top: 8px; display: none;"
          >
            Вы получите <span
              class="cashbackValue"
              data-max-bonus="0"
              data-admin-receipt="">0</span
            >
            бонусов
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0">
      <div class="product-text-params">
        <div class="product-name text-2">
          Коробка/упаковка крышка дно из картона
        </div>
        <div class="product-circulation-label mb-3">300 шт.</div>
        <div class="product-params-label d-flex flex-wrap">
          <span>
            Бумага на крышку: Картон мелованный односторонний,&nbsp;</span
          ><span> Плотность: 240,&nbsp;</span><span>
            Красочность крышки: 4+0 (СМУК),&nbsp;</span
          ><span> Ламинирование крышки: Да,&nbsp;</span><span>
            Пленка для ламинирования крышки: Матовая,&nbsp;</span
          ><span> Бумага на дно: Картон мелованный односторонний.&nbsp;</span>
        </div>
        <div class="product-rest-params-label d-none">
          <span> Плотность: 240,&nbsp;</span><span>
            Красочность дна: 4+0 (CMYK),&nbsp;</span
          ><span> Ламинирование дна: Да,&nbsp;</span><span>
            Пленка для ламинирования дна: Матовая.&nbsp;</span>
        </div>
        <div class="show-rest-params link pointer mt-3">
          Показать полное описание
        </div>
      </div>
    </div>
  </div>
</div>
