---
import Icon from "./Icon.astro";
const {columnOne, columnTwo, id, hidden} = Astro.props;
import replaceSpacesAfterPrepositions from "../scripts/words";


import sanitizeHtml from 'sanitize-html';
const cleanHtml = (rawHtml: any) => sanitizeHtml(rawHtml, {
       allowedTags: ['p', 'h1', 'h2' ,'br', 'strong', 'ol', 'ul', 'li', 'br', 'table', 'tbody', 'tr', 'td'], // Разрешенные теги
       allowedAttributes: {
        'a': ['href']
       } // Разрешенные атрибуты
   });

---
<div class:list={["fab-seo-block"]} data-id={`construction-${id+1}`} hidden={hidden}>
    <div class="fab-seo-block-wrap">
        <div class="fab-seo-block-column" set:html={cleanHtml(replaceSpacesAfterPrepositions(columnOne))} />
        <div class="fab-seo-block-column" set:html={cleanHtml(replaceSpacesAfterPrepositions(columnTwo))} />
    </div>
    <label class="fab-seo-toggle" for={id !== "" ? `seo-toggle-${id+1}` : `seo-toggle`}>
        <input hidden type="checkbox" name="" id={id !== "" ? `seo-toggle-${id+1}` : `seo-toggle`}>
        <Icon id="arrow" width="24" height="24" />
    </label>
</div>

<style lang="scss" is:global>
    .fab-seo-block {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows .5s;
        padding: var(--global-gap);
        background: var(--color-gray-1);
        color: var(--color-gray-4);
        row-gap: 2rem;
        &:has( input:checked) {
            grid-template-rows: 1fr;
        }
        & h2 {
            font-weight: 500;
        }


        & :is(h2, p, li) {
            font-family: var(--font-family);

            font-size: 1rem;
            margin: 0 0 .5em;
        }

        & p {
            font-family: var(--font-text);
            line-height: 1.4;
        }
    }
    .fab-seo-block-wrap {

        position: relative;
        overflow: hidden;
        min-height: 6rem;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
    .fab-seo-block-column {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
    .fab-seo-toggle {
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
        & input:checked + svg {
            transform: rotate(180deg);
        }
    }
    
</style>