---
import Icon from "./Icon.astro";
---

<div class="fab-seo-blog">
    <div class="fab-seo-blog-wrap">
        <div class="fab-seo-blog-column">
            <p>#Упаковка крышка-дно: #стандартная, #с вырезом под палец, #с бортом, #с наклонными бортами, #с накладками, #с объемным бортом</p>
            <p>#Упаковка магнитный клапан, #окном, #фигурный, #на лентах</p>
            <p>#Упаковка пенал: #открытый, #закрытый, #комбинированный</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus adipisci exercitationem dicta aliquid similique nihil modi enim nam est labore? Veritatis eius labore vel dignissimos culpa sequi, recusandae dolor tempore!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus adipisci exercitationem dicta aliquid similique nihil modi enim nam est labore? Veritatis eius labore vel dignissimos culpa sequi, recusandae dolor tempore!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus adipisci exercitationem dicta aliquid similique nihil modi enim nam est labore? Veritatis eius labore vel dignissimos culpa sequi, recusandae dolor tempore!</p>
        </div>
        <div class="fab-seo-blog-column">
            <p>#Коробка для книг, #с магнитным клапаном, #распошная, #кофр, #футляр</p>
            <p>#Упаковка магнитный клапан, #окном, #фигурный, #на лентах</p>
            <p>#Упаковка пенал: #открытый, #закрытый, #комбинированный</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus adipisci exercitationem dicta aliquid similique nihil modi enim nam est labore? Veritatis eius labore vel dignissimos culpa sequi, recusandae dolor tempore!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus adipisci exercitationem dicta aliquid similique nihil modi enim nam est labore? Veritatis eius labore vel dignissimos culpa sequi, recusandae dolor tempore!</p>
        </div>
    </div>
    <label class="fab-seo-toggle" for="seo-toggle">
        <input hidden type="checkbox" name="" id="seo-toggle">
        <Icon id="arrow" width="24" height="24" />
    </label>

</div>

<style lang="scss" is:global>
    .fab-seo-blog {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows .5s;
        padding: var(--global-gap);
        background: var(--color-gray-1);
        color: var(--color-gray-4);
        row-gap: 2rem;
        &:has( input:checked) {
            grid-template-rows: 1fr;
        }
    }
    .fab-seo-blog-wrap {

        position: relative;
        overflow: hidden;
        min-height: 6rem;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
    .fab-seo-blog-column {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
    .fab-seo-toggle {
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
        & input:checked + svg {
            transform: rotate(180deg);
        }


    }
</style>