---
import Icon from "./Icon.astro";
const {title, description, href} = Astro.props;
---

<div class="fab-tech-doc">
    <a href={href && href.replace("https://fineartbox.ru", "")} target="_blank">
        <Icon id="arrow-download" width="16" height="16" id="arrow-download" />
        <strong class="fab-tech-doc__title">{title}</strong>
    </a>
    <p>{description}</p>
</div>

<style lang="scss" is:global>
    .fab-tech-doc {
        display: flex;
        flex-direction: column;
        & :is(a, p) {
            font-size: 1rem;
        }
        & a {
            display: flex;
            flex-direction: column;
            color: var(--color-black);
            font-weight: 700;
            font-size: 1.25rem;
            &:hover {
                svg {
                    opacity: .7;
                }
            }
        }
    }
    .fab-tech-doc__title {
        margin: 1rem 0 0;
        font-size: 1.25rem;
    }
</style>