---
import Copyright from "./Footer/Copyright.astro";
import LegacyContent from "./Footer/LegacyContent.astro";
import SocialNetworks from "./Footer/SocialNetworks.astro";
import Icon from "./Icon.astro";
---


    <footer class="fab-footer">
        <ul class="fab-footer-menu">
            <li><a href="">Подарочная упаковка</a></li>
            <li><a href="">Картонные коробки</a></li>
            <li><a href="/projects_category/packages">Пакеты</a></li>
            <li><a href="/projects_category/type-of-lodgement">Ложементы</a></li>
            <li><a href="/materials/finish">Отделки</a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="/portfolio">Портфолио</a></li>
            <li><a href="">Клиенту</a></li>
            <li><a href="/blog">Блог</a></li>
        </ul>
        <hr/>
        <Copyright />
        <SocialNetworks />
        <LegacyContent />
    </footer>


<style lang="scss" is:global>

    .fab-footer {
        position: relative;
        grid-area: footer;
        display: grid;
        padding: 0 var(--global-gap);
        gap: calc(0.3 * var(--global-gap));
        grid-template-areas: "cop net"
                             "leg leg";



        & ul {
            display: flex;
            align-items: center;
            gap: .5em 1em;
        }
        .fab-footer-menu {
            justify-content: space-between;
        }

        & .fab-legacy-content {
            gap: 1.5rem;
            justify-content: space-between;
            @media (min-width: 768px) {
                justify-content: flex-end;
            }
        }

        & a {
            text-decoration: none;
        }

        & hr {
            @media (max-width: 767.99px) {
                display: none;
            }
        }

        @media (min-width: 768px) {
            
            grid-template-areas: "list list list list"
                                "line line line line"
                                "cop net . leg";
            gap: var(--global-gap);
            width: calc(100vw - var(--width-header) - 1.1rem);
        }
        @media (min-width: 1440px) {
            // margin: 0 auto;
            // min-width: calc(1200px);
            width: calc(1200px)
        }

    }

    .fab-footer-menu { grid-area: list;}
    .fab-footer hr { grid-area: line;}
    .fab-copyright { grid-area: cop;}
    .fab-social-networks { grid-area: net;}
    .fab-legacy-content {grid-area: leg;}

    .fab-footer-menu {
        flex-wrap: wrap;
        @media (max-width:797.99px) {
            display: none!important;
        }
    }

    .fab-copyright {
        margin: 0 1.5em 0 0;
    }



</style>

<script>
    let footer = document.querySelector(".fab-footer");

    const resizeFooter = () => {
        if (window.innerWidth > 1440) {
            footer.style.left = `${(document.querySelector(".fab-header").getBoundingClientRect().left - 1200)}px`  ;
        }
        else {
            footer.style.left = ""
        }
    }
    resizeFooter();
    window.addEventListener("DOMContentLoaded", resizeFooter);
    window.addEventListener("load", resizeFooter);
    window.addEventListener("resize", resizeFooter);
</script>