---
import CustomGrid from "./CustomGrid.astro";
---

<section>
    <h2>Победитель RosUpack 2025</h2>
    <CustomGrid columns="3">
        <div style="display: grid;">
            <img style="grid-area: auto / span 2" src="https://static0.wow2print.com/storage/119/content/image/1323870206685e1d1982ae34.53769421.webp" alt="" />
            <img style="grid-area: " src="https://static0.wow2print.com/storage/119/content/image/315388972685e1d189377b7.58188489.webp" alt="" />
            <img style="grid-area: " src="https://static0.wow2print.com/storage/119/content/image/1701091673685e1d194cb6c4.43744843.webp" alt="" />
        </div>
        <div>
            <p>Наша компания стала победителем в номинации «полиграфический арт-объект как медиакитв премиальном сегменте» на ежегодной выставке RosUpack 2025. Advent Creative Box — мини-лаборатория FINEARTBOX и арт-объект для презентации.</p>
            <p>Формат адвента: десять мини-кубов, каждая грань — буква, вместе — ВЕЧНОСТЬ / FINEARTBOX.</p>
            <p>Каждый куб раскрывает уникальную историю бренда, демонстрируя высокий уровень технологий производства; вовлекая, удивляя, подчёркивая статус премиального исполнения.</p>
        </div>
        <img src="https://static0.wow2print.com/storage/119/content/image/2063315343685e1d1b2ea320.80868156.webp" alt="">
    </CustomGrid>
</section>
