---
import FeatureItem from "./FeatureItem.astro";
---

<section class="cb-features">
    <h2>Преимущества</h2>
    <div class="cb-features-grid fab-scrollbar">
    <FeatureItem
        id="1"
        title="Все технологии упаковки в одном месте"
        description="Наше производсво оснащено автоматическими линиями по производству кашированной упаковки в Москве"
    />
        <FeatureItem
        id="2"
        title="Приверженность качеству"
        description="Контроль на всех участках производства; от макетирования до тестовых образцов, производства, упаковки и логистики"
    />
        <FeatureItem
        id="3"
        title="Конструкторские решения"
        description="Разработаем упаковку любой сложности и оптимизируем её с учетом автоматических линий производства"
    />
        <FeatureItem
        id="4"
        title="Профессиональный менеджмент"
        description="Менеджеры по упакоке проходят обучение на производстве и профессионально помогут клиенту в правильном выборе"
    />
        <FeatureItem
        id="5"
        title="Оптимизация стоимости"
        description="Оптимизируя и автоматизируя производство, снижаем издержки клиента по себестоимости продукции"
    />
        <FeatureItem
        id="6"
        title="Все технологии упаковки в одном месте"
        description="Наше производсво оснащено автоматическими линиями по производству кашированной упаковки в Москве"
    />
    </div>

</section>

<style lang="scss">
    .cb-features-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

    }
</style>