---
import FeatureItem from "./FeatureItem.astro";
---

<section class="cb-features">
    <h2>Преимущества</h2>
    <div class="cb-features-grid fab-scrollbar">
    <FeatureItem
        id="1"
        title="Все технологии упаковки в одном месте"
        description="Производим упаковку в Москве на автоматизированных линиях. Все под одной крышей: от проектирования до готовой коробки"
    />
        <FeatureItem
        id="4"
        title="Контроль на каждом этапе"
        description="Следим за качеством с самого начала: от макета, тестовых образцов до упаковки и доставки. Проверяем все — до мельчайших деталей"
    />
        <FeatureItem
        id="2"
        title="Конструкторский подход"
        description="Разработаем упаковку под ваш продукт — любой формы и сложности. Учтем все: вес, габариты, логистику и удобство в использовании"
    />
        <FeatureItem
        id="5"
        title="Профессиональный менеджмент"
        description="Наши менеджеры проходят обучение на производстве, подскажут, как выбрать упаковку и сократить бюджет без потерь в качестве. Будут рядом на всех этапах проекта"
    />
        <FeatureItem
        id="3"
        title="Оптимизация стоимости"
        description="Автоматизированное производство снижает издержки. А мы подбираем материалы и конструкцию так, чтобы упаковка выглядела дорого — а стоила разумно"
    />
        <FeatureItem
        id="6"
        title="Быстро и точно"
        description="Работаем по четким срокам. Все рассчитано: сколько времени займет производство, сколько будет стоить и когда вы получите результат"
    />
    </div>

</section>

<style lang="scss">
    .cb-features-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

    }
</style>