<ul class="fab-legacy-content">
    <li>
        <!-- a href="#" class="link--gray">Карта сайта</a>-->
    </li>
    <li>
        <a href="/agreement" class="link--gray">Политика конфиденциальности</a>
    </li>
</ul>


<style lang="scss">
    .fab-legacy-content {
        gap: 1.5rem;
        justify-content: space-between;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }
    }
</style>