---
import TestAdaptiveBanner from "../components/TestAdaptiveBanner.astro";
import Layout from "../layout.astro";
---

<Layout>
    <div class="fab-page">
        <div class="content-grid">
            <TestAdaptiveBanner />
        </div>
    </div>
</Layout>