---
import CustomGrid from "../components/CustomGrid.astro";
import OneHero from "../components/OneHero.astro";
import SubscribeBlock from "../components/SubscribeBlock.astro";
import Layout from "../layout.astro";

//https://static0.wow2print.com/storage/119/content/image/1783892835685e5ebdcf9729.20840707.webp

const Banner = {
    Banner: {
        backgoundDesktop: "https://static0.wow2print.com/storage/119/content/image/1783892835685e5ebdcf9729.20840707.webp",
        backgroundMobile: "https://static0.wow2print.com/storage/119/content/image/1783892835685e5ebdcf9729.20840707.webp"
    }
}
---

<Layout title="Доставка">
    <div class="fab-page">
        <div class="content-grid">
            <OneHero {...Banner} />
            <section>
                <h1>Доставка</h1>
                <CustomGrid columns="2">
                    <p>Клиент может выбрать способ получения своего заказа несколькими способами, указанными ниже. Стоимость доставки зависит от адреса и выбранного способа доставки.</p>
                    <p>Точная стоимость доставки будет добавлена к общей стоимости заказа перед оплатой. Клиент может воспользоваться предложенными вариантами или предложить свой вариант.</p>
                </CustomGrid>
            </section>
            <section>
                <CustomGrid classes="fab-scrollbar" columns="2">
                    <div class="fab-delivery-block">
                        <h2>Доставка транспортной компанией</h2>
                        <img src="https://static0.wow2print.com/storage/119/content/image/70569311685e54a5bb4799.88515548.webp" alt="">
                        <div class="fab-delivery-parameters">
                            <p>Осуществляется логистами нашей компании по Москве и Московской области, для крупногабаритных грузов привлекаются сторонние транспортные компании. Детали: место и время уточняются отдельно.</p>
                            <br />
                            <p>Стоимость – 5000 руб и более</p>
                        </div>
                    </div>
                    <div class="fab-delivery-block">
                        <h2>Курьерская доставка</h2>
                        <img src="https://static0.wow2print.com/storage/119/content/image/46418326685e54a62a7317.52989093.webp" alt="">
                        <div class="fab-delivery-parameters">
                            <p>После изготовления заказа, менеджер свяжется с вами, чтобы согласовать дату и время доставки. Как правило, заказ доставляется на следующий рабочий день, с 10:00 до 18:00.</p>
                            <br />
                            <p>Стоимость – 1500 руб</p>
                        </div>
                    </div>
                    <div class="fab-delivery-block">
                        <h2>Самовывоз из типографии</h2>
                        <img src="https://static0.wow2print.com/storage/119/content/image/365851872685e54a67d2887.91438982.webp" alt="">
                        <div>
                            <p>Вы можете забрать заказ самостоятельно в нашем офисе по адресу: Москва, ул. Зорге, 15 к1 в рабочие дни с 9:00 до 18:00 по факту оплаты и наличии доверенности.</p>
                        </div>
                    </div>
                    <div class="fab-delivery-block">
                        <h2>Доставка по России</h2>
                        <img src="https://static0.wow2print.com/storage/119/content/image/580269904685e54a6c72439.62718671.webp" alt="">
                        <p>Мы сотрудничаем с ведущими почтовыми и грузовыми компаниями. Выбор зависит от веса груза и места и времени доставки, подробности уточнит менеджер.</p>
                    </div>
                    <div class="fab-delivery-block" style="grid-column: 1 / -1;">
                        <h2>Ответственность за сохранность</h2>
                        <p>Компания отвечает за качество и сохранность тиража до момента передачи клиенту.</p>
                    </div>
                    <!-- <div class="fab-delivery-block">
                        <h2>Выбор клиента</h2>
                        <p>Клиент может воспользоваться доставкой компании, выбрать курьерскую доставку или предложить свой вариант.</p>
                        <h2>Ответственность за сохранность</h2>
                        <p>Компания отвечает за качество и сохранность тиража до момента передачи клиенту.</p>
                        <h2>Особые условия транспортировки</h2>
                        <p>Учитываются особые требования к упаковке и транспортировке полиграфической продукции.</p>
                    </div> -->
                </CustomGrid>
                
            </section>
            <SubscribeBlock />
        </div>
    </div>
</Layout>

<style lang="scss" is:global>
    .fab-delivery-block {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        & h2 {
            font-size: var(--size-h3);
        }

        & h3 {
            font-size: 1.25rem;
            font-family: var(--font-family);
            font-weight: 500;
        }

        & > div:not([class]) {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;
        }
                @media (max-width: 991.99px) {
            min-width: clamp(18rem, 10.7066rem + 27.2285vw, 30rem);
        }
    }
</style>