---
import Announce from "../components/Announce.astro";
import Type1 from "../components/Cards/Type1.astro";
import CustomGrid from "../components/CustomGrid.astro";
import OneHero from "../components/OneHero.astro";
import SEOBlock from "../components/SEOBlock.astro";
import SubscribeBlock from "../components/SubscribeBlock.astro";
import Layout from "../layout.astro";

const Banner = {
    Banner: {
        backgoundDesktop: "https://static0.wow2print.com/storage/119/content/image/1074544932685a4678c73537.69585542.webp",
        backgroundMobile: "https://static0.wow2print.com/storage/119/content/image/1074544932685a4678c73537.69585542.webp"
    }
}

const SEO = {
    columnOne: "<h2 style=margin-bottom:10px>Изготовление коробок с ложементом</h2><p>Компания «FineArtBox» более 10 лет создает различные виды упаковки на заказ. Как показывает многолетний опыт, производство упаковки напрямую связано с изготовлением дополнительных внутренних элементов или ложементов , которые фиксируют изделия внутри коробки. Упаковка с ложементом необходима не только для хрупких товаров, но и для многих других. В зависимости от разновидности ложемента – конструкция вставки выполняет различные задачи.</p><h2 style=margin-bottom:10px>Основные функции ложемента</h2><p>Дополнительные вставки (ложементы) внутри картонной коробки могут иметь разную конфигурацию и изготавливаются не только из картона, но и других материалов.</p><p>Ложементы выполняют следующие функции:</p><ul><li>Фиксация. Это основная задача ложемента. Особенно важную роль он играет при упаковке хрупких изделий (посуды, керамических, стеклянных изделий, сувениров). Надежно зафиксированные товары остаются в неподвижном состоянии в процессе транспортировки.</li><li>Защита от механических повреждений и амортизация. Некоторые виды продукции нуждаются в мягкой подкладке, поэтому для создания вкладки используются такие материалы как поролон и вспененная резина. Они уменьшают риск повреждений и создают мягкую амортизацию, чтобы сохранить целостность товаров.</li><li>Декорирование. Ложемент может быть в первозданном виде или декорирован бумагой, тканью, флоком, бархатом. Подарочная коробка с ложементом из ткани, дизайнерского картона, флока помогает элегантно зафиксировать вложение, придать презентабельный вид и создать ощущение премиального подарка.</li></ul><h2 style=margin-bottom:10px>Разновидности материалов</h2><p>Производственная компания «FineArtBox» изготавливает коробки с ложементом из наиболее популярных материалов. У нас вы можете заказать индивидуальный дизайн фиксирующего или декоративного ложемента для определенного типа изделий и упаковок.</p>",
    columnTwo: "<p>В нашей линейке представлены следующие варианты ложементов:</p> <ul> <li>Картонный. Он применяется в случаях, когда требуется зафиксировать или исключить соприкосновение вложений в упаковке. Коробка с ложементом из картона востребована при производстве и упаковке посуды, электроники, алкогольной продукции и т.д. В качестве материала может быть использован дизайнерский картон или бумага, если нужно зафиксировать небольшой корпоративный сувенир. </li> <li>Поролоновый. Такой вариант необходим для продукции сложной формы. Из поролона легко создать соответствующую форму, которая будет точно повторять контуры товара и надежно фиксировать его в упаковке. Для декорирования поролона можно использовать драпировку любым текстилем. </li> <li>Изолоновый. Это особый эластичный ячеистый пенополиэтилен. Он выполняет как декоративную, так и защитную функцию. Часто используется для упаковки различного оборудования, в том числе дорогостоящего. Материал обеспечивает хорошую амортизацию и защиту от ударов. </li> <li>Текстильный. Драпировка тканью – лучший вариант для оформления подарочных вложений, сувенирной продукции. в качестве драпировки может использоваться любая красивая ткань (бархат, шелк, атлас и т.д.). </li> <li>ЭВА. Материал представляет собой вспененный каучук. Это экологически чистый полимерный материал с шелковистой поверхностью. Он хорошо склеивается, что важно при формировании сложных конструкций. ЭВА применяется при упаковке сувениров, оптических инструментов, измерительных приборов, различной аппаратуры. </li> <li>Флокированный. Идеальный способ оформления дорогих подарков (ювелирных изделий, косметики, аксессуаров). </li> </ul> <h2 style='margin-bottom: 10px;'>Преимущества заказа в «FineArtBox»</h2> <p>В нашей компании можно заказать изготовление коробок с ложементом любого типа. Мы используем современное оборудование и технологии. Опытные конструкторы и технологи изготовят для вас ложемент по индивидуальному заказу в короткие сроки. Оформить заказ вам помогут менеджер или дизайнер, свяжитесь с нами по телефону +7 (495) 215-09-77 или напишите на почту sale@fineartbox.ru или в онлайн-чат. </p>"
}
---

<Layout title="Ложементы">
    <div class="fab-page">
        <div class="content-grid">
            <OneHero {...Banner}  />
            <section>
                <h1 class="h2">Ложементы</h1>
                <CustomGrid columns="2">
                    <div>
                        <p>Современная упаковка состоит из множества конструктивных элементов, которые предназначены усилить её защитные свойства. Одним из таких элементов является ложемент — от французского logement.</p>
                    </div>
                    <div>
                        <p>Сегодня так называют вкладыш из пенополимеров, картона или пластика, который закрепляет продукцию внутри контейнера. Он повторяет форму и очертания любого товара, заключенного в нем.</p>
                    </div>
                </CustomGrid>
            </section>
            <Announce
                maxWidthBlock="552px"
                marginBlock="0 auto"
                fontSize=""
                text="Два столетия назад этим словом называли первые стрелковые окопы. А сооружения для минных зарядов, которые подкладывали под укрепления противника, именовались минными ложементами."
            />
            <section>
                <h2>Функции</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>Главная цель создания упаковки любого вида — защита её содержимого. Поэтому каждый ложемент должен выполнять следующие задачи:</p>
                    </div>
                    <div>
                        <ul>
                            <li>Надежная фиксация товара в таре</li>
                            <li>Амортизация ударов, тряски, вибрации при транспортировке</li>
                            <li>Разделение содержимого для исключения соударений, сколов</li>
                            <li>Комфортное хранение и использование товара</li>
                            <li>Защита от влаги, плесени, перепадов температур</li>
                        </ul>
                    </div>
                </CustomGrid>
                <CustomGrid classes="fl-col-reverse-mob" columns="3">
                    <figure>
                        <img src="https://static0.wow2print.com/storage/119/content/image/720344195685a4676133e70.21443713.webp" alt="">
                        <figcaption>Ложементы из пенополиэтилена, защитная упаковка из вспененного полиэтилена (ППЭ)</figcaption>
                    </figure>
                    <figure style="grid-area: auto / span 2">
                        <img src="https://static0.wow2print.com/storage/119/content/image/856384640685a4675b78b78.39085495.webp" alt="">
                    </figure>
                </CustomGrid>
            </section>
            <Announce
                maxWidthBlock="552px"
                marginBlock="0 auto"
                fontSize=""
                text="Упаковка настолько прочно вошла в наш быт, что мы даже не замечаем, как часто с ней сталкиваемся. Меняются и требования к тому, какие функции она должна выполнять. Теперь от неё ждут не только надежной защиты, но и облегчения обращения с товарами, удобства при их распределении, перевозке или складировании."
            />
            <section>
                <h2>Виды</h2>
                <CustomGrid columns="2">
                    <p>В зависимости от конструкции, материала, назначения, вкладыши бывают упаковочные и рекламные. Упаковочные фиксируют товар при перевозке или хранении, разделяют внутренние элементы, берегут их от ударов, условий окружающей среды.</p>
                    <p>Рекламные создаются, чтобы выделить плюсы товара. Их используют для подарочной или выставочной упаковки. Такие вкладыши применяются в ювелирных, косметических магазинах, в отделах электроники.</p>
                </CustomGrid>
                <CustomGrid columns="2">
                    <figure>
                        <img src="https://static0.wow2print.com/storage/119/content/image/66702280685a46764eacf3.85511339.webp" alt="">
                        <figcaption>Рекламнный ложемент</figcaption>
                    </figure>
                    <figure>
                        <img src="https://static0.wow2print.com/storage/119/content/image/1994998658685a46769b2680.21753074.webp" alt="">
                        <figcaption>Упаковочный ложемент</figcaption>
                    </figure>
                        
                </CustomGrid>
            </section>

            <section>
                <h2>Из чего делают</h2>
                <CustomGrid classes={"fab-scrollbar"} columns="3">
                    <Type1
                        src="https://static0.wow2print.com/storage/119/content/image/752447823685a467913d428.20031589.webp"
                        title="Картон"
                        description="Ложемент из картона отличает недорогая себестоимость, легкий вес, универсальность. Обычно используются МГК, с печатью, дизайнерский, переплетный картоны."
                    />
                    <Type1
                        src="https://static0.wow2print.com/storage/119/content/image/1254280609685a467969e946.11830574.webp"
                        title="Вспененный материал "
                        description="Материал этиленвинилацетат (вспенненный каучук) имеет гладкую текстуру и обладают высокой прочностью, подходит для высечки и лазерной резки. Диапозон толщины от 2 до 100 мм."
                    />
                    <Type1
                        src="https://static0.wow2print.com/storage/119/content/image/131337731685a4679ccf624.30716712.webp"
                        title="Флокированный"
                        description="Для ложемента применяют материал с покрытием из мелких волокон флока разной толщины, цвета и текстуры. Защищает от царапин и повреждений. Имеет эстетический вид и антистатические свойства."
                    />
                    <Type1
                        src="https://static0.wow2print.com/storage/119/content/image/189686426685a467a046f06.04190339.webp"
                        title="Пластиковый"
                        description="Изготавливают из полимерных материалов. Отличается разнообразием форм. Бывает разные варианты: ABS-пластик, полистирол, ПЭТ, полипропилен."
                    />
                    <Type1
                        src="https://static0.wow2print.com/storage/119/content/image/1479242037685a467a437f26.65748818.webp"
                        title="Шелковый"
                        description="Шелковая ткань хорошо драпируется и придает изделию премиальный вид. Применяют для любых предметов как простой, так и сложной формы."
                    />
                    <Type1
                        src="https://static0.wow2print.com/storage/119/content/image/1171101204685a467a89ae28.46329788.webp"
                        title="Бумажный наполнитель"
                        description="Экологичный вариант для наполнения упаковки. Обладает легким весом, универсальным применением для защиты товаров сложной формы."
                    />
                </CustomGrid>
            </section>
            <Announce
                maxWidthBlock="552px"
                marginBlock="0 auto"
                fontSize=""
                text="Верный выбор материала не только сохранит вашу продукцию в целости. Это еще и отличный способ показать покупателю, что вы заботитесь обо всех тонкостях своей работы. Надежно упакованный товар в красивом аккуратном ложементе всегда выглядит эффектно. Многоразовый вкладыш можно дополнить флокированным бархатным покрытием, нанести на него слоган или логотип компании."
            />
            <section>
                <h2>Применение</h2>
                <CustomGrid columns="2">
                    <div>
                        <p>Область применения внутренних вставок и вкладышей огромна. Их используют в медицине, строительстве, торговле, на заводах, в автомастерских.</p>
                        <p>Они незаменимы при упаковке хрупких товаров, организации хранения, создании защитных элементов. Благодаря своей универсальности, они помогают повысить безопасность, снизить износ и продлить срок службы продукции.</p>
                    </div>
                    <div>
                        <h3 style="font-family: var(--font-family)">Изготавливаем ложементы для:</h3>
                        <ul style="--columns-count: 2">
                            <li>медицинского оборудования</li>
                            <li>наборов инструментов</li>
                            <li>компьютерной техники</li>
                            <li>коммуникационных приборов</li>
                            <li>сотен других товаров</li>
                            <li>лекарственных препаратов</li>
                            <li>музыкальных инструментов</li>
                            <li>военной техники</li>
                            <li>товаров из стекла, фарфора</li>
                        </ul>
                    </div>
                </CustomGrid>
            </section>
            <CustomGrid columns="2">
                <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: var(--global-gap)">
                    <img  src="https://static0.wow2print.com/storage/119/content/image/1428376062685a467786ec84.57864141.webp" alt="">
                    <img  src="https://static0.wow2print.com/storage/119/content/image/1849043820685a4677d33534.25115552.webp" alt="">
                    <img style="grid-area: auto / span 2" src="https://static0.wow2print.com/storage/119/content/image/422135301685a46782e3f49.52962619.webp" alt="">
                </div>
                <img src="https://static0.wow2print.com/storage/119/content/image/1204149755685a4677191b71.50851804.webp" alt="">
            </CustomGrid>
            <CustomGrid columns="2">
                <p>Проект «FineArtBox» — команда профессионалов с 20 летним опытом и собственное современное предприятие с инновационными технологиями, способное качественно и оперативно выполнять сложные задачи в области полиграфии и производства подарочной и промышленной упаковки под заказ.</p>
                <p>Наше предприятие оснащено парком печатного оборудования HP Indigo и специализированным оборудованием для выполнения отделочных работ для производства подарочной упаковки и коробок из картона, в том числе круглых коробок различных диаметров, пакетов и других рекламных материалов.</p>

            </CustomGrid>
            <SubscribeBlock />
            <SEOBlock {...SEO}  />
        </div>

    </div>
</Layout>