---
import CustomGrid from "../components/CustomGrid.astro";
import DownloadDocument from "../components/DownloadDocument.astro";
import Icon from "../components/Icon.astro";
import SubscribeBlock from "../components/SubscribeBlock.astro";
import Layout from "../layout.astro";
import StaticPageSprite from "../sprites/StaticPagesSprite.astro";
---

<Layout title="Оплата">
    <div class="fab-page">
        <div class="content-grid">
            <section>
                <h1>Оплата</h1>
                <CustomGrid columns="2">
                    <DownloadDocument
                        idIcon="credit-card"
                        title="По счёту для юр. лиц (20% НДС)"
                        desc="Вы можете запросить необходимые вам документы в бухгалтерии"
                    >
                    <p>Проведение платежа осуществляется через сервис ЮКаssa с использованием банковских карт Visa, Mastercard и Мир, выпущенных российскими банками. Для оплаты и ввода данных вашей карты, вы будете автоматически перенаправлены на защищенный платежный шлюз ЮКаssa.</p>
                    <p>Если ваш банк поддерживает технологии безопасных онлайн-платежей Verified By Visa, MasterCard SecureCode или MIR Accept, для подтверждения платежа потребуется ввод дополнительного пароля, где используется 256-битное шифрование.</p>
                </DownloadDocument>
                <DownloadDocument
                        idIcon="papers"
                        title="По счёту (5% по УСН)"
                        desc="Вы можете запросить необходимые вам документы в бухгалтерии"
                    >
                    <p>Для юридических лиц предусмотрена возможность оплаты заказа путем безналичного перевода денежных средств с 20% НДС или 5% по УСН. Выполнение заказа начинается после поступления оплаты на наш расчетный счет.</p>
                    <script data-b24-form="click/82/qk552s" data-skip-moving="true" is:inline>(function(w,d,u){var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://cdn-ru.bitrix24.ru/b13109976/crm/form/loader_82.js');</script>
                    <a href="#" style="color:var(--color-orange)"><Icon width="16" height="16" id="arrow-download" />Запросить реквизиты</a>
                    
                </DownloadDocument>
                </CustomGrid>
            </section>

            <SubscribeBlock />
            
        </div>
    </div>
    <StaticPageSprite />
</Layout>

<!-- <style lang="scss">
    .fab-custom-grid {
        display: grid;
        gap: var(--global-gap);
        @media (min-width: 768px) {
            grid-template-columns: var(--grid-template-columns);
        }

    }
    .fab-contacts-block {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
</style> -->