---
import BannerBox from "../components/TestComponents/BannerBox.astro";
import Sandbox from "../sandbox.astro";
import SpriteFeature from "../SpriteFeature.astro";
import SEOBlock from "../components/SEOBlock.astro";
import Footer from "../components/Footer.astro";
import GridBannersType1 from "../components/TestComponents/GridBannersType1.astro";
import Sprite from "../sprite.astro";
import SpriteConstructions from "../SpriteConstructions.astro";

const servicesData = {
    title: "Услуги",
    banners: [
        {
            backgroundDefault: "./Announce-Box-11.jpg",
            backgroundHover: "./Announce-Box-hover.jpg",
            title: "Разработка конструкции",
            description: "Текстовое описание"
        },
        {
            backgroundDefault: "./Announce-Box-22.jpg",
            backgroundHover: "./Announce-Box-hover.jpg",
            title: "Изготовление предтиражного образца",
            description: "Текстовое описание"
        },
        {
            backgroundDefault: "./Announce-Box-33.jpg",
            backgroundHover: "./Announce-Box-hover.jpg",
            title: "Отделка",
            description: "Текстовое описание"
        },
        {
            backgroundDefault: "./Announce-Box-44.jpg",
            backgroundHover: "./Announce-Box-hover.jpg",
            title: "Копакинг",
            description: "Текстовое описание"
        },
        {
            backgroundDefault: "./Announce-Box-55.jpg",
            backgroundHover: "./Announce-Box-hover.jpg",
            title: "Доставка",
            description: "Текстовое описание"
        },
        {
            title: "Доставка",
            href: ""
        }
    ]
}
---

<Sandbox title="Sandbox">

    <div class="fab-page">
        <div class="content-grid">
        <p>Footer Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quo, consequuntur quibusdam ea inventore velit, dignissimos nihil cupiditate iure accusantium quia, minima soluta perspiciatis ipsum provident repudiandae. Velit, ducimus dolor.</p>
    <Sprite />
</Sandbox>