<div class="fab-blog-item">
    <img src="/img/blog.jpg" alt="">
    <div>
        <h3>Оптовая упаковка для новогодних подарков — создайте магию праздника с FINEARTBOX</h3>
        <time>22 декабря 2023</time> 
    </div>

    <div class="fab-blog-item__annotation">
        Картонная упаковка новогодних подарков — простой и эффектный способ создать праздничное настроение, защитить содержимое и выразить заботу и внимание тому, кому предназначен презент. Профессиональное полиграфическое 3d-изделие, выполненное специалистами компании FINEARTBOX сделает праздничный момент волшебным для детей и взрослых. Но позаботиться об оптовом заказе лучше заранее.
    </div>
</div>

<style lang="scss" is:global>
    .fab-blog-item {
        display: flex;
        flex-direction: column;
        row-gap: var(--global-gap);
        & * {
            font-family: var(--font-family);
        }

        & time {
            color: var(--color-gray-4)
        }
    }
</style>