---
import SpriteFeature from "../../SpriteFeature.astro";
import BlogItem from "./BlogItem.astro";
---

<section class="fab-blog">
    <div style="display:none!important" class="widget-blog__news_item d-flex flex-column align-content-stretch align-items-center border-company-color-it link-container" data-url="/blog/advent-creative-box-iskusstvo-brendinga-v-kazhdoy-detali">
                                            <img src="https://static0.wow2print.com/storage/119/content/blog/11490640316851659b8757d2.34451437.jpg" alt="Advent Creative Box: искусство брендинга в каждой детали" title="Advent Creative Box: искусство брендинга в каждой детали" class="widget-blog__news_item_preview w-100" style="object-fit: cover; object-position: center;">
                                        <div>
                        <div class="widget-blog__news_item_date small-text">17-06-2025 03:36</div>
                        <div class="widget-blog__news_item_title"><h3 class="h4">Advent Creative Box: искусство брендинга в каждой детали</h3></div>
                        <div class="widget-blog__news_item_quote text-1">Advent Creative Box — это оригинальный демонстрационный инструмент для презентации продукта. Такая упаковка станет незаменимой в ситуациях, где важно не только показать продукт, но и рассказать позиционирование бренда через дизайн упаковки. Когда обычная коробка становится фоном, Адвент бокс превращается в центральное событие. Здесь каждая деталь работает на эмоцию, а сами коробочки становится элементами игры, вы уже не просто предлагаете услугу — вы создаете чувственный опыт, который запоминается и его хочется повторить.</div>
                                                    <div class="link widget-blog__news_item_read text-2">Перейти</div>
                                            </div>
                </div>
    <h2>Блог</h2>
    <BlogItem />
    <SpriteFeature />
</section>
