---
import DeadlineItem from "./DeadlineItem.astro";
---

<section class="fab-deadlines">
    <h2>Сроки в рабочих днях</h2>
    <div class="fab-deadlines-row">
        <DeadlineItem number="4" text={`<h3 class="caption caption--bold">Дизайн <br />и прототип</h3>`} />
        <DeadlineItem number="2" text={`<h3 class="caption caption--bold">Подготовка<br />к производству</h3>`} />
        <DeadlineItem number="10-30" text={`<h3 class="caption caption--bold">Изготовление</h3><p class="caption">В зависимости<br />от тиража и сезеона</p>`} />
    </div>
</section>

<style lang="scss" is:global>
    .fab-deadlines-row {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
        }
    }
</style>