---
const { number, text } = Astro.props
---

<div class="cb-deadline-item">
    <div class="cb-deadline-number">{number}</div>
    <div class="cb-deadline-about" set:html={text} />
</div>

<style lang="scss" is:global>
    .cb-deadline-item {
        display: flex;
        align-items: flex-start;
        column-gap: var(--global-gap);
        &:last-child .cb-deadline-number {
            text-align: right;
        }
        @media (max-width: 767.99px) {
            &:last-child {
                flex-direction: column;
            }
        }
    }
    .cb-deadline-number {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: clamp(4.5rem, 4.0599rem + 1.8779vw, 5rem);
        color: var(--color-orange);
        line-height: .9;

        & h3 {
            font-size: 1rem;

        }
        
    }
    .cb-deadline-about {
        
        & h3 {
            font-size: 1rem;
            font-weight: 700;
        }
    }
</style>