---
const {desktopColumns, backgroundDefault, title} = Astro.props;
---

<div class="fab-box-banner fab-box-banner--no-image" style={`
    --background-color: var(--color-orange);
    --background-default: url('${backgroundDefault}');
    --background-hover: url('/img/Announce-Box-hover.jpg');
    --desktop-columns: ${desktopColumns};
`}>
    <div class="fab-box-banner__shadow">
        <h3>{title}</h3>
        <p>Текстовое описание</p>
    </div>
</div>

<style lang="scss">
    .fab-box-banner {
        position: relative;
        background-image: var(--background-default);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 100%;
        min-height: 14.5rem;
        transition: ease .5s;
        grid-area: auto / span var(--desktop-columns);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: var(--color-white);


        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

        &:hover {
            background-size: 110%;
            & p {
                display: block;
                opacity: 1;
                max-height: 100%;
            }
        }

        & p {
            transition: ease .5s;
            // display: none;
            max-height: 0;
            opacity: 0;
        }
        &.fab-box-banner--no-image {
            background-color: var(--background-color);
            clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
        }
    }
    .fab-box-banner__shadow {
        padding: 1rem;
        background: linear-gradient(180deg, rgba(35, 31, 32, 0) 60.42%, rgba(35, 31, 32, 0.6) 97.91%);
    }
</style>
