---
import BannerBox from "../TestComponents/BannerBox.astro";
const {title, data} = Astro.props;
---
<section class="fab-grid-banners-type-1">
    {title && <h2>{title}</h2>}
    <div class="fab-grid-banners-type-1-wrap fab-scrollbar">
        {
            data?.map( box =>
                <BannerBox {...box} />
            )
        }
    </div>
</section>

<style lang="scss" is:global>
    .fab-grid-banners-type-1-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--global-gap);

    }
</style>