---
const { title } = Astro.props;
import "./styles/global.scss";
import "./styles/fonts.scss";
import "./styles/grid.scss";
import TestHeader from "./components/TestHeader.astro";
import TestFooter from "./components/TestFooter.astro";
import Sprite from "./sprite.astro";
import Footer from "./components/Footer.astro";
import Header from "./components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/splide.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.css">
    <style lang="scss" is:global>
        
    body {
        --width-page: 1440px;
        --width-header: 14rem;
        --header-height: 84px;
        --global-template-columns: 1fr minmax(0, calc(var(--width-page) - var(--width-header))) var(--width-header) 1fr;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: var(--header-height) 0 0;
        @media (min-width: 768px) {
            padding: 2rem 0 0;
        }
    }
    .main {
        flex: 1;
        @media (min-width: 768px) {
            display: grid;
            grid-template-areas: ". c h .";
            grid-template-columns: var(--global-template-columns);

        }
    }
    .content-html-source {
        grid-area: c;
    }
    </style>
</head>
<body>
    
    <main class="main">
        <Header />
        <div class="content-html-source">
            <slot />
        </div>
    </main>
    <Footer />
    <!-- <Footer /> -->
    <Sprite />

</body>
</html>